{{#content "style" mode="prepend"}}
<link rel="stylesheet" type="text/css" href="/assets/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-datetimepicker.min.css">
{{/content}}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="pg-header">
            <div class="row">
                <div class="col-xs-4">
                    <h4 class="page-title">Sections</h4>
                </div>
                <div class="col-xs-8 text-right">
                    <a href="#" class="btn btn-primary rounded" data-toggle="modal" data-target="#add_user"><i class="fa fa-plus"></i> Add Section</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table datatable">
                        <thead>
                            <tr>
                                <th>SL#</th>
                                <th style="width:30%;">Name</th>
                                <th>Description</th>
                                <th>Remarks</th>
                                <th>Created Date &amp; Time</th>
                                <th class="text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each section}}
                            <tr>
                                <td>{{math @index "+" 1}}</td>
                                <td><a href="#" data-toggle="modal" data-target="#view_users" data-section-id="{{this.id}}" data-description="{{this.description}}" data-name="{{this.name}}" data-remarks="{{this.remarks}}" id="view-section" >{{this.name}}</a></td>
                                <td>{{this.description}}</td>
                                <td>{{this.remarks}}</td>
                                <td>{{dateFormat this.createdAt "DD-MM-YYYY, hh:mm a"}}</td>
                                <td class="text-right">
                                   <a href="#" data-toggle="modal" data-target="#view_users" data-section-id="{{this.id}}" data-description="{{this.description}}" data-name="{{this.name}}" data-remarks="{{this.remarks}}" id="view-section" class="btn btn-success btn-sm"><i class="fa fa-eye m-r-5"></i></a>

                                    <a href="#" data-toggle="modal" data-target="#edit_users" data-section-id="{{this.id}}" data-description="{{this.description}}" data-name="{{this.name}}" data-remarks="{{this.remarks}}" id="edit-section" class="btn btn-info btn-sm"><i class="fa fa-pencil m-r-5"></i></a>
                                    <a href="#" data-toggle="modal" data-target="#delete_users" data-section-id="{{this.id}}" id="delete-section" class="btn btn-danger btn-sm"><i class="fa fa-trash-o m-r-5"></i></a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="add_user" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="modal-content modal-lg">
            <div class="modal-header">
                <h4 class="modal-title">Add Section</h4>
            </div>
            <div class="modal-body">
                <form class="m-b-30" name="addSection" id="addSection" method="POST">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Name<span class="text-danger">*</span></label>
                                <input class="form-control" type="text" id="name" name="name">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Description<span class="text-danger">*</span></label>
                                <textarea class="form-control" id="description" name="description" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Remarks<span class="text-danger">*</span></label>
                                <textarea class="form-control" id="remarks" name="remarks" rows="5"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="m-t-20 text-center">
                        <button class="btn btn-primary" type="button" id="btnAddSection">Create Section</button>
                        <a href="/section" class="btn btn-primary m-l-10">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="view_user" class="modal custom-modal fade modal1" role="dialog">
    <div class="modal-dialog">
        <button type="button" class="close" data-dismiss="modal">&times;</button>

        <!-- <button type="button" class=""></button> -->
        <div class="modal-content modal-lg">
            <div class="modal-header">
                <h4 class="modal-title">View Section</h4>
            </div>
            <div class="modal-body">
                <form class="m-b-30">
                    <div class="row">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Name<span class="text-danger">*</span></label>
                                <input disabled class="form-control floating" type="text" id="view_name" name="view_name" >
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Description<span class="text-danger">*</span></label>
                                <textarea disabled class="form-control floating" class="form-control" id="view_description" name="view_description" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Remarks<span class="text-danger">*</span></label>
                                <textarea disabled class="form-control floating" class="form-control" id="view_remarks" name="view_remarks" rows="5"></textarea>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>






<div id="edit_user" class="modal custom-modal fade section-modal" role="dialog">
    <div class="modal-dialog">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="modal-content modal-lg">
            <div class="modal-header">
                <h4 class="modal-title">Edit Section</h4>
            </div>
            <div class="modal-body">
                <form class="m-b-30" name="edit_section_frm" id="edit_section_frm" method="post">
                    <div class="row">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Name<span class="text-danger">*</span></label>
                                <input class="form-control" type="text" id="edit_name" name="edit_name">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Description<span class="text-danger">*</span></label>
                                <textarea class="form-control" id="edit_description" name="edit_description" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Remarks<span class="text-danger">*</span></label>
                                <textarea class="form-control" id="edit_remarks" name="edit_remarks" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="m-t-20 text-center">
                        <button class="btn btn-primary" id="btnEditSection">Edit Section</button>
                        <a href="/section" class="btn btn-primary m-l-10">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="delete_user" class="modal custom-modal fade del-section" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content modal-md">
            <div class="modal-header">
                <h4 class="modal-title">Delete Section</h4>
            </div>
            <form>
                <div class="modal-body card-box">
                    <p>are you sure you want to delete this section.?</p>
                    <div class="m-t-20"> <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                        <button type="submit" class="btn btn-danger delSectionBtn">Delete</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{{#content "script" mode="append"}}
<script type="text/javascript" src="/assets/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/assets/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/select2.min.js"></script>
<script type="text/javascript" src="/assets/js/moment.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>
<script type="text/javascript">
$(document).ready(function(e) {

    $("#btnAddSection").click(function() {
        $("#addSection").submit();
    });

    $("#addSection").validate({
        rules: {
            name: {
                required: true
            },
            description: {
                required: true
            },
            remarks: {
                required: true
            }
        },
        messages: {
            name: {
                required: "Name can't be blank"
            },
            description: {
                required: "Description can't be blank"
            },
            remarks: {
                required: "Remarks can't be blank"
            }
        },
        submitHandler:function(form) {
            var description = $("#description").val(),
            name = $("#name").val(),
            remarks = $("#remarks").val();
            $.ajax({
                type: "POST",
                url: "/section/add",
                data: {
                    name: name,
                    description: description,
                    remarks: remarks
                },
                beforeSend: function(xhr) {
                    xhr.setRequestHeader('X-CSRF-Token', "{{csrfToken}}");

                    $("#btnAddSection").prop('disabled', true);
                    $("#btnAddSection").html("Loading...");
                },
                success:function(response) {
                    if(response.add_section == 1)
                    {
                        $(`<div class="alert alert-success"><strong>Success! </strong>Section Added Successfully</div>`).insertBefore("#addSection");
                        setTimeout(function() {
                            window.location.href="/section";
                        }, 2000);
                    }
                    else if(response.add_section == 2){
                        $(`<div class="alert alert-danger"><strong>Error! </strong>Name Already exist</div>`).insertBefore("#addSection");
                        $(".alert").fadeTo(2000, 500).slideUp(500, function(){
                            $(".alert").remove();
                        });
                        $("#btnAddSection").prop('disabled', false);
                        $("#btnAddSection").html("Create Section");
                    }
                }
            });
        }
    });
});




//===================================================*************************************===================================================//
$(document).on('click', '#view-section', function(e){
    var section_id = $(this).data('section-id');
    var name = $(this).data('name');
    var description = $(this).data('description');
    var remarks = $(this).data('remarks');

    $("#view_name").val(name);
    $("#view_description").val(description);
    $("#view_remarks").val(remarks);

    localStorage.setItem('section_id',section_id);

    $('.modal1').modal("show");
});
/*=========================Starts Edit Sections==========================*/

$(document).on('click', '#edit-section', function(e){
    var section_id = $(this).data('section-id');
    var name = $(this).data('name');
    var description = $(this).data('description');
    var remarks = $(this).data('remarks');

    $("#edit_name").val(name);
    $("#edit_description").val(description);
    $("#edit_remarks").val(remarks);

    localStorage.setItem('section_id',section_id);

    $('.section-modal').modal("show");
});

$(document).ready(function(e) {

    $("#btnEditSection").click(function() {
        $("#edit_section_frm").submit();
    });

    $("#edit_section_frm").validate({
        rules: {
            edit_name: {
                required: true
            },
            edit_description: {
                required: true
            },
            edit_remarks: {
                required: true
            }
        },
        messages: {
            edit_name: {
                required: "Name can't be blank"
            },
            edit_description: {
                required: "Description can't be blank"
            },
            edit_remarks: {
                required: "Remarks can't be blank"
            }
        },
        submitHandler:function(form) {
            $.ajax({
                type: "POST",
                url:"/admin/edit-section/"+localStorage.getItem("section_id"),
                data:$("#edit_section_frm").serialize()+"&section_id="+localStorage.getItem("section_id"),
                beforeSend: function(xhr) {
                    xhr.setRequestHeader('X-CSRF-Token', "{{csrfToken}}");

                    $("#btnEditSection").prop('disabled', true);
                    $("#btnEditSection").html("Loading...");
                },
                success:function(response){
                    if(response.edit_section == 1)
                    {
                        $(`<div class="alert alert-success"><strong>Success! </strong>Section Edited Successfully</div>`).insertBefore("#edit_section_frm");
                        setTimeout(function() {
                            window.location.href="/section";
                        }, 2000);
                    }
                    else if(response.edit_section == 2){
                        $(`<div class="alert alert-danger"><strong>Error! </strong>Name Already exist</div>`).insertBefore("#edit_section_frm");
                        $(".alert").fadeTo(2000, 500).slideUp(500, function(){
                            $(".alert").remove();
                        });
                        $("#btnEditSection").prop('disabled', false);
                        $("#btnEditSection").html("Edit Section");
                    }
                },
                error:function(xhr){

                }
            });
        }
    });
});



/*=========================Ends Edit Sections==========================*/
/*=========================starts delete Sections==========================*/

$(document).on('click','#delete-section', function(e){
    var section_id = $(this).data('section-id');

    localStorage.setItem('section_id',section_id);

    $('.del-section').modal("show");
});
$(document).on('click', '.delSectionBtn', function(e){
    $.ajax({
        type: "POST",
        url:"/admin/delete-section/"+localStorage.getItem("section_id"),
        data:"&section_id="+localStorage.getItem("section_id"),
        beforeSend: function(xhr) {
            xhr.setRequestHeader('X-CSRF-Token', "{{csrfToken}}");

        },
        success:function(response){
            if(response.del_section == 1)
            {
                window.location.href="/section";
            }
        },
        error:function(xhr){

        }
    });
    e.preventDefault();
})

/*=========================Ends delete Sections==========================*/
</script>
{{/content}}
