{{#content "style" mode="prepend"}}
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-multiselect.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-datetimepicker.min.css">
{{/content}}

<div class="page-wrapper">
   <div class="content container-fluid">
      <div class="row">
         <div class="col-sm-8">
            <h4 class="page-title">Update Attorney</h4>
         </div>
      </div>
      
      <form id="addattorneyform" method="POST" action="/employees/add">
         <input type="hidden" name="_csrf" value="{{csrfToken}}">   
         <div class="card-box">
            <h3 class="card-title">Basic Informations</h3>
            <div class="row">
               <div class="col-md-12">
                     <div class="row">
                        <div class="col-md-6">
                           <div class="form-group form-focus">
                              <label class="control-label">First Name</label>
                              <input type="text" class="form-control floating" 
                                     id="first_name" name="first_name"  
                              />
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="form-group form-focus">
                              <label class="control-label">Last Name</label>
                              <input type="text" class="form-control floating" 
                              id="last_name" name="last_name" 
                              />
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="form-group form-focus">
                              <label class="control-label">Email</label>
                              <input type="text" class="form-control floating" 
                                     id="email" name="email" 
                              />
                              <span id="uniqueEmail" style="color: red; font-weight:bolder"></span>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="form-group form-focus">
                              <label class="control-label">Password</label>
                              <input type="password" class="form-control floating" 
                                     id="password" name="password" 
                              />
                           </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                <label class="control-label">Birth Date</label>
                                <div class="cal-icon">
                                    <input class="form-control floating datetimepicker"
                                        type="text" id="dob" name="dob"
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus select-focus">
                                <label class="control-label">Gender</label>
                                <select class="form-control floating" id="gender" name="gender">
                                    <option value="">Select Gender</option>
                                    <option value="M">Male</option>
                                    <option value="F">Female</option>
                                </select>
                            </div>
                        </div>
                     </div>
                  
               </div>
            </div>
         </div>
         <div class="card-box">
            <h3 class="card-title">Contact Informations</h3>
            <div class="row">
               <div class="col-md-12">
                  <div class="form-group form-focus">
                     <label class="control-label">Address</label>
                     <input type="text" class="form-control floating" 
                     id="address" name="address"
                     />
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group form-focus">
                     <label class="control-label">Country</label>
                     <select id="country" name="country" class="form-control">
                                            {{#each country}}
                                            <option value="{{this.id}}">{{this.name}}</option>
											{{/each}}
                                        </select>
                     {{!-- <input type="text" class="form-control floating" 
                     id="country" name="country"
                     /> --}}
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group form-focus">
                     <label class="control-label">State</label>
                     <select id="state" name="state" class="form-control"  onchange="return cityByState();">
                                            {{#each state}}
                                            <option value="{{this.id}}">{{this.name}}</option>
											{{/each}}
                     </select>
                     {{!-- <input type="text" class="form-control floating" 
                     id="state" name="state"
                     /> --}}
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group form-focus">
                     <label class="control-label">City</label>
                     <select id="city" name="city" class="form-control" onchange="return pinByCity()">
                                                          
                                                            
                     </select>
                     {{!-- <input type="text" class="form-control floating" 
                     id="city" name="city"
                     /> --}}
                  </div>
               </div>
                
               
               <div class="col-md-6">
                  <div class="form-group form-focus">
                     <label class="control-label">Mobile No</label>
                     <input type="text" class="form-control floating" 
                     id="mobile_no" name="mobile_no"
                     maxlength="10" minlength="10"
                     />
                  </div>
               </div>
               
            </div>
         </div>
         
         <div class="text-center m-t-20">
            <button class="btn btn-primary btn-lg" type="button" id="btnAdd">Save Attorney</button>
         </div>
      </form>
   </div>
   
</div>
{{#content "script" mode="append"}}
    <script type="text/javascript" src="/assets/js/moment.min.js"></script>
    <script type="text/javascript" src="/assets/js/select2.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap-multiselect.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>
    <script>
	function cityByState(){
	 
		var state = $('#state').val();
		$.ajax({
			url: "/client/findCityByState",
			method: "POST",
			data: {state_id: state},
			beforeSend: function(xhr) {
				xhr.setRequestHeader('X-CSRF-Token', "{{csrfToken}}");
				},
			success: function(resp){
				console.log(resp);
				var test = document.getElementsByClassName('test');
							for(var i = 0; i < test.length; i++){
								test[i].remove();
								 
							}
							$.each(resp.city, function(key, value) {
							console.log(value);
							
		$("#city").append('<option class="test" value="'+value.id+'">'+value.name+'</option>');
	});
			},
			error: function(xhr){

			}
		});
	}
	function pinByCity(){
		var city = document.getElementById('city').value;
		 
		$.ajax({
			url: "/client/findPinByCity",
			method: "POST",
			data: {
				city_id: city
			},
			beforeSend: function(xhr) {
										xhr.setRequestHeader('X-CSRF-Token', "{{csrfToken}}");


									},
			success: function(resp){
				var test1 = document.getElementsByClassName('pin');
							for(var i = 0; i < test1.length; i++){
								test1[i].remove();
								 
							}
							$.each(resp.pin, function(key, value) {
							console.log(value);
							
		$("#pin_code").append('<option class="pin" value="'+value.id+'">'+value.zip+'</option>');
	});
			},
			error: function(xhr){

			}
		});
	}
</script>
    <script type="text/javascript">
        $(document).ready(function() {
             
            

            $("#btnAdd").click(function() {
							$("#addattorneyform").submit();
						});

						$("#addattorneyform").validate({
							rules: {
								 first_name: {
                                        required: true
                                    },
                                    last_name: {
                                        required: true
                                    },
                                    email: {
                                        required: true,
                                        email: true
                                    },
                                    password: {
                                        required: true
                                    } 
							},
							messages: {
								 first_name: {
                                        required: "First name can't be blank"
                                    },
                                    last_name: {
                                        required: "Last name can't be blank"
                                    },
                                    email: {
                                        required: "Email can't be blank",
                                        email: "Must be valid email"
                                    },
                                    password: {
                                        required: "Password can't be blank"
                                    } 
                                
							},
							submitHandler:function(form) {
                                var first_name = $('#first_name').val();
                                var last_name = $('#last_name').val();
                                var email = $('#email').val();
                                var password = $('#password').val();
                                var dob =  $('#dob').val() ;
                                var gender = $('#gender').val();
                                var address  = $('#address').val();
                                var city = $('#city').val();
                                var state = $('#state').val();
                                var country = $('#country').val();
                                var mobile_no = $('#mobile_no').val();
								$.ajax({
									type: "POST",
									url: "/attorneys/add",
									data: {
									first_name: first_name,
                                    last_name: last_name,
                                    email: email,
                                    password: password,
                                    dob: dob,
                                    gender: gender,
                                    address: address,
                                    city: city,
                                    state: state,
                                    country: country,
                                    mobile_no: mobile_no
									},
									beforeSend: function(xhr) {
										xhr.setRequestHeader('X-CSRF-Token', "{{csrfToken}}");


									},
									success: function(response) {
									if(response.msg === "error"){
										document.getElementById('uniqueEmail').innerHTML = "Email id already been exists";
									}else{
                                       // document.getElementById('uniqueEmail').innerHTML = "Okay";
										window.location.href = '/attorneys';
									}
									},
									error: function(xhr){

									}
								});

							}
						});
        });
    </script>
{{/content}}