{{#content "style" mode="prepend"}}
<link rel="stylesheet" type="text/css" href="/assets/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-datetimepicker.min.css"> {{/content}}
<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="row">
      {{#if success_message}}
      <div class="alert alert-danger">
        <strong>Error! </strong>{{success_message}}
      </div>
      {{/if}}
      <div class="col-xs-4">
        <h4 class="page-title">ATTORNEY</h4>
      </div>
      <div class="col-xs-8 text-right m-b-30">
        <a href="/attorneys/addAttorney" class="btn btn-primary rounded">
          <i class="fa fa-plus"></i> Add Attorney</a>
      </div>
    </div>
    <form method="GET">
      <div class="row filter-row">
        <div class="col-sm-3 col-xs-6">
          <div class="form-group form-focus">
            <label class="control-label">Attorney Type</label>
            <input type="text" class="form-control floating" id="searchActive" name="searchActive" />
          </div>
        </div>

        <div class="col-sm-3 col-xs-6">
          <button type="submit" class="btn btn-success btn-block"> Search </button>
        </div>
        <div class="col-sm-3 col-xs-6">
          <a href="/activitypage" class="btn btn-success btn-block"> Clear </a>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-striped custom-table datatable" id="searchData">
            <thead>
              <tr>
                <th>Email</th>
                <th>Name</th>
                <th>Mobile</th>
                <th class="text-right">Action</th>
              </tr>
            </thead>
            <tbody id="mainTable">
              {{#each row}}
              <tr>
                <td>{{this.email}}</td>
                <td>
                  <a href="/attorneys/viewdata/{{this.id}}" >
                    {{this.first_name}}{{this.last_name}}
                  </a>
                </td>
                <td>{{this.mobile_no}}</td>
                <td class="text-right">
                  <a href="/attorneys/viewdata/{{this.id}}" class="btn btn-success btn-sm">
                    <i class="fa fa-eye m-r-5"></i>
                  </a>
                  <a href="/attorneys/edit/{{this.id}}" class="btn btn-info btn-sm">
                    <i class="fa fa-pencil m-r-5"></i>
                  </a>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{{#content "script" mode="append"}}
<script type="text/javascript" src="/assets/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/assets/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/select2.min.js"></script>
<script type="text/javascript" src="/assets/js/moment.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>ACTIVITY {{/content}}
