{{#content "style" mode="prepend"}}
<link rel="stylesheet" type="text/css" href="/assets/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-datetimepicker.min.css"> {{/content}}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="pg-header">
            <div class="row">
                {{#if success_message}}
                <div class="alert alert-success">
                    <strong>Success! </strong>{{success_message}}
                </div>
                {{/if}} {{#if success_edit_message}}
                <div class="alert alert-success">
                    <strong>Success! </strong>{{success_edit_message}}
                </div>
                {{/if}}
                <div class="col-xs-4">
                    <h4 class="page-title">Employee</h4>
                </div>
                <div class="col-xs-8 text-righ">
                    <a href="/employees/add" class="btn btn-primary pull-right rounded">
                        <i class="fa fa-plus"></i> Add Employee</a>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive employees-table">
                    <table class="table table-striped custom-table datatable">
                        <thead>
                            <tr>
                                <th style="width:200px;" >Name</th>
                                <th >Email</th>
                                <th>Mobile</th>
                                <th>Created Date</th>
                                <th class="text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each employee}} {{#if_eq this.role_id "4"}}
                            <tr>
                                <td>
                                    <a href="javascript:void(0)" class="avatar">{{first_letter this.first_name}}</a>
                                    <h2 style="color:blue;">
                                      <a href="/employee/view/{{this.id}}">{{this.first_name}}&nbsp;{{this.last_name}}</a>
                                    </h2>
                                </td>
                                <td>{{this.email}}</td>
                                <td  class="number_validator">{{this.mobile_no}}</td>
                                <td>{{dateFormat this.createdAt "DD-MM-YYYY"}}</td>
                                <td class="text-right">

                                  <a href="/employee/view/{{this.id}}" class="btn btn-success btn-sm">
                                    <i class="fa fa-eye m-r-5"></i>
                                  </a>


                                    <a href="/employee/edit/{{this.id}}" class="btn btn-success btn-sm">
                                        <i class="fa fa-pencil m-r-5"></i>
                                    </a>

                                     <a href="javascript:void(0)" data-toggle="modal" data-toggle="modal" data-target="delete_users" data-employee-id="{{this.id}}" id="delete_employee" class="btn btn-danger btn-sm">
                                        <i class="fa fa-trash-o m-r-5"></i>
                                    </a>
                                </td>
                            </tr>
                            {{/if_eq}} 
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>



<div id="delete_user" class="modal custom-modal fade del-employee" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content modal-md">
            <div class="modal-header">
                <h4 class="modal-title">Delete Employee</h4>
            </div>
            <form>
                <div class="modal-body card-box">
                    <p>Please select at least one contact</p>
                    <div class="m-t-20" id="delDiv">
                        <a href="#" class="btn btn-default" data-dismiss="modal" >Close</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{{#content "script" mode="append"}}
<script type="text/javascript" src="/assets/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/assets/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/select2.min.js"></script>
<script type="text/javascript" src="/assets/js/moment.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.min.js"></script>


<script>
$(document).on('click','#delete_employee', function(e){
    var employee_id = $(this).data('employee-id');
    $("#removeBtnDelete").remove();
    $("#delete_user").modal('show');
    $("#delDiv").append('<a href="/employee/delete/'+ employee_id +'" class="btn btn-danger" id="removeBtnDelete">'+"Delete"+ '</a>');
});


</script>

 {{/content}}
