
{{#content "style" mode="prepend"}}
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-multiselect.css">
<link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-datetimepicker.min.css"> {{/content}}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h4 class="page-title">View Employee</h4>
            </div>

            <div class="right">
              <a href="/employee/edit/{{empl.id}}" class="btn btn-primary pull-right rounded">
                <i class="fa fa-pencil"></i> Edit Employee</a>
            </div>
        </div>
        {{#if error_edit_message}}
        <div class="alert alert-danger">
            <strong>Error! </strong>{{error_edit_message}}
        </div>
        {{/if}}
        <form >
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <div class="card-box">
                <h3 class="card-title">Basic Informations</h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-focus">
                                    <label class="control-label">First Name</label>
                                    <input disabled class="form-control floating"  type="text" class="form-control floating" id="first_name" name="first_name" value="{{empl.first_name}}" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus">
                                    <label class="control-label">Last Name</label>
                                    <input disabled class="form-control floating"  type="text" class="form-control floating" id="last_name" name="last_name" value="{{empl.last_name}}" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group form-focus">
                                    <label class="control-label">Email</label>
                                    <input disabled class="form-control floating"  type="text" class="form-control floating" id="email" name="email" value="{{empl.email}}" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus">
                                    <label class="control-label">Birth Date</label>
                                    <div class="cal-icon">
                                        <input disabled class="form-control floating"  class="form-control floating datetimepicker" type="text" id="dob" name="dob" value="{{dateFormat empl.dob " DD-MM-YYYY
                                            "}}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus select-focus">
                                    <label class="control-label">Gender</label>
                                    <select disabled class="form-control floating"  id="gender" name="gender">
                                        <option value="M" {{#if_eq empl.gender "M"}} selected="selected" {{/if_eq}}>Male</option>
                                        <option value="F" {{#if_eq empl.gender "F"}} selected="selected" {{/if_eq}}>Female</option>
                                        <option value="O" {{#if_eq empl.gender "O"}} selected="selected" {{/if_eq}}>Others</option>

                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card-box">
                <h3 class="card-title">Contact Informations</h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group form-focus">
                            <label class="control-label">Mobile No</label>
                            <input disabled class="form-control floating number_validator"  type="text" class="form-control floating" id="mobile_no" name="mobile_no" value="{{empl.mobile_no}}"
                            />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group form-focus">
                            <label class="control-label">Address</label>
                            <input disabled class="form-control floating"  type="text" class="form-control floating" id="address" name="address" value="{{empl.address}}" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-focus">
                            <select disabled class="form-control floating"  id="country" name="country">
                                <option value="">Select Country</option>
                                {{#each country}}
                                <option value="{{this.id}}" {{#if_eq this.id 233}} selected="selected" {{/if_eq}}>{{this.name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-focus">
                            <select disabled class="form-control floating"  id="state" name="state">
                                <option value="">select State</option>
                                {{#each state}}
                                <option value="{{this.id}}" {{#if_eq this.id ../empl.state}} selected="selected" {{/if_eq}}>{{this.name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-focus">
                            <select disabled class="form-control floating" id="city" name="city">
                                <option value="">Select City</option>
                                {{#each city}}
                                <option value="{{this.id}}" {{#if_eq this.id ../empl.city}} selected="selected" {{/if_eq}}>{{this.name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-focus">
                            <select disabled class="form-control floating"  id="zipcode" name="zipcode">
                                <option value="">Select Zipcode</option>
                                {{#each zipcode}}
                                <option value="{{this.id}}" {{#if_eq this.id ../empl.zipcode}} selected="selected" {{/if_eq}}>{{this.zip}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group form-focus select-focus">
                            <label class="control-label">Base Firm Name</label>
                            <select disabled class="form-control floating"  id="firm_id" name="firm_id">
                                {{#each firms}}
                                <option value="{{this.id}}" {{#inArray ../arr this.id}} selected="selected" {{/inArray}}>{{this.title}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
            </div>


        </form>
    </div>

</div>
{{#content "script" mode="append"}}
<script type="text/javascript" src="/assets/js/moment.min.js"></script>
<script type="text/javascript" src="/assets/js/select2.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-multiselect.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>
<script type="text/javascript">

{{/content}}
