{{#content "style" mode="prepend"}}
<link rel="stylesheet" type="text/css" href="/assets/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-datetimepicker.min.css">
{{/content}}
<div class="page-wrapper">
                <div class="content container-fluid">
					<div class="row">
						<div class="col-sm-8">
							<h4 class="page-title">Add Client</h4>
						</div>
					</div>
					<form id="targetForm" method="POST" action="/targetinsert/add">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
						<div class="card-box">
							<h3 class="card-title">Basic Informations</h3>
							<div class="row">
								<div class="col-md-12">
									{{!-- <div class="profile-img-wrap">
										<img class="inline-block" src="assets/img/user.jpg" alt="user">
										<div class="fileupload btn btn-default">
											<span class="btn-text">edit</span>
											<input class="upload" type="file">
										</div>
									</div> --}}
									<div class="profile-basic">
										<div class="row">
											<div class="col-md-12">
												<div class="form-group  ">

													<input type="radio" id="target_type" name="target_type" value="I" onclick="client()" checked/>Individual Client
													<input type="radio" id="org_type" name="target_type" value="O" onclick="organization()"/>Organization
												</div>
											</div>
											{{!-- Organization First part starts --}}
											<div class="col-md-6" class="organization" id="organization_name_div" style="display:none;">
												<div class="form-group form-focus">
													<label class="control-label">Organization Name</label>
													<input type="text" class="form-control floating" id="organization_name" name="organization_name" />
												</div>
											</div>
											<div class="col-md-6" class="organization" id="organization_id_div" style="display:none;">
												<div class="form-group form-focus">
													<label class="control-label">Organization Id</label>
													<input type="text" class="form-control floating" id="organization_id" name="organization_id" />
												</div>
											</div>
											<div class="col-md-6" class="organization" id="organization_code_div" style="display:none;">
												<div class="form-group form-focus">
													<label class="control-label">Organization Code</label>
													<input type="text" class="form-control floating" id="organization_code" name="organization_code" />
												</div>
											</div>
											{{!-- Organization First part ends --}}
											<div class="col-md-6" id="client_first_name">
												<div class="form-group form-focus">
													<label class="control-label">First Name</label>
													<input type="text" class="form-control floating" id="target_first_name" name="target_first_name" />
												</div>
											</div>

											<div class="col-md-6" id="client_last_name">
												<div class="form-group form-focus" >
													<label class="control-label">Last Name</label>
													<input type="text" class="form-control floating" id="target_last_name" name="target_last_name"/>
												</div>
											</div>
											<div class="col-md-6" id="client_id_div">
												<div class="form-group form-focus" >
													<label class="control-label">Target Id</label>
													<input type="text" class="form-control floating" id="target_id" name="target_id"/>
												</div>
											</div>
                      <div class="col-md-6" id="client_id_div">
                        <div class="form-group form-focus" >
                          <label class="control-label">Target Code</label>
                          <input type="text" class="form-control floating" id="target_code" name="target_code"/>
                        </div>
                      </div>

											<div class="col-md-6" id="">
												<div class="form-group form-focus" >
													<label class="control-label">Email Id :</label>
													<input type="text" class="form-control floating" id="email" name="email"/>
													<span id="uniqueEmail" style="color: red"><span>
												</div>
											</div>
											<div class="col-md-6" id="date_of_birth">
												<div class="form-group form-focus">
													<label class="control-label">Birth Date</label>
													<div class="cal-icon">
														<input class="form-control floating datetimepicker"
															type="text" id="date_of_birth" name="date_of_birth">
													</div>
												</div>
											</div>
											<div class="col-md-6" id="gender">
												<div class="form-group form-focus">
													<label class="control-label ">Gender :</label>
													<select id="gender" name="gender" class="form-control"  >
														 <option value="">Select gender</option>
														<option value="Male">Male</option>
														<option value="Male">Female</option>
														<option value="Male">Others</option>

													</select>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group form-focus select-focus">
													<label class="control-label">Mobile Number :</label>
													<input type="text" class="form-control floating" id="mobile_no" name="mobile_no"/>
												</div>
											</div>
                      <div class="col-md-6">
                        <div class="form-group form-focus select-focus">
                          <label class="control-label">Phone Number :</label>
                          <input type="text" class="form-control floating" id="phonee_no" name="phonee_no"/>
                        </div>
                      </div>
											<div class="col-md-6">
												<div class="form-group form-focus select-focus">
													<label class="control-label">Fax :</label>
													<input type="text" class="form-control floating" id="fax" name="fax"/>
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-box">
							<h3 class="card-title">Contact Informations</h3>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group form-focus">
										<label class="control-label">Address Line 1 :</label>
										<input type="text" class="form-control floating" id="address_1" name="address_1"/>
									</div>
								</div>
                                <div class="col-md-12">
									<div class="form-group form-focus">
										<label class="control-label">Address Line 2 :</label>
										<input type="text" class="form-control floating" id="address_2" name="address_2"/>
									</div>
								</div>
								 <div class="col-md-12">
									<div class="form-group form-focus">
										<label class="control-label">Address Line 3 :</label>
										<input type="text" class="form-control floating" id="address3" name="address3"/>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">Country :</label>
										<select id="country" name="country" class="form-control">
                                            {{#each country}}
                                            <option value="{{this.id}}">{{this.name}}</option>
											{{/each}}
                                        </select>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label ">State :</label>
										<select id="state" name="state" class="form-control" >
                                            {{#each state}}
                                            <option value="{{this.id}}">{{this.name}}</option>
											{{/each}}
                                        </select>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label ">City :</label>
										<select id="city" name="city" class="form-control" >


                                        </select>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class=" control-label">Pin Code :</label>
										<select id="zipcode" name="zipcode" class="form-control">

                                        </select>
									</div>
								</div>
							</div>
						</div>
						<div class="card-box">
							<h3 class="card-title">Other Informations</h3>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">Designation :</label>
										<select id="designation_id" name="designation_id" class="form-control">
                                            {{#each designation}}
                                            <option value="{{this.id}}">{{this.code}}</option>
											{{/each}}
                                        </select>
									</div>
								</div>

								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">Social Security Number :</label>
										<input type="text" class="form-control floating" id="social_security_no" name="social_security_no"/>
									</div>
								</div>

								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">Twitter</label>
										<input type="text" class="form-control floating" id="twitter" name="twitter" />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">Linkdn</label>
										<input type="text" class="form-control floating" id="linked_in" name="linked_in" />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">Facebook </label>
										<input type="text" class="form-control floating" id="facebook" name="facebook"/>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">Google </label>
										<input type="text" class="form-control floating" id="google" name="google"/>
									</div>
								</div>
                <div class="col-md-6">
                  <div class="form-group form-focus">
                    <label class="control-label">Website_Url </label>
                    <input type="text" class="form-control floating" id="website_url" name="website_url" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group form-focus">
                    <label class="control-label">Social Url </label>
                    <input type="text" class="form-control floating" id="social_url" name="social_url"/>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group form-focus">
                    <label class="control-label">Youtube</label>
                    <input type="text" class="form-control floating" id="youtube" name="youtube"/>
                  </div>
                </div>
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">IM </label>
										<input type="text" class="form-control floating" id="im" name="im"/>
									</div>
								</div>

								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">Association Status :</label>
										<select id="association" name="association" class="form-control">

                                            <option value="NEW TARGET">NEW TARGET</option>
											<option value="CONVERTED">CONVERTED</option>
											<option value="TS-INTERIM">TS-INTERIM</option>


                                        </select>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">Industry Type :</label>
										<select id="industry_type" name="industry_type" class="form-control">
                                             {{#each industry}}
                                            <option value="{{this.id}}">{{this.code}}</option>
										 {{/each}}
                                        </select>
									</div>
								</div>
                
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">Remarks </label>
										<textarea class="form-control floating" id="remarks" name="remarks" rows="50" ></textarea>
										{{!-- <input type="text" class="form-control floating" id="remarks"/> --}}
									</div>
								</div>
							</div>

						</div>

						<div class="text-center m-t-20">
							<button class="btn btn-primary btn-lg" type="submit">Add Target</button>
						</div>
					</form>
				</div>
			 {{#content "script" mode="append"}}
<script type="text/javascript" src="/assets/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/assets/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/select2.min.js"></script>
<script type="text/javascript" src="/assets/js/moment.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>
<script>
 	$(document).ready(function() {
      $("#mobile_no").inputmask("mask", {
        "mask": "(999) 999-9999"
      });
	   $("#fax").inputmask("mask", {
        "mask": "(999) 999-9999"
      });
	   $("#social_security_no").inputmask("mask", {
        "mask": "999-99-9999"
      });
	});
	</script>
	  <script>

function organization(){

		document.getElementById('organization_code_div').style.display = "block";
		document.getElementById('organization_id_div').style.display = "block";
		document.getElementById('organization_name_div').style.display = "block";
		document.getElementById('client_first_name').style.display = "none";
		document.getElementById('client_last_name').style.display = "none";
		document.getElementById('client_id_div').style.display = "none";
		document.getElementById('date_of_birth').style.display = "none";
		document.getElementById('gender').style.display = "none";
		document.getElementById('client_company_div').style.display = "none";


}
function client(){
		document.getElementById('organization_code_div').style.display = "none";
		document.getElementById('organization_id_div').style.display = "none";
		document.getElementById('organization_name_div').style.display = "none";
		document.getElementById('client_first_name').style.display = "block";
		document.getElementById('client_last_name').style.display = "block";
		document.getElementById('client_id_div').style.display = "block";
		document.getElementById('date_of_birth').style.display = "block";
		document.getElementById('gender').style.display = "block";
		document.getElementById('client_company_div').style.display = "block";
}
</script>

<script type="text/javascript">
            $(document).ready(function(e) {


                $("#targetForm").validate({
                    rules: {
                        target_first_name: {
                            required: true
                        },
                        target_last_name: {
                            required: true
                        }

                    },
                    messages: {
                        target_first_name: {
                            required: "First Name can't be blank"
                        },
                        target_last_name: {
                            required: "Last name  title can't be blank"

					       	}
                    }
                });

                  // add designation ajax operation and form validation ends

            });
            </script>
{{/content}}
