{{#content "style" mode="prepend"}}
<link rel="stylesheet" type="text/css" href="/assets/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-datetimepicker.min.css"> {{/content}}
<div class="page-wrapper">
	<div class="content container-fluid">
		<div class="row">
			{{#if error_message}}
			<div class="alert alert-danger">
				<strong>Error! </strong>{{error_message}}
			</div>
			{{/if}}
			<div class="col-sm-8">
				<h4 class="page-title">Add Target</h4>
			</div>
		</div>
		<form id="targetform" method="POST" action="/target/add">
			<input type="hidden" name="_csrf" value="{{csrfToken}}">

			{{!-- <label>
				<input type="radio" id="individual_target" name="target_type" value="I" checked /> Individual</label>
			<label>
				<input type="radio" id="organization_target" name="target_type" value="O" /> Organization</label> --}}


			<div class="form-inline m-b-15">
				<div class="form-group m-r-5">
					<label class="input-group">
						<span class="input-group-addon">
							<input type="radio" id="individual_target" name="target_type" value="I" checked/>
						</span>
						<div class="form-control form-control-static">Individual</div>
						<span class="glyphicon form-control-feedback "></span>
					</label>
				</div>
				<div class="form-group ">
					<label class="input-group">
						<span class="input-group-addon">
							<input type="radio" id="organization_target" name="target_type" value="O" />
						</span>
						<div class="form-control form-control-static">Organization</div>
						<span class="glyphicon form-control-feedback "></span>
					</label>
				</div>
			</div>

			<div class="card-box">
				<h3 class="card-title">Basic Informations</h3>
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div id="org_type" style="display:none;">
								<div class="col-md-12">
									<div class="form-group form-focus">
										<label class="control-label">Organisation Name <span class="req-lbl">*</span></label>
										<input type="text" class="form-control floating" id="org_name" name="org_name" />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">Organisation ID <span class="req-lbl">*</span></label>
										<input type="text" class="form-control floating" id="org_id" name="org_id" />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">Organisation Code  <span class="req-lbl">*</span></label>
										<input type="text" class="form-control floating" id="org_code" name="org_code" />
									</div>
								</div>
							</div>
							<div id="individual_type">
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">First Name <span class="req-lbl">*</span></label>
										<input type="text" class="form-control floating" id="first_name" name="first_name" />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">Last Name <span class="req-lbl">*</span></label>
										<input type="text" class="form-control floating" id="last_name" name="last_name" />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">Target ID  <span class="req-lbl">*</span></label>
										<input type="text" class="form-control floating" id="target_id" name="target_id" />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">Target Code <span class="req-lbl">*</span> </label>
										<input type="text" class="form-control floating" id="target_code" name="target_code" />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group form-focus select-focus">
										<label class="control-label">Designation <span class="req-lbl">*</span></label>
										<select id="designation" name="designation" class="select form-control floating">
											{{#each designations}}
											<option value="{{this.id}}">{{this.title}}</option>
											{{/each}}
										</select>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group form-focus select-focus"></div>
								</div>
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">Date of Birth <span class="req-lbl">*</span></label>
										<div class="cal-icon">
											<input class="form-control floating datetimepicker" type="text" id="dob" name="dob">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group form-focus select-focus">
										<label class="control-label">Gender <span class="req-lbl">*</span></label>
										<select class="select form-control floating" id="gender" name="gender">
											<option value="">Select Gender</option>
											<option value="M">Male</option>
											<option value="F">Female</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group form-focus">
									<label class="control-label">Email Id  <span class="req-lbl">*</span></label>
									<input type="text" class="form-control floating" id="email" name="email" />
									<span id="uniqueEmail" style="color: red">
										<span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group form-focus">
									<label class="control-label">Phone Number <span class="req-lbl">*</span></label>
									<input type="text" class="form-control floating number_validator" id="phone_no" name="phone_no" />
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group form-focus">
									<label class="control-label">Fax</label>
									<input type="text" class="form-control floating number_validator" id="fax" name="fax" />
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group form-focus">
									<label class="control-label">Mobile Number <span class="req-lbl">*</span></label>
									<input type="text" class="form-control floating number_validator" id="mobile_no" name="mobile_no" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card-box">
				<h3 class="card-title">Contact Informations</h3>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group form-focus">
							<label class="control-label">Address Line 1 <span class="req-lbl">*</span></label>
							<input type="text" class="form-control floating" id="address1" name="address1" />
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group form-focus">
							<label class="control-label">Address Line 2</label>
							<input type="text" class="form-control floating" id="address2" name="address2" />
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group form-focus">
							<label class="control-label">Address Line 3</label>
							<input type="text" class="form-control floating" id="address3" name="address3" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus select-focus">
							<label class="control-label">Country <span class="req-lbl">*</span></label>
							<select id="country" name="country" class="select form-control floating">
								<option value="">Select Country</option>
								{{#each country}}
								<option value="{{this.id}}" {{#if_eq this.id 233}} selected="selected" {{/if_eq}}>{{this.name}}</option>
								{{/each}}
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus select-focus">
							<label class="control-label">State <span class="req-lbl">*</span></label>
							<select id="state" name="state" class="select form-control floating">
								<option value="">Select State</option>
								{{#each state}}
								<option value="{{this.id}}">{{this.name}}</option>
								{{/each}}
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus select-focus">
							<label class="control-label">City <span class="req-lbl">*</span></label>
							<select id="city" name="city" class="select form-control floating">
								<option value="">Select City</option>

							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus select-focus">
							<label class="control-label">Zip Code <span class="req-lbl">*</span></label>
							<select id="zipcode" name="zipcode" class="select form-control floating">
								<option value="">Select Zipcode</option>
							</select>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group form-focus">
							<label class="control-label">Address Remarks </label>
							<textarea class="form-control floating" id="address_remarks" name="address_remarks" rows="5"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="card-box">
				<h3 class="card-title">Other Informations</h3>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">Target Company </label>
							<input type="text" class="form-control floating" id="company_name" name="company_name" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus select-focus">
							<label class="control-label">Attorney  <span class="req-lbl">*</span></label>
							<select id="attorney" name="attorney" class="select form-control floating">
								<option value="">Select Attorney</option>
								{{#each attorney}}
								<option value="{{this.id}}">{{this.first_name}} {{this.last_name}}</option>
								{{/each}}
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">Website URL </label>
							<input type="text" class="form-control floating url_selector" id="website_url" name="website_url" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">Social URL </label>
							<input type="text" class="form-control floating url_selector" id="social_url" name="social_url" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">IM</label>
							<input type="text" class="form-control floating" id="im" name="im" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">Social Security No</label>
							<input type="text" class="form-control floating number_validator" id="social_sec_no" name="social_sec_no" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">Twitter</label>
							<input type="text" class="form-control floating url_selector" id="twitter" name="twitter" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">Linkedin</label>
							<input type="text" class="form-control floating url_selector" id="linkedin" name="linkedin" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">Google </label>
							<input type="text" class="form-control floating url_selector" id="google" name="google" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">Youtube </label>
							<input type="text" class="form-control floating url_selector" id="youtube" name="youtube" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus select-focus">
							<label class="control-label">Association Status</label>
							<select id="association" name="association" class="select form-control">
								<option value="NEW TARGET">NEW TARGET</option>
								<option value="CONVERTED">CONVERTED</option>
								<option value="TS-INTERIM">TS-INTERIM</option>
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus select-focus">
							<label class="control-label">Industry Type</label>
							<select id="industry_type" name="industry_type" class="select form-control">
								{{#each industry}}
								<option value="{{this.id}}">{{this.industry_name}}</option>
								{{/each}}
							</select>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group form-focus">
							<label class="control-label">Remarks </label>
							<textarea class="form-control floating" id="remarks" name="remarks" rows="5"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="text-center m-t-20">
				<button class="btn btn-primary btn-lg" type="submit">Add Target</button>
			</div>
		</form>
	</div>
</div>
{{#content "script" mode="append"}}
<script type="text/javascript" src="/assets/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/assets/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/select2.min.js"></script>
<script type="text/javascript" src="/assets/js/moment.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>
<script type="text/javascript">
	$(document).ready(function (e) {

		$("#targetform").validate({
			rules: {
				first_name: {
					required: true
				},
				last_name: {
					required: true
				},
				org_name: {
					required: true
				},
				org_id: {
					required: true
				},
				org_code: {
					required: true
				},
				target_id: {
					required: true
				},
				target_code: {
					required: true
				},
				email: {
					required: true,
					email: true
				},
				mobile_no: {
					required: true
				},
				fax: {
					required: true
				},
				address1: {
					required: true
				},
				country: {
					required: true
				},
				state: {
					required: true
				},
				city: {
					required: true
				},
				zipcode: {
					required: true
				},
				attorney: {
					required: true
				}
			},
			messages: {
				first_name: {
					required: "First Name can't be blank"
				},
				last_name: {
					required: "Last name can't be blank"
				},
				org_name: {
					required: "Organisation Name can't be blank"
				},
				org_id: {
					required: "Organisation ID can't be blank"
				},
				org_code: {
					required: "Organisation code can't be blank"
				},
				target_id: {
					required: "Target ID can't be blank"
				},
				target_code: {
					required: "Target Code can't be blank"
				},
				email: {
					required: "Email id can't be blank",
					email: "Enter valid email id"
				},
				mobile_no: {
					required: "Mobile number can't blank"
				},
				fax: {
					required: "Fax  can't be blank"
				},
				address1: {
					required: "Must provide address1"
				},
				country: {
					required: "Choose your country"
				},
				state: {
					required: "Choose your state"
				},
				city: {
					required: "Choose your city"
				},
				zipcode: {
					required: "Choose your zipcode"
				},
				attorney: {
					required: "Attorney can't be blank"
				}
			}
		});

		// add designation ajax operation and form validation ends
	});

	$(document).on('click', '#individual_target', function () {
		$('#individual_type').show();
		$('#org_type').hide();
	});

	$(document).on('click', '#organization_target', function () {
		$('#individual_type').hide();
		$('#org_type').show();
	});
</script> {{/content}}
