{{#content "style" mode="prepend"}}
  <link rel="stylesheet" type="text/css" href="/assets/css/dataTables.bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-datetimepicker.min.css">
{{/content}}
<div class="page-wrapper">
        <div class="content container-fluid">
          <div class="row">
            <div class="col-xs-4">
              <h4 class="page-title">Target</h4>
            </div>
            <div class="col-xs-8 text-right m-b-30">
              <a href="/addtarget" class="btn btn-primary rounded" ><i class="fa fa-plus"></i> Add Target</a>
            </div>
          </div>
          {{#if success_add_designation}}
          <div class="row">
            <div class="alert alert-success">
              <strong>Success!!!</strong>{{success_add_designation}}
            </div>
          </div>
          {{/if}}
          {{#if success_edit_designation}}
            <div class="row">
              <div class="alert alert-success">
                <strong>Success!!!</strong>{{success_edit_designation}}
              </div>
            </div>
          {{/if}}
          {{#if success_delete_designation}}
            <div class="row">
              <div class="alert alert-success">
                <strong>Success!!!</strong>{{success_delete_designation}}
              </div>
            </div>
          {{/if}}
    <form method="GET">
          <div class="row filter-row">
            <div class="col-sm-3 col-xs-6">
              <div class="form-group form-focus">
                <label class="control-label">Email</label>
                <input type="text" class="form-control floating" id="searchCode" name="searchCode" value="{{searchCode}}"/>
              </div>
            </div>
            <div class="col-sm-3 col-xs-6">
      <div class="form-group form-focus">
        <label class="control-label">Industry Type</label>
        <input type="text" class="form-control floating" id="searchIndustryType" name="searchIndustryType" value="{{searchsearchIndustryType}}"/>
      </div>
            </div>

            <div class="col-sm-3 col-xs-6">
              <!-- <a href="javascript:void(0)" class="btn btn-success btn-block" onclick="searchDataTable()"> Search </a> -->
              <button type="submit" class="btn btn-success btn-block"> Search </button>
            </div>
            <div class="col-sm-3 col-xs-6">
              <!-- <a href="javascript:void(0)" class="btn btn-success btn-block" onclick="searchDataTable()"> Search </a> -->
              <a href="/target" class="btn btn-success btn-block"> Clear </a>
            </div>
          </div>
        </form>
          <div class="row" >
            <div class="col-md-12">
              <div class="table-responsive"  >
                <table class="table table-striped custom-table datatable" id="searchData">
                  <thead>
                    <tr>

                      <!-- <th>First Name</th>
                      <th>Last Name</th> -->
                      <th>Email</th>
                       <th>Mobile No</th>
                      <th>Address 1</th>
                      <!-- <th>Address 2</th>
                      <th>Country</th>
                      <th>State</th>
                      <th>City</th>
                      <th>Fax</th>
                      <th>Pin Code</th>
                      <th>Industry Type</th>
                      <th>Designation</th>
                      <th>CompanyName</th>
                      <th>Industry Type</th>
                      <th>Facebook</th>
                      <th>Twitter</th>
                      <th>Google</th>  -->

                      <th class="text-right">Action</th>
                    </tr>
              </thead>

                  <tbody  id="mainTable">
          {{#each fdata}}
                    <tr>


                      <!-- <td>{{this.firstName}}</td>
                      <td>{{this.lastName}}</td> -->
                      <td>{{this.email}}</td>
                      <td>{{this.mobile_no}}</td>
                      <td>{{this.address_1}}</td>
                      <!-- <td>{{this.address_2}}</td>
                      <td>{{this.Country}}</td>
                      <td>{{this.state}}</td>
                      <td>{{this.city}}</td>
                      <td>{{this.zipcode}}</td>
                      <td>{{this.fax}}</td>
                      <td>{{this.industry_type}}</td>
                      <td>{{this.designation_id}}</td>
                      <td>{{this.company_name}}</td>
                      <td>{{this.facebook}}</td>
                      <td>{{this.twitter}}</td>
                      <td>{{this.google}}</td>  -->



                      <td class="text-right">
                        <div class="dropdown">
                          <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                          <ul class="dropdown-menu pull-right">
                            <li><a href="/target/edit/{{this.id}}" ><i class="fa fa-pencil m-r-5"></i> Edit</a></li>

                            <li><a href="javascript:void(0)"  data-toggle="modal" data-target="#{{this.id}}"><i class="fa fa-trash-o m-r-5"></i> Delete</a></li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                    {{!-- delete modal starts --}}
                  <div class="modal fade" id="{{this.id}}" role="dialog">
                      <div class="modal-dialog">

                      <!-- Modal content-->
                      <div class="modal-content">
                        {{!-- <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                        </div> --}}
                        <div class="modal-body">
                        <p>Are you sure to delete ?</p>
                        </div>
                        <div class="modal-footer">
                          <a href="/target/delete/{{this.id}}" class="btn btn-danger" ><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                        <a href="/industry" class="btn btn-default" >Cancel</a>
                        </div>
                      </div>

                      </div>
                    </div>

                    {{!-- delete modal ends --}}
          {{/each}}

                  </tbody>
                </table>



              </div>
            </div>
          </div>
        </div>
        <div class="notification-box">
          <div class="msg-sidebar notifications msg-noti">
            <div class="topnav-dropdown-header">
              <span>Messages</span>
            </div>
            <div class="drop-scroll msg-list-scroll">
              <ul class="list-box">
                <li>
                  <a href="chat.html">
                    <div class="list-item">
                      <div class="list-left">
                        <span class="avatar">R</span>
                      </div>
                      <div class="list-body">
                        <span class="message-author">Richard Miles </span>
                        <span class="message-time">12:28 AM</span>
                        <div class="clearfix"></div>
                        <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="chat.html">
                    <div class="list-item new-message">
                      <div class="list-left">
                        <span class="avatar">J</span>
                      </div>
                      <div class="list-body">
                        <span class="message-author">John Doe</span>
                        <span class="message-time">1 Aug</span>
                        <div class="clearfix"></div>
                        <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="chat.html">
                    <div class="list-item">
                      <div class="list-left">
                        <span class="avatar">T</span>
                      </div>
                      <div class="list-body">
                        <span class="message-author"> Tarah Shropshire </span>
                        <span class="message-time">12:28 AM</span>
                        <div class="clearfix"></div>
                        <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="chat.html">
                    <div class="list-item">
                      <div class="list-left">
                        <span class="avatar">M</span>
                      </div>
                      <div class="list-body">
                        <span class="message-author">Mike Litorus</span>
                        <span class="message-time">12:28 AM</span>
                        <div class="clearfix"></div>
                        <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="chat.html">
                    <div class="list-item">
                      <div class="list-left">
                        <span class="avatar">C</span>
                      </div>
                      <div class="list-body">
                        <span class="message-author"> Catherine Manseau </span>
                        <span class="message-time">12:28 AM</span>
                        <div class="clearfix"></div>
                        <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="chat.html">
                    <div class="list-item">
                      <div class="list-left">
                        <span class="avatar">D</span>
                      </div>
                      <div class="list-body">
                        <span class="message-author"> Domenic Houston </span>
                        <span class="message-time">12:28 AM</span>
                        <div class="clearfix"></div>
                        <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="chat.html">
                    <div class="list-item">
                      <div class="list-left">
                        <span class="avatar">B</span>
                      </div>
                      <div class="list-body">
                        <span class="message-author"> Buster Wigton </span>
                        <span class="message-time">12:28 AM</span>
                        <div class="clearfix"></div>
                        <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="chat.html">
                    <div class="list-item">
                      <div class="list-left">
                        <span class="avatar">R</span>
                      </div>
                      <div class="list-body">
                        <span class="message-author"> Rolland Webber </span>
                        <span class="message-time">12:28 AM</span>
                        <div class="clearfix"></div>
                        <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="chat.html">
                    <div class="list-item">
                      <div class="list-left">
                        <span class="avatar">C</span>
                      </div>
                      <div class="list-body">
                        <span class="message-author"> Claire Mapes </span>
                        <span class="message-time">12:28 AM</span>
                        <div class="clearfix"></div>
                        <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="chat.html">
                    <div class="list-item">
                      <div class="list-left">
                        <span class="avatar">M</span>
                      </div>
                      <div class="list-body">
                        <span class="message-author">Melita Faucher</span>
                        <span class="message-time">12:28 AM</span>
                        <div class="clearfix"></div>
                        <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="chat.html">
                    <div class="list-item">
                      <div class="list-left">
                        <span class="avatar">J</span>
                      </div>
                      <div class="list-body">
                        <span class="message-author">Jeffery Lalor</span>
                        <span class="message-time">12:28 AM</span>
                        <div class="clearfix"></div>
                        <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="chat.html">
                    <div class="list-item">
                      <div class="list-left">
                        <span class="avatar">L</span>
                      </div>
                      <div class="list-body">
                        <span class="message-author">Loren Gatlin</span>
                        <span class="message-time">12:28 AM</span>
                        <div class="clearfix"></div>
                        <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="chat.html">
                    <div class="list-item">
                      <div class="list-left">
                        <span class="avatar">T</span>
                      </div>
                      <div class="list-body">
                        <span class="message-author">Tarah Shropshire</span>
                        <span class="message-time">12:28 AM</span>
                        <div class="clearfix"></div>
                        <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <div class="topnav-dropdown-footer">
              <a href="chat.html">See all messages</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Add designation modal start -->
      <!-- <div id="add_user" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class="modal-content modal-lg">
            <div class="modal-header">
              <h4 class="modal-title">Add IndustryType</h4>
            </div>
            <div class="modal-body">
              <form class="m-b-30" id="frmAddFirm">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="control-label">Code : <span class="text-danger">*</span></label>
                      <input class="form-control" type="text" id="code" name="code">
          <span id="uniqueCode" style="color: red; font-weight: bold;"> </span>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="control-label">Insustry Name<span class="text-danger">*</span></label>
                      <input class="form-control" type="text" id="industryname" name="industryname">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="control-label">Remarks : <span class="text-danger">*</span></label>
                      <!-- <input class="form-control" type="text"> -->
          <!-- <textarea class="form-control" rows="12" id="remarks" name="remarks"></textarea>
                    </div>
                  </div>

                </div>

                <div class="m-t-20 text-center">
                  <button class="btn btn-primary"  id="btnindustry">Add IndustryType</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div> --> -->
  <!-- Add designation modal ends -->

      {{#content "script" mode="append"}}
        <script type="text/javascript" src="/assets/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="/assets/js/dataTables.bootstrap.min.js"></script>
        <script type="text/javascript" src="/assets/js/select2.min.js"></script>
        <script type="text/javascript" src="/assets/js/moment.min.js"></script>
        <script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>
        <script type="text/javascript">
        // add designation ajax and form validation starts
        $(document).ready(function(e) {

          $("#btnindustry").click(function() {
            $("#frmAddFirm").submit();
          });

          $("#frmAddFirm").validate({
            rules: {
              code: {
                required: true
              },
              industryname: {
                required: true
              }
            },
            messages: {
              code: {
                required: "Code can't be blank"
              },
              industryname: {
                required: "industry name can't be blank"
              }
            },
            submitHandler:function(form) {
            var code = $('#code').val();
            var industryname = $('#industryname').val();
            var remarks = $('#remarks').val();
              $.ajax({
                type: "POST",
                url: "/industry/add",
                data: {
                code: code,
                industryname: industryname,
                remarks: remarks
                },
                beforeSend: function(xhr) {
                  xhr.setRequestHeader('X-CSRF-Token', "{{csrfToken}}");


                },
                success: function(response) {
                if(response.msg === "ERRR"){
                  document.getElementById('uniqueCode').innerHTML = "Code already been assigned";
                }else{
                  window.location.href = '/industry';
                }
                },
                error: function(xhr){

                }
              });

            }
          });

          // add designation ajax operation and form validation ends

        });
        </script>
        <script type="text/javascript">
        function searchDataTable(){
          var code = $('#searchCode').val();
          var industrytype = $('#searchIndustryType').val();
          $.ajax({
          url: '/industry/search',
          method: 'POST',
          data: {email: email,searchIndustryType: searchIndustryType},
          success: function(resp){
            console.log(resp.searchData);

            // document.getElementById('mainTable').removeAttribute('class');
            document.getElementById('mainTable').style.display = "none";
            // $( "#removeDatatable" ).remove();
            // document.getElementById('mainTable').removeChild(document.getElementById('mainTable').childNodes[1]);
            // $( "#searchData" ).removeClass( "datatable" );
//                          $('.datatable').dataTable({
//     "bPaginate": false
// });
            // document.getElementById('searchTable').style.display = "block";

            $.each(resp.searchData, function(key, value) {
            console.log(value);
  $("#searchData").append('<tbody   ><tr><td>'+value.code+'</td><td>'+value.title+'</td><td>'+value.remarks+'</td><td class="text-right"><div class="dropdown"><a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a><ul class="dropdown-menu pull-right"><li><a href="/designations/update/'+value.id+'" ><i class="fa fa-pencil m-r-5"></i> Edit</a></li><li><a href="/designations/delete/'+value.id+'"  ><i class="fa fa-trash-o m-r-5"></i>Delete</a></li></ul></div></td></tr></tbody   >');
});
          },
          error: function(xhr){

          }
          });
        }
        </script>

        {{/content}}
