{{#content "style" mode="prepend"}}
<link rel="stylesheet" type="text/css" href="/assets/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-datetimepicker.min.css"> {{/content}}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row">
            {{#if error_message}}
            <div class="alert alert-danger">
                <strong>Error! </strong>{{error_message}}
            </div>
            {{/if}}
            <div class="col-sm-8">
                <h4 class="page-title">Target Details</h4>
            </div>
            <div class="col-sm-4">
                <div class="text-right">
                    <a href="/target/edit/{{client.id}}" class="btn btn-primary pull-right rounded">
                    <i class="fa fa-pencil"></i> Edit Target</a>

                    <a href="/target" class="btn btn-primary pull-right rounded m-r-5"><i class="fa fa-arrow-left"></i>Back</a>
                </div>
            </div>
        </div>
        <form id="targetform" method="POST" action="/target/edit/{{client.id}}">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <input type="hidden" value="{{client.id}}" id="id" />
            <input type="hidden" value="{{client.target_type}}" id="_targetContact"/>

            <div class="form-inline m-b-15">
                <div class="form-group m-r-5">
                    <label class="input-group">
                        <span class="input-group-addon">
                            <input type="radio" id="individual_client" name="client_type" value="I" {{#if_eq client.target_type "I"}} checked {{/if_eq}}
                                disabled/>
                        </span>
                        <div class="form-control form-control-static">Individual</div>
                        <span class="glyphicon form-control-feedback "></span>
                    </label>
                </div>
                <div class="form-group ">
                    <label class="input-group">
                        <span class="input-group-addon">
                            <input type="radio" id="organization_client" name="client_type" value="O" {{#if_eq client.target_type "O"}} checked {{/if_eq}}
                                disabled />
                        </span>
                        <div class="form-control form-control-static">Organization</div>
                        <span class="glyphicon form-control-feedback "></span>
                    </label>
                </div>
            </div>



            <div class="card-box">
                <h3 class="card-title">Basic Information</h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div id="org_type" {{#if_eq client.target_type "I"}} style="display:none;" {{/if_eq}}>
                                <div class="col-md-12">
                                    <div class="form-group form-focus">
                                        <label class="control-label">Organisation Name
                                            <span class="req-lbl">*</span>
                                        </label>
                                        <input type="text" class="form-control floating" id="org_name" name="org_name" value="{{client.organization_name}}" disabled="disabled"
                                        />
                                    </div>
                                </div>
                                {{!-- <div class="col-md-6">
                                    <div class="form-group form-focus">
                                        <label class="control-label">Organisation ID
                                            <span class="req-lbl">*</span>
                                        </label>
                                        <input type="text" class="form-control floating" id="org_id" name="org_id" value="{{client.organization_id}}" disabled="disabled"
                                        />
                                    </div>
                                </div> --}}
                                <div class="col-md-6">
                                    <div class="form-group form-focus">
                                        <label class="control-label">Organisation Code
                                            <span class="req-lbl">*</span>
                                        </label>
                                        <input type="text" class="form-control floating" id="org_code" name="org_code" value="{{client.organization_code}}" disabled="disabled"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div id="individual_type" {{#if_eq client.target_type "O"}} style="display:none;" {{/if_eq}}>
                                <div class="col-md-6">
                                    <div class="form-group form-focus">
                                        <label class="control-label">First Name
                                            <span class="req-lbl">*</span>
                                        </label>
                                        <input type="text" class="form-control floating" id="edit_target_first_name" name="edit_target_first_name" value="{{client.first_name}}"
                                            disabled="disabled" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-focus">
                                        <label class="control-label">Last Name
                                            <span class="req-lbl">*</span>
                                        </label>
                                        <input type="text" class="form-control floating" id="last_name" name="last_name" value="{{client.last_name}}" disabled="disabled"
                                        />
                                    </div>
                                </div>
                               
                                <div class="col-md-6">
                                    <div class="form-group form-focus">
                                        <label class="control-label">Target Code
                                            <span class="req-lbl">*</span>
                                        </label>
                                        <input type="text" class="form-control floating" id="target_code" name="target_code" value="{{client.target_code}}" disabled="disabled"
                                        />
                                    </div>
                                </div>
                                
                                <div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">Estimated annual revenue
											<span class="req-lbl">*</span>
										</label>
										<input class="form-control floating" type="text" id="estimated_revenue" name="estimated_revenue" value="$ {{client.estimated_revenue}}" disabled>
									</div>
								</div>

                                <div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">Closing Date<span class="req-lbl">*</span> </label>
										<div class="cal-icon">
											<input class="form-control floating datetimepicker" type="text" id="revenueclosingDate" name="revenueclosingDate" value="{{dateFormat client.revenueclosingDate "
											 DD-MM-YYYY "}}" disabled>
										</div>
									</div>
								</div>
                                
                                
                            <div class="col-md-12">
                                <div class="form-group form-focus">
                                    <label class="control-label">Email Id
                                        <span class="req-lbl">*</span>
                                    </label>
                                    <input type="text" class="form-control floating" id="email" name="email" value="{{client.email}}" disabled="disabled" />
                                    <span id="uniqueEmail" style="color: red">
                                        <span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus select-focus">
                                    <label class="control-label">Gender
                                        <span class="req-lbl">*</span>
                                    </label>
                                    <select class="select form-control floating" id="gender" name="gender" disabled="disabled">
                                        <option value="">Select Gender</option>
                                        <option value="M" {{#if_eq client.gender "M"}} selected {{/if_eq}}>Male</option>
                                        <option value="F" {{#if_eq client.gender "F"}} selected {{/if_eq}}>Female</option>
                                        <option value="O" {{#if_eq client.gender "O"}} selected {{/if_eq}}>Others</option>
                            
                                    </select>
                                </div>
                            </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus select-focus">
                                    <label class="control-label">Phone Number
                                        <span class="req-lbl">*</span>
                                    </label>
                                    <input type="text" class="form-control floating number_validator" id="phone_no" name="phone_no" value="{{client.phone_no}}"
                                        disabled="disabled" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus select-focus">
                                    <label class="control-label">Fax</label>
                                    <input type="text" class="form-control floating number_validator" id="fax" name="fax" value="{{client.fax}}" disabled="disabled"
                                    />
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group form-focus select-focus">
                                    <label class="control-label">Mobile Number
                                        <span class="req-lbl">*</span>
                                    </label>
                                    <input type="text" class="form-control floating number_validator" id="mobile_no" name="mobile_no" value="{{client.mobile_no}}"
                                        disabled="disabled" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <button type="button" id="expandBtn" class="btn btn-primary btn-lg" title="View All"><i class="fa fa-arrow-down"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="expandToggle" style="display:none;">
                <div class="card-box">
                    <h3 class="card-title">Address</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-focus">
                                <label class="control-label">Address Line 1</label>
                                <input type="text" class="form-control floating" id="address1" name="address1" value="{{client.address1}}" disabled="disabled"
                                />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group form-focus">
                                <label class="control-label">Address Line 2</label>
                                <input type="text" class="form-control floating" id="address2" name="address2" value="{{client.address2}}" disabled="disabled"
                                />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group form-focus">
                                <label class="control-label">Address Line 3</label>
                                <input type="text" class="form-control floating" id="address3" name="address3" value="{{client.address3}}" disabled="disabled"
                                />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus select-focus">
                                <label class="control-label">Country</label>
                                <select id="country" name="country" class="form-control floating" disabled="disabled">
                                    {{#each country}}
                                    <option value="{{this.id}}">{{this.name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus select-focus">
                                <label class="control-label ">State</label>
                                <select id="state" name="state" class="form-control floating" disabled="disabled">
                                    <option value="">Select State</option>
                                    {{#each state}}
                                    <option value="{{this.id}}" {{#if_eq this.id ../client.state}} selected="selected" {{/if_eq}}>{{this.name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus select-focus">
                                <label class="control-label ">City</label>
                                <select id="city" name="city" class="form-control floating" disabled="disabled">
                                    <option value="">Select City</option>
                                    {{#each city}}
                                    <option value="{{this.id}}" {{#if_eq this.id ../client.city}} selected="selected" {{/if_eq}}>{{this.name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus select-focus">
                                <label class=" control-label">Zip Code</label>
                                <select id="zipcode" name="zipcode" class="form-control floating" disabled="disabled">
                                    <option value="">Select Zipcode</option>
                                    {{#each zipcode}}
                                    <option value="{{this.id}}" {{#if_eq this.id ../client.postal_code}} selected="selected" {{/if_eq}}>{{this.zip}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group form-focus">
                                <label class="control-label">Address Remarks </label>
                                <textarea class="form-control floating" id="address_remarks" name="address_remarks" rows="5" disabled="disabled">{{client.address_remarks}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-box">
                    <h3 class="card-title">Attorney Information</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-focus select-focus">
                                <label class="control-label">Attorney
                                    <span class="req-lbl">*</span>
                                </label>
                                <select id="attorney" name="attorney" class="select form-control floating" disabled>
                                    <option value="">Select Attorney</option>
                                    {{#each attorney}}
                                    <option value="{{this.id}}" {{#if_eq this.id ../client.attorney_id}} selected="selected" {{/if_eq}}>{{this.first_name}} {{this.last_name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-box" id="m_s_contactInformation" style="display:none;">
                    <h3 class="card-title">Contact Information</h3>
                    <div id="masterContactPlus" >
                    {{#each contactDetails}}
                        <div class="contact-information contactDetailsRemove" >
                            <div class="contact-margin">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-focus">
                                            <label class="control-label">First Name
                                                <span class="req-lbl">*</span>

                                            </label>
                                            <input type="text" class="form-control floating" id="contactDetailsFirstName" name="contactDetailsFirstName[]" value="{{this.first_name}}" disabled/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-focus">
                                            <label class="control-label">Last Name</label>
                                            <input type="text" class="form-control floating" id="contactDetailsSecondName" name="contactDetailsSecondName[]" value="{{this.last_name}}" disabled/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-focus select-focus">
                                            <label class="control-label">Gender
                                                <span class="req-lbl">*</span>

                                            </label>
                                            <select class="select form-control floating" id="contactDetailsGender" name="contactDetailsGender[]" disabled>
                                                <option value="">Select Gender</option>
                                                <option value="M" {{#if_eq this.gender "M"}} selected {{/if_eq}}>Male</option>
                                                <option value="F"{{#if_eq this.gender "F"}} selected {{/if_eq}} >Female</option>
                                                <option value="O" {{#if_eq this.gender "O"}} selected {{/if_eq}} >Others</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-focus">
                                            <label class="control-label">Email Id
                                                <span class="req-lbl">*</span>

                                            </label>
                                            <input type="text" class="form-control floating" id="contactDetailsEmail" name="contactDetailsEmail[]" value="{{this.email}}" disabled/>
                                            <span id="uniqueEmail" style="color: red"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-focus">
                                            <label class="control-label">Phone No.
                                                <span class="req-lbl">*</span>

                                            </label>
                                            <input type="text" class="form-control floating number_validator" id="contactDetailsPhone_no" name="contactDetailsPhone_no[]"
                                            maxlength="50" value={{this.phone_no}} disabled/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-focus">
                                            <label class="control-label">Fax</label>
                                            <input type="text" class="form-control floating number_validator" id="contactDetailsFax" name="contactDetailsFax[]" maxlength="50" value="{{this.fax}}"
                                            disabled/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-focus">
                                            <label class="control-label">Mobile No.
                                                <span class="req-lbl">*</span>
                                            </label>
                                            <input type="text" class="form-control floating number_validator" id="contactDetailsMobile_no" name="contactDetailsMobile_no[]"
                                            maxlength="50" value="{{this.mobile_no}}" disabled/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                    </div>
                </div>

                <div class="card-box">
                    <h3 class="card-title">Other Information</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-focus select-focus">
                                <label class="control-label">Target Company</label>
                                <input type="text" class="form-control floating" id="company_name" name="company_name" value="{{client.company_name}}" disabled="disabled"
                                />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                <label class="control-label">Website URL </label>
                                <input type="text" class="form-control floating url_selector" id="website_url" name="website_url" value="{{client.website_url}}"
                                    disabled="disabled" />
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                <label class="control-label">IM</label>
                                <input type="text" class="form-control floating" id="im" name="im" value="{{client.im}}" disabled="disabled" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus select-focus">
                                <label class="control-label">Twitter</label>
                                <input type="text" class="form-control floating url_selector" id="twitter" name="twitter" value="{{client.twitter}}" disabled="disabled"
                                />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus select-focus">
                                <label class="control-label">linkedin</label>
                                <input type="text" class="form-control floating url_selector" id="linkedin" name="linkedin" value="{{client.linkedin}}" disabled="disabled"
                                />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                <label class="control-label">Facebook</label>
                                <input type="text" class="form-control floating url_selector" disabled id="social_url" name="social_url" value="{{client.social_url}}"
                                />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus select-focus">
                                <label class="control-label">Google </label>
                                <input type="text" class="form-control floating url_selector" id="google" name="google" value="{{client.google}}" disabled="disabled"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-focus select-focus">
                            <label class="control-label">Association Status </label>
                            <select id="association" name="association" class="select form-control" disabled="disabled">
                                <option value="CONVERTED" {{#if_eq client.association "CONVERTED"}} selected="selected" {{/if_eq}}>CONVERTED</option>
                                <option value="NEW TARGET" {{#if_eq client.association "NEW TARGET"}} selected="selected" {{/if_eq}}>NEW TARGET</option>
                                <option value="TS-INTERIM" {{#if_eq client.association "TS-INTERIM"}} selected="selected" {{/if_eq}}>TS-INTERIM</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus select-focus">
                                <label class="control-label">Association Status </label>
                                <select id="association" name="association" class="select form-control" disabled="disabled">
                                    <option value="NEW TARGET" {{#if_eq client.association "NEW TARGET"}} selected="selected" {{/if_eq}}>NEW TARGET</option>
                                    <option value="CONVERTED" {{#if_eq client.association "CONVERTED"}} selected="selected" {{/if_eq}}>CONVERTED</option>
                                    <option value="TS-INTERIM" {{#if_eq client.association "TS-INTERIM"}} selected="selected" {{/if_eq}}>TS-INTERIM</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus select-focus">
                                <label class="control-label">Industry Type </label>
                                <select id="industry_type" name="industry_type" class="select form-control" disabled="disabled">
                                    {{#each industry}}
                                    <option value="{{this.id}}" {{#if_eq this.id ../client.industry_type}} selected="selected" {{/if_eq}}>{{this.industry_name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group form-focus">
                                <label class="control-label">Remarks </label>
                                <textarea class="form-control floating" id="remarks" name="remarks" rows="5" disabled="disabled">{{client.remarks}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="card-box">
            <h3 class="card-title">View Activity</h3>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped custom-table datatable">
                            <thead>
                                <tr>
                                    <th>SL#</th>
                                    <th>Activity Name</th>
                                    <th>From Date</th>
                                    <th>To Date</th>
                                    <th>Remarks</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each activity_details}}
                                <tr>
                                    <td>{{math @index "+" 1}}</td>
                                    <td><a href="/activity/view/{{this.activity.id}}" id="setUrlItem">{{this.activity.activity_name}}</a></td>
                                    <td>{{dateFormat this.activity.activity_from_date "DD-MM-YYYY"}}</td>
                                    <td>{{dateFormat this.activity.activity_to_date "DD-MM-YYYY"}}</td>
                                    <td>{{this.activity.remarks}}</td>
                                    <td> {{#if_eq this.activity.activity_status '0'}} NEW ACTIVITY - CREATED {{/if_eq}} {{#if_eq this.activity.activity_status
                                        '1'}} PENDING APPROVAL - IN-PROGRESS {{/if_eq}} {{#if_eq this.activity.activity_status '2'}}
                                        APPROVED - PROCEED {{/if_eq}} {{#if_eq this.activity.activity_status '3'}} NOT APPROVED - DISCARD
                                        ACTIVITY {{/if_eq}}
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{#content "script" mode="append"}}
<script type="text/javascript" src="/assets/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/assets/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/select2.min.js"></script>
<script type="text/javascript" src="/assets/js/moment.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>
<script type="text/javascript">
    $(document).on('click', "#setUrlItem", function () {
            localStorage.removeItem('url');
            localStorage.setItem("url", window.location.pathname);
        });
        $(document).on('click', '#expandBtn', function(){
            $("#expandToggle").toggle();
            $("i", this).toggleClass("fa fa-arrow-up fa fa-arrow-down");
        });
    $(document).ready(function (e) {
        $("#targetform").validate({
            rules: {
                edit_target_first_name: {
                    required: true
                },
                edit_target_last_name: {
                    required: true
                },
                org_name: {
                    required: true
                },
                org_id: {
                    required: true
                },
                org_code: {
                    required: true
                },
                email: {
                    required: true,
                    email: true
                },
                mobile_no: {
                    required: true
                },
                fax: {
                    required: true
                },
                address1: {
                    required: true
                },
                country: {
                    required: true
                },
                state: {
                    required: true
                },
                city: {
                    required: true
                },
                zipcode: {
                    required: true
                }
            },
            messages: {
                edit_target_first_name: {
                    required: "First Name can't be blank"
                },
                edit_target_last_name: {
                    required: "Last name  title can't be blank"
                },
                org_name: {
                    required: "Organisation Name can't be blank"
                },
                org_id: {
                    required: "Organisation ID can't be blank"
                },
                org_code: {
                    required: "Organisation code can't be blank"
                },
                email: {
                    required: "Email id can't be blank",
                    email: "Enter valid email id"
                },
                mobile_no: {
                    required: "Mobile number can't blank"
                },
                fax: {
                    required: "Fax can't be blank"
                },
                address1: {
                    required: "Must provide address"
                },
                country: {
                    required: "Choose your country"
                },
                state: {
                    required: "Choose your state"
                },
                city: {
                    required: "Choose your city"
                },
                zipcode: {
                    required: "Choose your zipcode"
                }
            }
        });

        // add designation ajax operation and form validation ends

        //hide show type
		let _msType = $('#_targetContact').val();
		if (_msType==='O') {
			$('#org_type').show();
			$('#indivisual_type').hide();
			$('#m_s_contactInformation').show();
		} else {
			$('#org_type').hide();
			$('#indivisual_type').show();
			$('#m_s_contactInformation').hide();
		}

    });
</script> {{/content}}
