{{#content "style" mode="prepend"}}
<link rel="stylesheet" type="text/css" href="/assets/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" /> {{/content}}
<div class="page-wrapper">
	<div class="content container-fluid">
		<div class="row">
			{{#if error_message}}
			<div class="alert alert-danger">
				<strong>Error! </strong>{{error_message}}
			</div>
			{{/if}}
			<div class="col-sm-8">
				<h4 class="page-title">Edit Target</h4>
			</div>
		</div>
		<form id="targetform" method="POST" action="/target/edit/{{client.id}}">
			<input type="hidden" name="_csrf" value="{{csrfToken}}">
			<input type="hidden" value="{{client.id}}" id="id" />
			<input type="hidden" value="{{client.target_type}}" id="_contactInformation" />
			<div class="form-inline m-b-15">
				<div class="form-group m-r-5">
					<label class="input-group">
						<span class="input-group-addon">
							<input type="radio" id="individual_client" name="client_type" value="I" {{#if_eq client.target_type "I"}} checked {{/if_eq}}
							 disabled />
						</span>
						<div class="form-control form-control-static">Individual</div>
						<span class="glyphicon form-control-feedback"></span>
					</label>
				</div>
				<div class="form-group ">
					<label class="input-group">
						<span class="input-group-addon">
							<input type="radio" id="organization_client" name="client_type" value="O" {{#if_eq client.target_type "O"}} checked {{/if_eq}}
							 disabled />
						</span>
						<div class="form-control form-control-static">Organization</div>
						<span class="glyphicon form-control-feedback"></span>
					</label>
				</div>
			</div>
			<div class="card-box">
				<h3 class="card-title">Basic Information</h3>
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div id="org_type" {{#if_eq client.target_type "I"}} style="display: none;" {{/if_eq}}>
								<div class="col-md-12">
									<div class="form-group form-focus">
										<label class="control-label">Organisation Name <span class="req-lbl">*</span></label>
										<input type="text" class="form-control floating" id="org_name" name="org_name" value="{{client.organization_name}}" />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">Organisation Code</label>
										<input type="text" class="form-control floating" id="org_code" name="org_code" value="{{client.organization_code}}" />
									</div>
								</div>
							</div>
							<div id="individual_type" {{#if_eq client.target_type "O"}} style="display: none;" {{/if_eq}}>
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">First Name <span class="req-lbl">*</span></label>
										<input type="text" class="form-control floating" id="first_name" name="first_name" value="{{client.first_name}}" />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">Last Name <span class="req-lbl">*</span></label>
										<input type="text" class="form-control floating" id="last_name" name="last_name" value="{{client.last_name}}" />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">Target Code</label>
										<input type="text" class="form-control floating" id="target_code" name="target_code" value="{{client.target_code}}" />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group form-focus select-focus select-attorney">
										<label class="control-label">Gender <span class="req-lbl">*</span></label>
										<select class="form-control floating" id="gender" name="gender">
											<option value="">Select Gender</option>
											<option value="M" {{#if_eq client.gender "M"}} selected {{/if_eq}}>Male</option>
											<option value="F" {{#if_eq client.gender "F"}} selected {{/if_eq}}>Female</option>
											<option value="O" {{#if_eq client.gender "O"}} selected {{/if_eq}}>Others</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group form-focus">
									<label class="control-label">Email Id
										<span class="req-lbl">*</span>
									</label>
									<input type="text" class="form-control floating" id="email" name="email" value="{{client.email}}" />
									<span id="uniqueEmail" style="color: red"><span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group form-focus select-focus">
									<label class="control-label">Phone No. <span class="req-lbl">*</span></label>
									<input type="text" class="form-control floating number_validator" id="phone_no" name="phone_no" value="{{client.phone_no}}"
									/>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group form-focus select-focus">
									<label class="control-label">Mobile No. <span class="req-lbl">*</span></label>
									<input type="text" class="form-control floating number_validator" id="mobile_no" name="mobile_no" value="{{client.mobile_no}}"
									/>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group form-focus select-focus">
									<label class="control-label">Fax</label>
									<input type="text" class="form-control floating number_validator" id="fax" name="fax" value="{{client.fax}}" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card-box">
				<h3 class="card-title">Revenue Information</h3>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">Estimated Customer Lifetime Value</label>
							<input class="form-control floating" type="text" id="life_time_revenue" name="life_time_revenue" value="{{client.estimated_lifetime_value}}">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">Close Date <span class="req-lbl">*</span></label>
							<div class="cal-icon">
								<input class="form-control floating datetimepicker" type="text" id="targetCloseDate" name="targetCloseDate" value="{{dateFormat client.close_date "MM-DD-YYYY"}}" data-date-format="MM-DD-YYYY">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">Planning Period Start Date <span class="req-lbl">*</span></label>
							<div class="cal-icon">
								<input class="form-control floating datetimepicker" type="text" id="targetStartDate" name="targetStartDate" value="{{dateFormat client.revenues.0.start_date "MM-DD-YYYY"}}" data-date-format="MM-DD-YYYY">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus select-focus select-attorney">
							<label class="control-label">Revenue Planning Period (Month) <span class="req-lbl">*</span></label>
							<select class="form-control floating" id="planning_period" name="planning_period">
								<option value="">Select Planning Period </option>
								<option value="1" {{#if_eq client.revenues.0.planning_period "1"}} selected {{/if_eq}}>1</option>
								<option value="2" {{#if_eq client.revenues.0.planning_period "2"}} selected {{/if_eq}}>2</option>
								<option value="3" {{#if_eq client.revenues.0.planning_period "3"}} selected {{/if_eq}}>3</option>
								<option value="4" {{#if_eq client.revenues.0.planning_period "4"}} selected {{/if_eq}}>4</option>
								<option value="5" {{#if_eq client.revenues.0.planning_period "5"}} selected {{/if_eq}}>5</option>
								<option value="6" {{#if_eq client.revenues.0.planning_period "6"}} selected {{/if_eq}}>6</option>
								<option value="7" {{#if_eq client.revenues.0.planning_period "7"}} selected {{/if_eq}}>7</option>
								<option value="8" {{#if_eq client.revenues.0.planning_period "8"}} selected {{/if_eq}}>8</option>
								<option value="9" {{#if_eq client.revenues.0.planning_period "9"}} selected {{/if_eq}}>9</option>
								<option value="10" {{#if_eq client.revenues.0.planning_period "10"}} selected {{/if_eq}}>10</option>
								<option value="11" {{#if_eq client.revenues.0.planning_period "11"}} selected {{/if_eq}}>11</option>
								<option value="12" {{#if_eq client.revenues.0.planning_period "12"}} selected {{/if_eq}}>12</option>
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">Planning Period End Date</label>
							<input class="form-control floating datetimepicker" type="text" id="end_date" name="end_date" readonly value="{{dateFormat client.revenues.0.end_date "MM-DD-YYYY"}}" data-date-format="MM-DD-YYYY">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">Estimated Planning Period Revenue</label>
							<input class="form-control floating" type="text" id="estimated_revenue" name="estimated_revenue" value="{{client.revenues.0.estimated_revenue}}">
						</div>
					</div>
					{{!-- <div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">Current Annual Revenue</label>
							<input class="form-control floating" type="text" id="current_revenue" name="current_revenue" value="{{client.revenues.0.current_revenue}}">
						</div>
					</div> --}}
				</div>
			</div>
			<div class="card-box">
				<h3 class="card-title">Attorney Information</h3>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group form-focus select-focus select-attorney">
							<label class="control-label">Attorney <span class="req-lbl">*</span></label>
							<select id="attorney_id" name="attorney_id" class="form-control floating ">
								{{#if_eq user.role_id "3"}}
									<option value="{{user.id}}">{{user.first_name}} {{user.last_name}}</option>
								{{else}}
									<option value="">Select Attorney</option>
									{{#if_eq user.is_attorney "1"}}
										<option value="{{user.id}}" {{#if_eq user.id client.attorney_id}} selected="selected" {{/if_eq}}>{{user.first_name}}
										{{user.last_name}}</option>
									{{/if_eq}}
									{{#each attorney}}
										<option value="{{this.id}}" {{#if_eq this.id ../client.attorney_id}} selected="selected" {{/if_eq}}>{{this.first_name}}
										{{this.last_name}}</option>
									{{/each}}
								{{/if_eq}}
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="card-box">
				<h3 class="card-title">Address</h3>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group form-focus">
							<label class="control-label">Address Line 1 <span class="req-lbl">*</span></label>
							<input type="text" class="form-control floating" id="address1" name="address1" value="{{client.address1}}" />
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group form-focus">
							<label class="control-label">Address Line 2</label>
							<input type="text" class="form-control floating" id="address2" name="address2" value="{{client.address2}}" />
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group form-focus">
							<label class="control-label">Address Line 3</label>
							<input type="text" class="form-control floating" id="address3" name="address3" value="{{client.address3}}" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus select-focus">
							<label class="control-label">Country <span class="req-lbl">*</span></label>
							<select id="country" name="country" class="form-control floating">
								{{#each country}}
									<option value="{{this.id}}">{{this.name}}</option>
								{{/each}}
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus select-focus">
							<label class="control-label">State <span class="req-lbl">*</span></label>
							<select id="state" name="state" class="form-control floating">
								<option value="">Select State</option>
								{{#each state}}
									<option value="{{this.id}}" {{#if_eq this.id ../client.state}} selected="selected" {{/if_eq}}>{{this.name}}</option>
								{{/each}}
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus select-focus">
							<label class="control-label">City <span class="req-lbl">*</span></label>
							<select id="city" name="city" class="form-control floating">
								<option value="">Select City</option>
								{{#each city}}
									<option value="{{this.id}}" {{#if_eq this.id ../client.city}} selected="selected" {{/if_eq}}>{{this.name}}</option>
								{{/each}}
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus select-focus">
							<label class="control-label">Zip Code <span class="req-lbl">*</span></label>
							<select id="zipcode" name="zipcode" class="form-control floating">
								<option value="">Select Zipcode</option>
								{{#each zipcode}}
									<option value="{{this.id}}" {{#if_eq this.id ../client.postal_code}} selected="selected" {{/if_eq}}>{{this.zip}}</option>
								{{/each}}
							</select>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group form-focus">
							<label class="control-label">Address Remarks </label>
							<textarea class="form-control floating" id="address_remarks" name="address_remarks" rows="5">{{client.address_remarks}}</textarea>
						</div>
					</div>
				</div>
			</div>

			<div class="card-box" id="m_s_contactInformation" style="display: none;">
				<h3 class="card-title">Contact Information</h3>
				<div id="_contactPlus">
					{{#each contactDetails}}
					<div class="contact-information contactDetailsRemove">
						{{#if_eq @index "0"}}
						<button class="btn btn-primary btn-lg masterContactDetailsAdd" id="_contactDetailsPlus" type="button" title="Remove">
							<i class="fa fa-plus"></i>
						</button>
						{{else}}
						<button class="btn btn-primary btn-lg masterContactDetailsAdd contact-Information-Close" type="button" title="Remove">
							<i class="fa fa-close"></i>
						</button>
						{{/if_eq}}

						<div class="contact-margin">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">First Name</label>
										<input type="text" class="form-control floating" id="contactDetailsFirstName" name="contactDetailsFirstName[]" value="{{this.first_name}}"
										/>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">Last Name</label>
										<input type="text" class="form-control floating" id="contactDetailsSecondName" name="contactDetailsSecondName[]" value="{{this.last_name}}"
										/>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group form-focus select-focus">
										<label class="control-label">Gender</label>
										<select class="form-control floating" id="contactDetailsGender" name="contactDetailsGender[]">
											<option value="">Select Gender</option>
											<option value="M" {{#if_eq this.gender "M"}} selected {{/if_eq}}>Male</option>
											<option value="F" {{#if_eq this.gender "F"}} selected {{/if_eq}}>Female</option>
											<option value="O" {{#if_eq this.gender "O"}} selected {{/if_eq}}>Others</option>
										</select>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">Email Id</label>
										<input type="text" class="form-control floating" id="contactDetailsEmail" name="contactDetailsEmail[]" value="{{this.email}}"
										/>
										<span id="uniqueEmail" style="color: red"></span>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">Phone No.</label>
										<input type="text" class="form-control floating number_validator" id="contactDetailsPhone_no" name="contactDetailsPhone_no[]"
										 maxlength="50" value={{this.phone_no}} />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">Fax</label>
										<input type="text" class="form-control floating number_validator" id="contactDetailsFax" name="contactDetailsFax[]" maxlength="50"
										 value="{{this.fax}}" />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group form-focus">
										<label class="control-label">Mobile No.</label>
										<input type="text" class="form-control floating number_validator" id="contactDetailsMobile_no" name="contactDetailsMobile_no[]"
										 maxlength="50" value="{{this.mobile_no}}" />
									</div>
								</div>
							</div>
						</div>
					</div>
					{{/each}}
				</div>
				<div class="contactInformationClose" style="display: none;">
					<div class="contactDetailsRemove">
						<div class="contact-information" id="contactInformatinClose">
							<button class="btn btn-primary btn-lg masterContactDetailsAdd contact-Information-Close" type="button" title="Remove">
								<i class="fa fa-close"></i>
							</button>
							<div class="contact-margin ">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group form-focus">
											<label class="control-label">First Name</label>
											<input type="text" class="form-control floating" name="contactDetailsFirstName[]" />
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group form-focus">
											<label class="control-label">Last Name</label>
											<input type="text" class="form-control floating" name="contactDetailsSecondName[]" />
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group form-focus select-focus">
											<label class="control-label">Gender</label>
											<select class="form-control floating" name="contactDetailsGender[]">
												<option value="">Select Gender</option>
												<option value="M">Male</option>
												<option value="F">Female</option>
												<option value="O">Others</option>
											</select>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group form-focus">
											<label class="control-label">Email Id</label>
											<input type="text" class="form-control floating" name="contactDetailsEmail[]" />
											<span id="uniqueEmail" style="color: red"></span>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group form-focus">
											<label class="control-label">Phone No.</label>
											<input type="text" class="form-control floating number_validator" name="contactDetailsPhone_no[]" maxlength="50" />
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group form-focus">
											<label class="control-label">Fax</label>
											<input type="text" class="form-control floating number_validator" name="contactDetailsFax[]" maxlength="50" />
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group form-focus">
											<label class="control-label">Mobile No.</label>
											<input type="text" class="form-control floating number_validator" id="contactDetailsMobile_no" name="contactDetailsMobile_no[]"
											 maxlength="50" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="card-box">
				<div class="col-xs-4">
					<h3 class="card-title">Referral Sources Information</h3>
				</div>
				<div class="col-xs-8 text-right">
					<a href="#" class="btn btn-primary rounded" data-toggle="modal" data-target="#add_referral"><i class="fa fa-plus"></i>
						Add Referral Sources</a>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="table-responsive">
							<table class="table table-striped custom-table datatable">
								<thead>
									<tr>
										<th>SL#</th>
										<th>Referral Sources Name</th>
										<th>Email</th>
									</tr>
								</thead>
								<tbody>
									{{#each referralListArr}}
									<tr>
										<td>{{math @index "+" 1}}</td>
										<td>{{this.name}}</td>
										<td>{{this.email}}</td>
									</tr>
									{{/each}}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

			<div class="card-box">
				<h3 class="card-title">Other Information</h3>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">Company Name</label>
							<input type="text" class="form-control floating" id="company_name" name="company_name" value="{{client.company_name}}" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">Website URL</label>
							<input type="text" class="form-control floating url_selector" id="website_url" name="website_url" value="{{client.website_url}}"
							/>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">IM</label>
							<input type="text" class="form-control floating" id="im" name="im" value="{{client.im}}" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">Twitter</label>
							<input type="text" class="form-control floating url_selector" id="twitter" name="twitter" value="{{client.twitter}}" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">Linkedin</label>
							<input type="text" class="form-control floating url_selector" id="linkedin" name="linkedin" value="{{client.linkedin}}" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">Facebook</label>
							<input type="text" class="form-control floating url_selector" id="social_url" name="social_url" value="{{client.social_url}}"
							/>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">Google</label>
							<input type="text" class="form-control floating url_selector" id="google" name="google" value="{{client.google}}" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">Youtube</label>
							<input type="text" class="form-control floating url_selector" id="youtube" name="youtube" value="{{client.youtube}}" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus select-focus select-attorney">
							<label class="control-label">Association Status</label>
							<select id="association" name="association" class="form-control floating">
								<option value="0">Select Association Status</option>
								<option value="CONVERTED" {{#if_eq client.association "CONVERTED"}} selected="selected" {{/if_eq}}>CONVERTED</option>
								<option value="NEW TARGET" {{#if_eq client.association "NEW TARGET"}} selected="selected" {{/if_eq}}>NEW TARGET</option>
								<option value="TS-INTERIM" {{#if_eq client.association "TS-INTERIM"}} selected="selected" {{/if_eq}}>TS-INTERIM</option>
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus select-focus select-attorney">
							<label class="control-label">Industry Type</label>
							<select id="industry_type" name="industry_type" class="form-control floating">
								<option value="0">Please select industry type</option>
								{{#each industry}}
								<option value="{{this.id}}" {{#if_eq this.id ../client.industry_type}} selected="selected" {{/if_eq}}>{{this.industry_name}}</option>
								{{/each}}
							</select>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group form-focus">
							<label class="control-label">Remarks</label>
							<textarea class="form-control floating" id="remarks" name="remarks" rows="5">{{client.remarks}}</textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="text-center m-t-20">
				<button class="btn btn-primary btn-lg" type="submit" id="addclient">Save &amp; Update Target</button>
				<a href="/target" class="btn btn-primary btn-lg m-l-10">Cancel</a>
			</div>
		</form>
	</div>
</div>
{{!-- /********************** Start Modal *******************************/ --}}
<div id="add_referral" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add Referral Sources</h4>
			</div>
			<div class="modal-body" style="height: 100px;">
				<form name="addRefferal" id="addRefferal" method="POST">
					<input type="hidden" id="xxx" name="target_id" value="{{client.id}}">
					<div class="col-md-6 col-md-offset-3" id="referral_list">
						<div class="form-group form-focus select-attorney">
							<select id="referral_id" name="referral_id_t" class="form-control floating">
								<option value="">Select Referral Sources</option>
								{{#each referral}}
								<option value="{{this.id}}" {{#inArrayCustom3 ../referralDetails this.id}} disabled {{/inArrayCustom3}}>{{this.first_name}}
									{{this.last_name}}</option>
								{{/each}}
							</select>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" type="button" id="btnAddReffered">Submit</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
{{!-- /********************** End Modal *********************************/ --}}
{{#content "script" mode="append"}}
<script type="text/javascript" src="/assets/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/assets/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/select2.min.js"></script>
<script type="text/javascript" src="/assets/js/moment.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
<script type="text/javascript">
	$(document).ready(function (e) {
		$("#btnAddReffered").click(function () {
			$("#addRefferal").submit();
		});
		$("#addRefferal").validate({
			rules: {
				referred_id_t: {
					required: true,
				}
			},
			messages: {
				referred_id_t: {
					required: "Referral can't be blank",
				}
			},
			submitHandler: function (form) {
				target_id = $('#xxx').val();
				referral_id = $('#referral_id').val();
				$.ajax({
					type: "POST",
					url: "/target/referraladd",
					data: {
						target_id: target_id,
						referral_id: referral_id
					},
					beforeSend: function (xhr) {
						xhr.setRequestHeader('X-CSRF-Token', "{{csrfToken}}");
						$("#btnAddReffered").prop('disabled', true);
						$("#btnAddReffered").html("Loading...");
					},
					success: function (response) {
						if (response.code == 200) {
							swal("", "Referral added successfully", "success");
							setTimeout(function () {
								location.reload();
							}, 2000);
						} else {
							swal("", "Please try again", "warning");
						}
					}
				});
			}
		});
		$("#attorney_id").trigger('change');
		$("#estimated_revenue").inputmask("numeric", {
			radixPoint: ".",
			groupSeparator: ",",
			digits: 2,
			autoGroup: true,
			prefix: '$ ',
			rightAlign: false
		});
		$("#lifetimeClient").inputmask("numeric", {
			radixPoint: ".",
			groupSeparator: ",",
			digits: 2,
			autoGroup: true,
			prefix: '$ ',
			rightAlign: false
		});
		$("#current_revenue").inputmask("numeric", {
			radixPoint: ".",
			groupSeparator: ",",
			digits: 2,
			autoGroup: true,
			prefix: '$ ',
			rightAlign: false
		});
		$("#estimatedLifetime").inputmask("numeric", {
			radixPoint: ".",
			groupSeparator: ",",
			digits: 2,
			autoGroup: true,
			prefix: '$ ',
			rightAlign: false
		});
		$("#targetform").validate({
			rules: {
				first_name: {
					required: true
				},
				last_name: {
					required: true
				},
				attorney_id: {
					required: true
				},
				org_name: {
					required: true
				},
				email: {
					required: true,
					email: true
				},
				gender: {
					required: true
				},
				phone_no: {
					required: true
				},
				address1: {
					required: true
				},
				country: {
					required: true
				},
				state: {
					required: true
				},
				city: {
					required: true
				},
				zipcode: {
					required: true
				},
				life_time_revenue: {
					required: true
				},
				targetCloseDate: {
					required: true
				},
				targetStartDate: {
					required: true
				},
				planning_period: {
					required: true
				},
				estimated_revenue: {
					required: true
				}
			},
			messages: {
				first_name: {
					required: "First Name can't be blank"
				},
				last_name: {
					required: "Last Name can't be blank"
				},
				org_name: {
					required: "Organisation Name can't be blank"
				},
				email: {
					required: "Email Id can't be blank",
					email: "Enter valid email id"
				},
				phone_no: {
					required: "Phone No. can't be blank"
				},
				gender: {
					required: "Choose your gender"
				},
				address1: {
					required: "Address1 can't be blank"
				},
				country: {
					required: "Choose your country"
				},
				state: {
					required: "Choose your state"
				},
				city: {
					required: "Choose your city"
				},
				zipcode: {
					required: "Choose your zipcode"
				},
				life_time_revenue: {
					required: "Life Time Revenue can't be blank"
				},
				targetCloseDate: {
					required: "Close Date can't be blank"
				},
				targetStartDate: {
					required: "Start Date can't be blank"
				},
				planning_period: {
					required: "Choose Planning Period"
				},
				planning_period: {
					required: "Please select planning period"
				},
				estimated_revenue: {
					required: "Estimated Revenue can't be blank"
				}
			}
		});
		// add designation ajax operation and form validation ends
		let _msType = $('#_contactInformation').val();
		if (_msType === 'O') {
			$('#m_s_contactInformation').show();
		} else {
			$('#m_s_contactInformation').hide();
		}
		//contact information 
		$(document).on('click', '#_contactDetailsPlus', function () {
			$('#_contactPlus').append($('.contactInformationClose').html());
		});
		$(document).on('click', '.contact-Information-Close', function (e) {
			$(this).parents(".contactDetailsRemove").remove();
		});
		$(document).on("change", "#planning_period", function () {
			var start_date = $("#targetStartDate").val();
			var period = $(this).val();
			if (start_date == "") {
				swal("", "Please Select Start date!", "warning");
			} else {
				if ($(this).val() == '') {
					swal("", "Please selcet planning period!", "warning");
					$("#end_date").val('');
				} else {
					var start_date_split = start_date.split('-');
					var month = start_date_split[2] + "," + start_date_split[0] + "," + start_date_split[1];
					var current_date = new Date(month);
					var end_date = new Date(current_date.setMonth(current_date.getMonth() + parseInt(period)));
					var dd = end_date.getDate();
					var mm = end_date.getMonth() + 1; //January is 0!
					var yyyy = end_date.getFullYear();
					if (dd < 10) {
						dd = '0' + dd;
					}
					if (mm < 10) {
						mm = '0' + mm;
					}
					var end_date = mm + '-' + dd + '-' + yyyy;
					$("#end_date").val(end_date);
				}
			}
		});
	});
</script>
{{/content}}