{{#content "style" mode="prepend"}}
<link rel="stylesheet" type="text/css" href="/assets/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/jquery.tagsinput.css">
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-multiselect.css">
{{/content}}
<div class="page-wrapper">
	<div class="content container-fluid">
		<div class="row">
			{{#if error_message}}
			<div class="alert alert-danger">
				<strong>Error! </strong>{{error_message}}
			</div>
			{{/if}}
			<div class="col-sm-8">
				<h4 class="page-title">Client Details</h4>
			</div>
			<div class="col-sm-4">
                <div class="text-right">
					<a href="/client/edit/{{client.id}}" class="btn btn-primary pull-right rounded"><i class="fa fa-pencil"></i> Edit Client</a>
					<a href="/client" class="btn btn-primary pull-right rounded m-r-5"><i class="fa fa-arrow-left"></i> Back</a>
				</div>
			</div>
		</div>
		<form id="clientform" method="POST" action="/client/editClient/{{client.id}}">
			<input type="hidden" name="_csrf" value="{{csrfToken}}">
			<input type="hidden" value="{{client.id}}" id="id" disabled />
			<input type="hidden" id="activity_type_details" name="activity_type_details" value="{{client.tag_type}}">
			<div class="form-inline m-b-15">
				<div class="form-group m-r-5">
					<label class="input-group">
						<span class="input-group-addon">
							<input type="radio" id="individual_client" name="client_type" value="I" {{#if_eq client.client_type "I"}} checked {{/if_eq}}
							 disabled />
						</span>
						<div class="form-control form-control-static">Individual</div>
						<span class="glyphicon form-control-feedback"></span>
					</label>
				</div>
				<div class="form-group">
					<label class="input-group">
						<span class="input-group-addon">
							<input type="radio" id="organization_client" name="client_type" value="O" {{#if_eq client.client_type "O"}} checked {{/if_eq}}
							 disabled />
						</span>
						<div class="form-control form-control-static">Organization</div>
						<span class="glyphicon form-control-feedback"></span>
					</label>
				</div>
			</div>
			<div class="card-box">
				<h3 class="card-title">Basic Information</h3>
				<div class="row">
					<div class="col-md-12">
						<div id="org_type" {{#if_eq client.client_type "I"}} style="display: none;" {{/if_eq}}>
							<div class="col-md-12">
								<div class="form-group form-focus">
									<label class="control-label">Organization Name</label>
									<input type="text" class="form-control floating" id="org_name" name="org_name" value="{{client.organization_name}}" disabled="disabled" />
								</div>
							</div>
							{{!-- <div class="col-md-6">
								<div class="form-group form-focus">
									<label class="control-label">Organisation ID</label>
									<input type="text" class="form-control floating" id="org_id" name="org_id" value="{{client.organization_id}}" disabled="disabled"
									/>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group form-focus">
									<label class="control-label">Organisation Code</label>
									<input type="text" class="form-control floating" id="org_code" name="org_code" value="{{client.organization_code}}" disabled="disabled"
									/>
								</div>
							</div> --}}
						</div>
						<div id="individual_type" {{#if_eq client.client_type "O"}} style="display: none;" {{/if_eq}}>
							<div class="col-md-6">
								<div class="form-group form-focus">
									<label class="control-label">First Name <span class="req-lbl">*</span> </label>
									<input type="text" class="form-control floating" id="edit_client_first_name" name="edit_client_first_name" value="{{client.first_name}}" disabled="disabled" />
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group form-focus">
									<label class="control-label">Last Name <span class="req-lbl">*</span> </label>
									<input type="text" class="form-control floating" id="edit_client_last_name" name="edit_client_last_name" value="{{client.last_name}}" disabled="disabled" />
								</div>
							</div>
							{{!-- <div class="col-md-6">
								<div class="form-group form-focus">
									<label class="control-label">Client ID</label>
									<input type="text" class="form-control floating" id="client_id" name="client_id" value="{{client.client_id}}" disabled="disabled" />
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group form-focus">
									<label class="control-label">Master ID</label>
									<input type="text" class="form-control floating" id="master_id" name="master_id" value="{{client.master_id}}" disabled="disabled" />
								</div>
							</div> --}}
							<div class="col-md-6">
								<div class="form-inline m-b-15">
									<div class="form-group m-r-5">
										<label class="input-group">
											<span class="input-group-addon">
												<input type="radio" id="new-add-tag" name="add-tag" value="new" disabled="disabled" {{#if_eq client.tag_type 'n'}} checked {{/if_eq}} />
											</span>
											<div class="form-control form-control-static">New Tags {{client.tag_type}}</div>
											<span class="glyphicon form-control-feedback"></span>
										</label>
									</div>
									<div class="form-group">
										<label class="input-group">
											<span class="input-group-addon">
												<input type="radio" id="existing-tag" name="add-tag" value="existing" disabled="disabled" {{#if_eq client.tag_type 'e'}} checked {{/if_eq}} />
											</span>
											<div class="form-control form-control-static">Existing Tags</div>
											<span class="glyphicon form-control-feedback"></span>
										</label>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div id="add-tag-existing-client" style="display: none;">
									<div class="form-group form-focus select-focus">
										<select id="select-existing-tags" name="existing_tags" class="form-control floating" multiple="multiple" disabled>
											{{#each tags}}
												<option value="{{this.id}}" {{#inArray ../existing_tag this.id}} selected="selected" {{/inArray}}>{{this.tags}}</option>
											{{/each}}
										</select>
									</div>
								</div>
								<div id="add-tag-client">
									<div class="form-group form-focus">
										<label class="control-label">Add New Tags</label>
										<input type="text" class="form-control floating" id="add-new-tags" name="add_new_tags" disabled="disabled" value="{{client.tags}}" />
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group form-focus">
									<label class="control-label">Current Revenue</label>
									<input class="form-control floating" type="text" id="current_revenue" name="current_revenue" value="{{client.current_revenue}}" disabled>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group form-focus">
									<label class="control-label">Estimated Revenue</label>
									<input class="form-control floating" type="text" id="estimated_revenue" name="estimated_revenue" value="{{client.estimated_revenue}}" disabled>
								</div>
							</div>
							{{!-- <div class="col-md-6">
								<div class="form-group form-focus">
									<label class="control-label">Birth Date
										<span class="req-lbl">*</span>
									</label>
									<div class="cal-icon">
										<input class="form-control floating datetimepicker" type="text" id="client_dob" name="client_dob" value="{{dateFormat client.date_of_birth "
										 DD-MM-YYYY "}}" disabled="disabled" />
									</div>
								</div>
							</div> --}}
							<div class="col-md-6">
								<div class="form-group form-focus select-focus">
									<label class="control-label">Gender <span class="req-lbl">*</span> </label>
									<select class="form-control floating" id="client_gender" name="client_gender" disabled="disabled" />
									<option value="">Select Gender</option>
									<option value="M" {{#if_eq client.gender "M"}} selected {{/if_eq}}>Male</option>
									<option value="F" {{#if_eq client.gender "F"}} selected {{/if_eq}}>Female</option>
									<option value="O" {{#if_eq client.gender "O"}} selected {{/if_eq}}>Other</option>
									</select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group form-focus">
									<label class="control-label">Client Company</label>
									<input type="text" class="form-control floating" id="client_company" name="client_company" value="{{client.client_company}}" disabled="disabled" />
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group form-focus">
								<label class="control-label">Email Id <span class="req-lbl">*</span> </label>
								<input type="text" class="form-control floating" id="email" name="email" value="{{client.email}}" disabled="disabled" />
								<span id="uniqueEmail" style="color: red"></span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group form-focus">
								<label class="control-label">Phone No. <span class="req-lbl">*</span> </label>
								<input type="text" class="form-control floating number_validator" id="phone_no" name="phone_no" value="{{client.phone_no}}" disabled="disabled" />
								<span id="uniquePhone" style="color: red"></span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group form-focus select-focus">
								<label class="control-label">Mobile No. <span class="req-lbl">*</span> </label>
								<input type="text" class="form-control floating number_validator" id="mobile_no" name="mobile_no" value="{{client.mobile_no}}" disabled="disabled" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group form-focus select-focus">
								<label class="control-label">Fax</label>
								<input type="text" class="form-control floating number_validator" id="fax" name="fax" value="{{client.fax}}" disabled="disabled" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card-box">
				<h3 class="card-title">Contact Information</h3>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group form-focus">
							<label class="control-label">Address Line 1 <span class="req-lbl">*</span> </label>
							<input type="text" class="form-control floating" id="address1" name="address1" value="{{client.address1}}" disabled="disabled" />
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group form-focus">
							<label class="control-label">Address Line 2</label>
							<input type="text" class="form-control floating" id="address2" name="address2" value="{{client.address2}}" disabled="disabled" />
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group form-focus">
							<label class="control-label">Address Line 3</label>
							<input type="text" class="form-control floating" id="address3" name="address3" value="{{client.address_line_3}}" disabled="disabled" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus select-focus">
							<label class="control-label">Country <span class="req-lbl">*</span> </label>
							<select id="country" name="country" class="form-control floating" disabled="disabled">
								{{#each country}}
									<option value="{{this.id}}">{{this.name}}</option>
								{{/each}}
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus select-focus">
							<label class="control-label">State <span class="req-lbl">*</span> </label>
							<select id="state" name="state" class="form-control floating" disabled="disabled">
								<option value="">Select State</option>
								{{#each state}}
									<option value="{{this.id}}" {{#if_eq this.id ../client.state}} selected="selected" {{/if_eq}}>{{this.name}}</option>
								{{/each}}
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus select-focus">
							<label class="control-label">City <span class="req-lbl">*</span> </label>
							<select id="city" name="city" class="form-control floating" disabled="disabled">
								<option value="">Select City</option>
								{{#each city}}
									<option value="{{this.id}}" {{#if_eq this.id ../client.city}} selected="selected" {{/if_eq}}>{{this.name}}</option>
								{{/each}}
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus select-focus">
							<label class=" control-label">Zip Code <span class="req-lbl">*</span> </label>
							<select id="zipcode" name="zipcode" class="form-control floating" disabled="disabled">
								<option value="">Select Zipcode</option>
								{{#each zipcode}}
									<option value="{{this.id}}" {{#if_eq this.id ../client.pin_code}} selected="selected" {{/if_eq}}>{{this.zip}}</option>
								{{/each}}
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="card-box">
				<h3 class="card-title">Attorney Information</h3>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group form-focus select-focus">
							<label class="control-label">Attorney <span class="req-lbl">*</span> </label>
							<select id="designation" name="attorney_id" class="select form-control floating" disabled="disabled">
								{{#each attorney}}
									<option value="{{this.id}}" {{#if_eq this.id ../client.attorney_id}} selected="selected" {{/if_eq}}>{{this.first_name}} {{this.last_name}}</option>
								{{/each}}
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="card-box">
				<h3 class="card-title">Other Information</h3>
				<div class="row">
					{{!-- <div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">Social URL</label>
							<input type="text" class="form-control floating url_selector" id="social" name="social" value="{{client.social_url}}" disabled="disabled" />
						</div>
					</div> --}}
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">Website</label>
							<input type="text" class="form-control floating" id="website" name="website" value="{{client.website_url}}" disabled="disabled" />
						</div>
					</div>
					{{!-- <div class="col-md-6">
						<div class="form-group form-focus select-focus">
							<label class="control-label">Designation</label>
							<select id="designation" name="designation" class="select form-control" disabled="disabled">
								<option value="">Select Designation</option>
								{{#each designation}}
									<option value="{{this.id}}" {{#if_eq this.id ../client.designation_id}} selected="selected" {{/if_eq}}>{{this.title}}</option>
								{{/each}}
							</select>
						</div>
					</div> --}}
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">IM</label>
							<input type="text" class="form-control floating" id="im" name="im" value="{{client.IM}}" disabled="disabled" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">Company Name</label>
							<input type="text" class="form-control floating" id="company_name" name="company_name" value="{{client.company_name}}" disabled="disabled" />
						</div>
					</div>
					{{!-- <div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">Social Security No</label>
							<input type="text" class="form-control floating number_validator" id="social_sec_no" name="social_sec_no" value="{{client.social_security_no}}" disabled="disabled" />
						</div>
					</div> --}}
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">Twitter</label>
							<input type="text" class="form-control floating url_selector" id="twitter" name="twitter" value="{{client.twitter}}" disabled="disabled" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">Linkedin</label>
							<input type="text" class="form-control floating url_selector" id="linkdn" name="linkdn" value="{{client.linkdn}}" disabled="disabled" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">Facebook</label>
							<input type="text" class="form-control floating url_selector" id="social" name="social" value="{{client.social_url}}" disabled="disabled" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">Youtube</label>
							<input type="text" class="form-control floating url_selector" id="youtub" name="youtub" value="{{client.youtub}}" disabled="disabled" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus">
							<label class="control-label">Google </label>
							<input type="text" class="form-control floating url_selector" id="google" name="google" value="{{client.google}}" disabled="disabled" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus select-focus">
							<label class="control-label">Association Status</label>
							<select id="association" name="association" class="select form-control" disabled="disabled">
								<option value="NEW TARGET" {{#if_eq client.association_type "NEW TARGET"}} selected="selected" {{/if_eq}}>NEW TARGET</option>
								<option value="CONVERTED" {{#if_eq client.association_type "CONVERTED"}} selected="selected" {{/if_eq}}>CONVERTED</option>
								<option value="TS-INTERIM" {{#if_eq client.association_type "TS-INTERIM"}} selected="selected" {{/if_eq}}>TS-INTERIM</option>
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group form-focus select-focus">
							<label class="control-label">Industry Type</label>
							<select id="industry_type" name="industry_type" class="select form-control" disabled="disabled">
								{{#each industry}}
									<option value="{{this.id}}" {{#if_eq this.id ../client.industry_type}} selected="selected" {{/if_eq}}>{{this.industry_name}}</option>
								{{/each}}
							</select>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group form-focus">
							<label class="control-label">Remarks</label>
							<textarea class="form-control floating" id="remarks" name="remarks" rows="5" disabled="disabled">{{client.remarks}}</textarea>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
{{#content "script" mode="append"}}
<script type="text/javascript" src="/assets/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/assets/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/select2.min.js"></script>
<script type="text/javascript" src="/assets/js/moment.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-multiselect.js"></script>
<script type="text/javascript">
	$(document).ready(function (e) {

		$("#current_revenue").inputmask("numeric", {
            radixPoint: ".",
            groupSeparator: ",",
            digits: 2,
            autoGroup: true,
            prefix: '$ ',
            rightAlign: false
        });

		$("#estimated_revenue").inputmask("numeric", {
            radixPoint: ".",
            groupSeparator: ",",
            digits: 2,
            autoGroup: true,
            prefix: '$ ',
            rightAlign: false
        });

		$('#select-existing-tags').multiselect({
			nonSelectedText: 'Select Existing Tags',
			includeSelectAllOption: true,
			buttonWidth: '100%'
		});

		var activity_id = $('#activity_type_details').val();

		if (activity_id == 'n') {
			$('#add-tag-client').show();
			$('#add-tag-existing-client').hide();
		} else {
			$('#add-tag-existing-client').show();
			$('#add-tag-client').hide();
		}

	});
</script> {{/content}}
