{{#content "style" mode="prepend"}}
<link rel="stylesheet" type="text/css" href="/assets/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-datetimepicker.min.css"> {{/content}}
<div class="page-wrapper">
	<div class="content container-fluid">
		<div class="tcr-view">
			<div class="card-box">
				<div class="info">
					<div class="row">
						<div class="col-sm-8">
						</div>
						<div class="col-sm-4">
							<div class="text-right">
								<a href="/client/edit/{{client.id}}" class="btn btn-primary pull-right rounded">
									<i class="fa fa-pencil"></i> Edit Client</a>
									<a href="/client" class="btn btn-primary pull-right rounded m-r-5">
										<i class="fa fa-arrow-left"></i> Back</a>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3 col-sm-3">
									<div class="text-center top-desc">
										<img src="https://cdn1.iconfinder.com/data/icons/flat-business-icons/128/user-512.png" alt="" height="100" width="100">
										<h4>{{client.first_name}} {{client.last_name}}</h4>
										<h6>{{client.email}}</h6>
									</div>
								</div>
								<div class="col-md-9 col-sm-9">
									<div class="info-tile address-target">
										<div class="col-md-12">
											<div class="row">
												<div class="col-md-4 col-sm-4 col-xs-4 border-divider address-panel">
													<div class="row">
														<div class="col-xs-3">
															<img src="https://cdn3.iconfinder.com/data/icons/black-white-social-media/32/logo_social_media_location-512.png" alt="" height="48"
															width="48">
														</div>
														<div class="col-xs-9">
															<p>
																{{client.address1}}, {{#if client.address2}}{{client.address2}},{{/if}} {{#if client.address_line_3}}{{client.address_line_3}},{{/if}}
																<br> {{city.name}}, {{state.name}},
																<br> {{zip.zip}}, {{country.name}}
															</p>
														</div>
													</div>
												</div>
												<div class="col-md-4 col-sm-4 col-xs-4 border-divider address-panel">
													<div class="row">
														<div class="col-xs-3">
															<img src="https://cdn3.iconfinder.com/data/icons/black-white-social-media/32/logo_social_media_phone-2-512.png" alt="" height="48"
															width="48">
														</div>
														<div class="col-xs-9">
															<span>M:</span>
															<p class="number_validator">
																{{client.mobile_no}}
															</p>
															<span>P:</span>
															<p class="number_validator">
																{{client.phone_no}}
															</p>
															<span>F:</span>
															<p class="number_validator">
																{{client.fax}}
															</p>
														</div>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-md-4 col-sm-4 col-xs-4 border-divider address-panel">
													<div class="row">
														<div class="col-xs-3">
															<img src="https://cdn4.iconfinder.com/data/icons/e-commerce-icon-set/48/Username_2-512.png" alt="" height="48" width="48">
														</div>
														<div class="col-xs-9">
															{{#if_eq client.target_type "O"}}
															<p>Organization</p>
															{{else}}
															<p>Individual</p>
															{{/if_eq}}
														</div>
													</div>
												</div>
												<div class="col-md-4 col-sm-4 col-xs-4 address-panel">
													<div class="row">
														<div class="col-xs-3">
															<img src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_group_work_48px-512.png" alt="" height="48"
															width="48">
														</div>
														<div class="col-xs-9">
															<p>
																Total Activity: {{count_activity}}
															</p>
														</div>
													</div>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>

						</div>
					</div>
					{{!-- Starts Info Tabs --}}
					<div class="card-box tab-box">
						<div class="row user-tabs">
							<div class="col-lg-12 col-md-12 col-sm-12 line-tabs">
								<ul class="nav nav-tabs tabs nav-tabs-bottom">
									<li class="active col-sm-4">
										<a data-toggle="tab" href="#activities">Activities</a>
									</li>
									<li class="col-sm-4">
										<a data-toggle="tab" href="#refferedinfo">Revenue Information</a>
									</li>
									<li class="col-sm-4">
										<a data-toggle="tab" href="#otherinfo">Other Information</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<div class="tab-content profile-tab-content">
									<div id="activities" class="tab-pane fade in active">
										<div class="card-box">
											<div class="row">
												<div class="col-md-12">
													<div class="table-responsive">
														<table class="table table-striped custom-table datatable">
															<thead>
																<tr>
																	<th>SL#</th>
																	<th>Activity Name</th>
																	<th>From Date</th>
																	<th>To Date</th>
																	<th>Remarks</th>
																	<th>Status</th>
																</tr>
															</thead>
															<tbody>
																{{#each activity_details}}
																<tr>
																	<td>{{math @index "+" 1}}</td>
																	<td>
																		<a href="/activity/view/{{this.activity.id}}" id="setUrlItem">{{this.activity.activity_name}}</a>
																	</td>
																	<td>{{dateFormat this.activity.activity_from_date "MM-DD-YYYY"}}</td>
																	<td>{{dateFormat this.activity.activity_to_date "MM-DD-YYYY"}}</td>
																	<td>{{this.activity.remarks}}</td>
																	<td> {{#if_eq this.activity.activity_status '0'}} NEW ACTIVITY - CREATED {{/if_eq}} {{#if_eq this.activity.activity_status
																		'1'}} PENDING APPROVAL - IN-PROGRESS {{/if_eq}} {{#if_eq this.activity.activity_status '2'}} APPROVED - PROCEED
																		{{/if_eq}} {{#if_eq this.activity.activity_status '3'}} NOT APPROVED - DISCARD ACTIVITY {{/if_eq}}
																	</td>
																</tr>
																{{/each}}
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div id="refferedinfo" class="tab-pane fade revenue">
										<div class="tabbable">
											<ul class="nav nav-tabs nav-tabs-top nav-justified m-b-0">
												<li class="active col-md-6 revenue">
													<a href="#all_revenue_lists" data-toggle="tab" aria-expanded="true">All planning periods with estimated and actual revenues</a>
												</li>
												<li class="col-md-6 revenue">
													<a href="#all_revenue_lists_yearly" data-toggle="tab" aria-expanded="false">Annual revenue with list of years</a>
												</li>
											</ul>
											<div class="tab-content">
												<div class="tab-pane active" id="all_revenue_lists">
													<div class="container">
														<div class="row">
															<div class="col-md-12">
																<ul class="personal-info other-info lifetime-revenue">
																	<li>
																		<span class="title">Estimated Customer Lifetime Value:</span>
																		<span class="text revenue_cost">{{client.estimated_customer_life_time_value}}</span>
																	</li>
																	<li>
																		<span class="title">Life time revenue:</span>
																		<span class="text revenue_cost">{{client.life_time_revenue}}</span>
																	</li>
																	<li>
																		<span class="title">Close Date:</span>
																		<span class="text">{{dateFormat client.close_date "MM-DD-YYYY"}}</span>
																	</li>
																</ul>
																{{#each client.revenues}}
																<ul class="personal-info other-info client-revenue-info">
																	<li>
																		<h4>Planning Period: {{math @index "+" 1}}</h4>
																	</li>
																	<li>
																		<span class="title">Planning Period Start Date:</span>
																		<span class="text">{{dateFormat this.start_date "MM-DD-YYYY"}}</span>
																	</li>
																	<li>
																		<span class="title">Revenue Planning Period (Month):</span>
																		<span class="text">{{this.planning_period}}</span>
																	</li>
																	<li>
																		<span class="title">Planning Period End Date:</span>
																		<span class="text">{{dateFormat this.end_date "MM-DD-YYYY"}}</span>
																	</li>
																	<li>
																		<span class="title">Estimated Planning Period Revenue:</span>
																		<span class="text revenue_cost">{{this.estimated_revenue}}</span>
																	</li>
																	<li>
																		<span class="title">Actual Planning Period Revenue:</span>
																		<span class="text revenue_cost">{{this.current_revenue}}</span>
																	</li>
																</ul>
																{{/each}}
															</div>
														</div>
													</div>
												</div>
												<div class="tab-pane" id="all_revenue_lists_yearly">
													<div class="card-box">
														<div class="row">
															<div class="col-md-12">
																<div class="table-responsive">
																	<table class="table table-striped custom-table datatable yearly-revenue-tbl">
																		<thead>
																			<tr>
																				<th>Year</th>
																				<th>Estimated Revenue</th>
																				<th>Actual Revenue</th>
																			</tr>
																		</thead>
																		<tbody>
																			{{#each total_yearly_revenue}}
																				{{#if_eq this.estimated_revenue "0"}}{{else}}
																					<tr>
																						<td>{{this.year}}</td>
																						<td class="revenue_cost">{{this.estimated_revenue}}</td>
																						<td class="revenue_cost">{{this.current_revenue}}</td>
																					</tr>
																				{{/if_eq}}
																			{{/each}}
																		</tbody>
																	</table>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										
									</div>
									<div id="otherinfo" class="tab-pane fade revenue">
										<div class="container">
											<div class="row">
												<div class="col-md-12">
													<ul class="personal-info other-info">
														<li>
															<span class="title">Gender:</span>
															<span class="text">
																{{#if_eq client.gender "M"}} Male {{/if_eq}} {{#if_eq client.gender "F"}} Female {{/if_eq}} {{#if_eq client.gender "O"}}
																Other {{/if_eq}}
															</span>
														</li>
														<li>
															<span class="title">Company Name:</span>
															<span class="text">{{client.company_name}}</span>
														</li>
														<li>
															<span class="title">IM:</span>
															<span class="text">{{client.IM}}</span>
														</li>
														<li>
															<span class="title">Website URL:</span>
															<span class="text">{{client.website_url}}</span>
														</li>
														<li>
															<span class="title">Twitter:</span>
															<span class="text">{{client.twitter}}</span>
														</li>
														<li>
															<span class="title">Linkedin:</span>
															<span class="text">{{client.linkdn}}</span>
														</li>
														<li>
															<span class="title">Google:</span>
															<span class="text">{{client.google}}</span>
														</li>
														<li>
															<span class="title">Facebook:</span>
															<span class="text">{{client.social_url}}</span>
														</li>
														<li>
															<span class="title">Youtube:</span>
															<span class="text">{{client.youtub}}</span>
														</li>
														<li>
															<span class="title">Association Status:</span>
															<span class="text">{{client.association_type}}</span>
														</li>
														<li>
															<span class="title">Industry Type:</span>
															<span class="text">{{industry.industry_name}}</span>
														</li>
														<li>
															<span class="title">Remarks:</span>
															<span class="text">{{client.remarks}}</span>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					{{!-- Ends Info Tabs --}}
				</div>
			</div>
		</div>
		{{#content "script" mode="append"}}
		<script type="text/javascript" src="/assets/js/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="/assets/js/dataTables.bootstrap.min.js"></script>
		<script type="text/javascript" src="/assets/js/select2.min.js"></script>
		<script type="text/javascript" src="/assets/js/moment.min.js"></script>
		<script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>
		<script type="text/javascript">
			$(document).on('click', "#setUrlItem", function () {
				localStorage.removeItem('url');
				localStorage.setItem("url", window.location.pathname);
			});
			$(document).on('click', '#expandBtn', function () {
				$("#expandToggle").toggle();
				$("i", this).toggleClass("fa fa-arrow-up fa fa-arrow-down");
			});
			$(".revenue_cost").inputmask("numeric", {
				radixPoint: ".",
				groupSeparator: ",",
				digits: 2,
				autoGroup: true,
				prefix: '$ ',
				rightAlign: false
			});
			$("#estimatedLifetime").inputmask("numeric", {
				radixPoint: ".",
				groupSeparator: ",",
				digits: 2,
				autoGroup: true,
				prefix: '$ ',
				rightAlign: false
			});
			$(document).ready(function (e) {
		// add designation ajax operation and form validation ends
		//hide show type
		let _msType = $('#_targetContact').val();
		if (_msType === 'O') {
			$('#org_type').show();
			$('#indivisual_type').hide();
			$('#m_s_contactInformation').show();
		} else {
			$('#org_type').hide();
			$('#indivisual_type').show();
			$('#m_s_contactInformation').hide();
		}

	});
	
</script> {{/content}}