{{#content "style" mode="prepend"}}
<link rel="stylesheet" type="text/css" href="/assets/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-datetimepicker.min.css"> {{/content}}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="pg-header">
            <div class="row">
                <div class="col-xs-4">
                    <h4 class="page-title">View Activity</h4>
                </div>
                <div class="col-xs-8 text-right">
                    <a href="/client" class="btn btn-primary pull-right rounded">
                        <i class="fa fa-arrow-left"></i> Back
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table datatable">
                        <thead>
                            <tr>
                                <th>SL#</th>
                                <th>Activity Name</th>
                                <th>From Date</th>
                                <th>To Date</th>
                                <th>Total Hours</th>
                                <th>Total Amounts</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each activity_details}}
                            <tr>
                                <td>{{math @index "+" 1}}</td>
                                <td>
                                    <a href="/activity/view/{{this.activity.id}}">
                                        {{this.activity.activity_name}}</a>
                                </td>

                                <td>{{dateFormat this.activity.activity_from_date "MM-DD-YYYY"}}</td>
                                <td>{{dateFormat this.activity.activity_to_date "MM-DD-YYYY"}}</td>
                                <td>{{this.activity.total_budget_hour}}</td>
                                <td>{{this.activity.total_budget_amount}}</td>
                                <td> {{#if_eq this.activity.activity_status '0'}} <span class="label label-info-border">NEW ACTIVITY - CREATED</span> {{/if_eq}} {{#if_eq
                                    this.activity.activity_status '1'}} <span class="label label-warning-border">PENDING APPROVAL - IN-PROGRESS</span> {{/if_eq}} {{#if_eq
                                    this.activity.activity_status '2'}} <span class="label label-success-border">APPROVED - PROCEED</span> {{/if_eq}} {{#if_eq this.activity.activity_status
                                    '3'}} <span class="label label-danger-border">NOT APPROVED - DISCARD ACTIVITY</span> {{/if_eq}}
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
{{#content "script" mode="append"}}
<script type="text/javascript" src="/assets/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/assets/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
<script type="text/javascript" src="/assets/js/select2.min.js"></script>
<script type="text/javascript" src="/assets/js/moment.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.min.js"></script> {{/content}}