{{#content "style" mode="prepend"}}
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css' />
{{/content}}
{{#if_eq user.role_id "1"}}
<div class="page-wrapper">
  <div class="content container-fluid">
    {{#if auth_msg}}
    <div class="alert alert-danger">
      <strong>Error! </strong>{{auth_msg}}
    </div>
    {{/if}} {{#if changeFirmToAttr}}
    <div class="alert alert-success">
      <strong>Success! </strong>{{changeFirmToAttr}}
    </div>
    {{/if}} {{#if changeAttrToFirm}}
    <div class="alert alert-success">
      <strong>Success! </strong>{{changeAttrToFirm}}
    </div>
    {{/if}} {{#if changeSite}}
    <div class="alert alert-success">
      <strong>Success! </strong>{{changeSite}}
    </div>
    {{/if}}
    <div class="row">
      <div class="col-md-6 col-sm-6 col-lg-3">
        <div class="dash-widget clearfix card-box">
          <span class="dash-widget-icon">
            <!-- <i class="fa fa-cubes" aria-hidden="true"></i> -->
            <img src="assets/img/firms.png" alt="firms">
          </span>
          <div class="dash-widget-info">
            <h3>{{firm_count}}</h3>
            <span>Firms</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-3">
        <div class="dash-widget clearfix card-box">
          <span class="dash-widget-icon">
            <!-- <i class="fa fa-users" aria-hidden="true"></i> -->
            <img src="assets/img/employess.png" alt="employess">
          </span>
          <div class="dash-widget-info">
            <h3>{{employee_count}}</h3>
            <span>Employess</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-3">
        <div class="dash-widget clearfix card-box">
          <span class="dash-widget-icon">
            <!-- <i class="fa fa-users"></i> -->
            <img src="assets/img/attorneys.png" alt="attorneys">
          </span>
          <div class="dash-widget-info">
            <h3>{{attorney_count}}</h3>
            <span>Attorneys</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-3">
        <div class="dash-widget clearfix card-box">
          <span class="dash-widget-icon">
            <!-- <i class="fa fa-dollar" aria-hidden="true"></i> -->
            <img src="assets/img/budgets.png" alt="budgets">
          </span>
          <div class="dash-widget-info">
            <h3>$ {{total_budget_amount}}</h3>
            <span>Budgets</span>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-table">
          <div class="panel-heading">
            <h3 class="panel-title">Firms</h3>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-striped custom-table m-b-0">
                <thead>
                  <tr>
                    <th style="min-width:200px;">Firm Name</th>
                    <th>Firm Admin</th>
                    <th>Email</th>
                  </tr>
                </thead>
                <tbody>
                  {{#if_eq firm_count "0"}}
                  <tr>
                    <td colspan="4" class="text-center gap-col">No data available in table</td>
                  </tr>
                  {{else}} {{#each firm_admins}}
                  <tr class="site_dashboard_custom_del">
                    <td style="min-width:250px;">
                      <a href="/firms" class="avatar">{{first_letter this.firm.title}}</a>
                      <h2>
                        <a href="/firms">{{this.firm.title}}</a>
                      </h2>
                    </td>
                    <td>{{this.first_name}} {{this.last_name}}</td>
                    <td>{{this.email}}</td>
                  </tr>
                  {{/each}} {{/if_eq}}
                </tbody>
              </table>
            </div>
          </div>
          <div class="panel-footer">
            <a href="/firms" class="text-primary">View all firms</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-table">
          <div class="panel-heading">
            <h3 class="panel-title">Employees</h3>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-striped custom-table m-b-0">
                <thead>
                  <tr>
                    <th style="min-width:200px;">Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                  </tr>
                </thead>
                <tbody>
                  {{#if_eq employee_count "0"}}
                  <tr>
                    <td colspan="4" class="text-center gap-col">No data available in table</td>
                  </tr>
                  {{else}} {{#each employee}}
                  <tr class="site_dashboard_custom_del">
                    <td style="min-width:200px;">
                      <a href="/employee/view/{{this.id}}" class="avatar">{{first_letter this.first_name}}</a>
                      <h2>
                        <a href="/employee/view/{{this.id}}">{{this.first_name}} {{this.last_name}}</a>
                      </h2>
                    </td>
                    <td>{{this.email}}</td>
                    <td>{{this.mobile_no}}</td>
                    
                  </tr>
                  {{/each}} {{/if_eq}}
                </tbody>
              </table>
            </div>
          </div>
          <div class="panel-footer">
            <a href="/employees" class="text-primary">View all employees</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{else}}
<div class="page-wrapper">
  <div class="content container-fluid">
    {{#if auth_msg}}
    <div class="alert alert-danger">
      <strong>Error! </strong>{{auth_msg}}
    </div>
    {{/if}} {{#if changeFirmToAttr}}
    <div class="alert alert-success">
      <strong>Success! </strong>{{changeFirmToAttr}}
    </div>
    {{/if}} {{#if changeAttrToFirm}}
    <div class="alert alert-success">
      <strong>Success! </strong>{{changeAttrToFirm}}
    </div>
    {{/if}} {{#if changeSite}}
    <div class="alert alert-success">
      <strong>Success! </strong>{{changeSite}}
    </div>
    {{/if}}
    <div class="row">
      <div class="col-md-6 col-sm-6 col-lg-3">
        <div class="dash-widget clearfix card-box">
          <span class="dash-widget-icon">
            <!-- <i class="fa fa-cubes" aria-hidden="true"></i> -->
            <img src="assets/img/activities.png" alt="activities">
          </span>
          <div class="dash-widget-info">
            <h3>{{activity_count}}</h3>
            <span>
              <a href="/activitypage" style="color:#333;">Activities</a>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-3">
        <div class="dash-widget clearfix card-box">
          <span class="dash-widget-icon">
            <!-- <i class="fa fa-users" aria-hidden="true"></i> -->
            <img src="assets/img/target.png" alt="target">
          </span>
          <div class="dash-widget-info">
            <h3>{{target_count}}</h3>
            <span>
              <a href="/target" style="color:#333;">Targets</a>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-3">
        <div class="dash-widget clearfix card-box">
          <span class="dash-widget-icon">
            <!-- <i class="fa fa-users"></i> -->
            <img src="assets/img/clients.png" alt="clients">
          </span>
          <div class="dash-widget-info">
            <h3>{{client_count}}</h3>
            <span>
              <a href="/client" style="color:#333;">Clients</a>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-3">
        <div class="dash-widget clearfix card-box">
          <span class="dash-widget-icon">
            <img src="assets/img/referrals.png" alt="referrals">
          </span>
          <div class="dash-widget-info">
            <h3>{{referral_count}}</h3>
            <span>
              <a href="/referral" style="color:#333;">Referral Sources</a>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row"> 
      <div class="col-md-12">
        <div class="row">
          <div class="col-sm-6 text-center" id="monthlyChartDiv">
            <div class="card-box">
              <div id='myChart'></div>
              <button type="button" class="btn btn-primary btn-sm chartYearActivityBtn">Year</button>
            </div>
          </div>
          <div class="col-sm-6 text-center" style="display:none;" id="yearlyChartDiv">
            <div class="card-box">
              <div id='myChart1'></div>
              <button type="button" class="btn btn-primary btn-sm chartMonthActivityBtn">Month</button>
            </div>
          </div>
          <div class="col-sm-6 text-center">
            <div class="card-box">
              <div id='myChart2'></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-sm-12 text-center">
            <div class="card-box">
              <div id='myChart2'></div>
            </div>
          </div>
          <div class="col-sm-6 text-center">
            <div class="card-box">
              <div id='myChart3'></div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-sm-6 text-center">
            <div class="card-box">
              <div id='calendar'></div>
            </div>
          </div>
          <div class="col-sm-6 text-center">
            <div class="card-box">
              <div id='roi'>SPACE FOR ROI CALCULATOR</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{#if_eq user.role_id "1"}}{{else}}
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-table">
          <div class="panel-heading">
            <h3 class="panel-title">Activities</h3>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-striped custom-table m-b-0 ">
                <thead>
                  <tr>
                    <th style="width:17%">Tactical Marketing Goals</th>
                    <th>Activity Name</th>
                    <th>From Date</th>
                    <th>To Date</th>
                    <th>Total Hours</th>
                    <th>Total Amount</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  {{#if_eq activity_count "0"}}
                  <tr>
                    <td colspan="7" class="text-center gap-col">No data available in table</td>
                  </tr>
                  {{else}} {{#each activity}}
                  <tr class="activity_custom_del">
                    <td><a href="/activity-goal/view/{{this.activity_goal.id}}">{{this.activity_goal.activity_goal}}</a></td>
                    <td>
                      <a href="/activity/view/{{this.id}}">{{this.activity_name}}</a>
                    </td>
                    <td>{{dateFormat this.activity_from_date "MM-DD-YYYY"}}</td>
                    <td>{{dateFormat this.activity_to_date "MM-DD-YYYY"}}</td>
                    <td>{{this.total_budget_hour}}</td>
                    <td>$ {{this.total_budget_amount}}</td>
                    <td>
                      {{#if_eq this.activity_status '0'}}
                      <span class="label label-info-border">NEW ACTIVITY - CREATED </span>{{/if_eq}} {{#if_eq this.activity_status '1'}}
                      <span class="label label-warning-border">SENT FOR APPROVAL</span> {{/if_eq}} {{#if_eq this.activity_status '2'}}
                      <span class="label label-success-border">APPROVED</span> {{/if_eq}} {{#if_eq this.activity_status '3'}}
                      <span class="label label-danger-border">NOT APPROVED</span> {{/if_eq}}
                    </td>
                  </tr>
                  {{/each}} {{/if_eq}}
                </tbody>
              </table>
            </div>
          </div>
          <div class="panel-footer">
            <a href="/activitypage" class="text-primary">View all activities</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-table">
          <div class="panel-heading">
            <h3 class="panel-title">Clients</h3>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-striped custom-table m-b-0">
                <thead>
                  <tr>
                    <th style="min-width:200px;">Name</th>
                    <th>Email</th>
                    <th>Client Type</th>
                  </tr>
                </thead>
                <tbody>
                  {{#if_eq client_count "0"}}
                  <tr>
                    <td colspan="4" class="text-center gap-col">No data available in table</td>
                  </tr>
                  {{else}} {{#each client}}
                  <tr class="activity_custom_del">
                    <td style="min-width:200px;">
                      {{#if_eq client_type "I"}}
                      <a href="/client/view/{{this.id}}" class="avatar">{{first_letter this.first_name}}</a>
                      <h2>
                        <a href="/client/view/{{this.id}}">{{this.first_name}} {{this.last_name}} </a>
                      </h2>
                      {{else}}
                      <a href="/client/view/{{this.id}}" class="avatar">{{first_letter this.organization_name}}</a>
                      <h2>
                        <a href="/client/view/{{this.id}}">{{this.organization_name}}</a>
                      </h2>
                      {{/if_eq}}
                    </td>
                    <td>{{this.email}}</td>
                    <td>{{#if_eq client_type "I"}}
                      <span class="label label-success-border">Individual</span>
                      {{else}}
                      <span class="label label-info-border">Organization</span>
                      {{/if_eq}}
                    </td>
                  </tr>
                  {{/each}} {{/if_eq}}
                </tbody>
              </table>
            </div>
          </div>
          <div class="panel-footer">
            <a href="/client" class="text-primary">View all clients</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-table">
          <div class="panel-heading">
            <h3 class="panel-title">Targets</h3>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-striped custom-table m-b-0">
                <thead>
                  <tr>
                    <th style="min-width:200px;">Name</th>
                    <th>Email</th>
                    <th>Target Type</th>
                  </tr>
                </thead>
                <tbody>
                  {{#if_eq target_count "0"}}
                  <tr>
                    <td colspan="4" class="text-center gap-col">No data available in table</td>
                  </tr>
                  {{else}} {{#each target}}
                  <tr class="activity_custom_del">
                    <td style="min-width:200px;">
                      {{#if_eq target_type "I"}}
                      <a href="/target/view/{{this.id}}" class="avatar">{{first_letter this.first_name}}</a>
                      <h2>
                        <a href="/target/view/{{this.id}}">{{this.first_name}} {{this.last_name}} </a>
                      </h2>
                      {{else}}
                      <a href="/target/view/{{this.id}}" class="avatar">{{first_letter this.organization_name}}</a>
                      <h2>
                        <a href="/target/view/{{this.id}}">{{this.organization_name}}</a>
                      </h2>
                      {{/if_eq}}
                    </td>
                    <td>{{this.email}}</td>
                    <td>{{#if_eq target_type "I"}}
                      <span class="label label-success-border">Individual</span>
                      {{else}}
                      <span class="label label-info-border">Organization</span>
                      {{/if_eq}}
                    </td>
                  </tr>
                  {{/each}} {{/if_eq}}
                </tbody>
              </table>
            </div>
          </div>
          <div class="panel-footer">
            <a href="/target" class="text-primary">View all targets</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-table">
          <div class="panel-heading">
            <h3 class="panel-title">Referral Sources</h3>
          </div>
          <div class="panel-body">
            <div class="table-responsive refe sourc">
              <table class="table table-striped custom-table m-b-0">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Referral Sources Type</th>
                  </tr>
                </thead>
                <tbody>
                  {{#if_eq referral_count "0"}}
                  <tr>
                    <td colspan="3" class="text-center gap-col">No data available in table</td>
                  </tr>
                  {{else}} {{#each referral}}
                  <tr class="activity_custom_del">
                    <td style="min-width:200px;">
                      {{#if_eq referral_type "I"}}
                      <a href="/referral/view/{{this.id}}" class="avatar">{{first_letter this.first_name}}</a>
                      <h2>
                        <a href="/referral/view/{{this.id}}" style="width:auto">{{this.first_name}} {{this.last_name}}</a>
                      </h2>
                      {{else}}
                      <a href="/referral/view/{{this.id}}" class="avatar">{{first_letter this.organization_name}}</a>
                      <h2>
                        <a href="/referral/view/{{this.id}}">{{this.organization_name}}</a>
                      </h2>
                      {{/if_eq}}
                    </td>
                    <td>{{this.email}}</td>
                    <td>{{#if_eq referral_type "I"}}
                      <span class="label label-success-border">Individual</span>
                      {{else}}
                      <span class="label label-info-border">Organization</span>
                      {{/if_eq}}
                    </td>
                  </tr>
                  {{/each}} {{/if_eq}}
                </tbody>
              </table>
            </div>
          </div>
          <div class="panel-footer">
            <a href="/referral" class="text-primary">View all Referral Sources</a>
          </div>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="panel panel-table">
          <div class="panel-heading">
            <h3 class="panel-title">Notifications</h3>
          </div>
          <div class="panel-body">
            <div class="table-responsive refe">
              <table class="table table-striped custom-table m-b-0">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Attorney</th>
                    <th>Approval Status</th>
                  </tr>
                </thead>
                <tbody>
                {{#if_eq notiFicationDetails.length "0"}}
                  <tr>
                    <td colspan="3" class="text-center">No notification available in table</td>
                  </tr>
                  {{else}}
                  
                    {{#each notiFicationDetails}}
                    <tr class="activity_custom_del">
                      <td style="min-width:200px;">
                        {{#if_eq this.type "1"}}
                        <a href="/team-activity-approvals" class="avatar">{{first_letter this.name}}</a>
                        <h2> <a href="/team-activity-approvals" style="width:auto">{{this.name}}</a> </h2>
                        {{else}}
                         <a href="/approval_details/{{this.activity_id}}" class="avatar">{{first_letter this.name}}</a>
                        <h2> <a href="approval_details/{{this.activity_id}}" style="width:auto">{{this.name}}</a> </h2>
                        {{/if_eq}}
                      </td>
                      <td>{{this.userFirstName}} {{this.userLastName}} </td>
                      <td>
                        <span class="label label-warning-border">Pending</span>
                      </td>
                      
                    </tr>
                    {{/each}} 
                {{/if_eq}}
                </tbody>
              </table>
            </div>
          </div>
          <div class="panel-footer">
            <a href="/activity-approvals" class="text-primary">View all Approval</a>
          </div>
        </div>
      </div>
      
    </div>


    {{/if_eq}}
  </div>
</div>


{{/if_eq}} {{#content "script" mode="append"}}
<script type="text/javascript" src="/assets/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/assets/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>
        
        <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
        <script> zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
          ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];</script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js'></script>
        <script>
          $(document).ready(function (e) {
            $.ajax({
              type: "GET",
              url: "/get-chart-activity-count-value",
              success: function (response) {
                var myConfig = {
                  type: "area",
                  utc: true,
                  plotarea: {
                    /*Add an adjust-layout attribute for automatic margin adjustment*/
                    adjustLayout: true
                  },
                  
                  scaleX: {
                    label: {  /*Add a scale title with a label object*/
                      text: "Month",
                    },
                    /*Add your scale labels with a labels array*/
                    labels: ["Jan", "Feb", "March", "April", "May", "June", "July", "Aug", "Sept", "Oct", "Nov", "Dec"]
                  },
                  scaleY: {
                    "progression": "log",
                    "log-base": 10,
                    "thousands-separator": ",",
                    label: {
                      text: "Total No. of activities and budgets"
                    }
                  },
                  guide: {
                    lineStyle: 'dotted'
                  },
                  "scale": {
                    "size-factor":1
                  },
                  series: [
                    {
                      values: response.total_activity,
                      text: 'Total Activities',
                      "line-color": "#a5a5a5",
                      "background-color": "#fffffff",
                      "marker": {
                        "background-color": "#a5a5a5",
                        "size": 6,
                        "borderColor": "black",
                        "borderWidth": 1
                      },
                      "hover-marker": {
                        "background-color": "#a5a5a5",
                        "size": 8,
                        "borderColor": "black",
                        "borderWidth": 1
                      }
                    },
                    {
                      "values": response.total_hour,
                      text: 'Total Hour',
                      "line-color": "#50a069",
                      "background-color": "#50a069",
                      "marker": {
                        "background-color": "#50a069",
                        "size": 6,
                        "borderColor": "black",
                        "borderWidth": 1
                      },
                      "hover-marker": {
                        "background-color": "#50a069",
                        "size": 8,
                        "borderColor": "black",
                        "borderWidth": 1
                      }
                    },
                    {
                      values: response.total_budget,
                      "tooltip": {
                        "text": "$ %vt"
                      },
                      text: 'Total Budgets ($)',
                      "line-color": "#ffa500",
                      "background-color": "#ff881f",
                      "marker": {
                        "background-color": "#ffa500",
                        "size": 6,
                        "borderColor": "black",
                        "borderWidth": 1
                      },
                      "hover-marker": {
                        "background-color": "#ffa500",
                        "size": 8,
                        "borderColor": "black",
                        "borderWidth": 1
                      }
                    }
                  ]
                };

                zingchart.render({
                  id: 'myChart',
                  data: myConfig,
                  height: 250,
                  width: '100%'
                });
              },
              error: function (xhr) {

              }
            });


            /*=============================== Chart 2 =============================*/

            $.ajax({
              type: "GET",
              url: "/get-chart-two-activity-count-value",
              success: function (response) {
                var myConfig1 = {
                  "type": "line",
                  "plotarea": {
                    "adjust-layout": true
                  },
                  "scale-x": {
                    "label": {
                      "text": "Year",

                    },
                    "labels": [
                      "2017",
                      "2018",
                      "2019",
                      "2020",
                      "2021",
                      "2022",
                      "2023",
                      "2024"
                    ]
                  },
                  scaleY: {
                    "progression": "log",
                    "log-base": 10,
                    "thousands-separator": ",",
                    label: {
                      text: "Total No. of activities and budgets"
                    }
                  },
                  guide: {
                    lineStyle: 'dotted'
                  },
                  "scale": {
                    "size-factor": 1
                  },
                  "series": [
                    {
                      "values": response.total_activity,
                      text: 'Total Activities',
                      "line-color": "#a5a5a5",
                      "background-color": "#c2c2c2",
                      "marker": {
                        "background-color": "#a5a5a5",
                        "size": 6,
                        "borderColor": "black",
                        "borderWidth": 1
                      },
                      "hover-marker": {
                        "background-color": "#a5a5a5",
                        "size": 8,
                        "borderColor": "black",
                        "borderWidth": 1
                      }
                    },
                    {
                      "values": response.total_hour,
                      text: 'Total Hour',
                      "line-color": "#50a069",
                      "background-color": "#50a069",
                      "marker": {
                        "background-color": "#50a069",
                        "size": 6,
                        "borderColor": "black",
                        "borderWidth": 1
                      },
                      "hover-marker": {
                        "background-color": "#50a069",
                        "size": 8,
                        "borderColor": "black",
                        "borderWidth": 1
                      }
                    },
                    {
                      "values": response.total_amount,
                      "tooltip": {
                        "text": "$ %vt"
                      },
                      text: 'Total Budgets ($)',
                      "line-color": "#ffa500",
                      "background-color": "#ff881f",
                      "marker": {
                        "background-color": "#ffa500",
                        "size": 6,
                        "borderColor": "black",
                        "borderWidth": 1
                      },
                      "hover-marker": {
                        "background-color": "#ffa500",
                        "size": 8,
                        "borderColor": "black",
                        "borderWidth": 1
                      }
                    }
                  ]
                };

                zingchart.render({
                  id: 'myChart1',
                  data: myConfig1,
                  height: 250,
                  width: '100%'
                });
              },
              error: function (xhr) {

              }
            });
          

          /* ================================ Chart 3 ===============================*/

          $.ajax({
              type: "GET",
              url: "/get-chart-estimated-revenue-count-value",
              success: function (response) {
                var myConfig = {
                  type: "area",
                  utc: true,
                  plotarea: {
                    /*Add an adjust-layout attribute for automatic margin adjustment*/
                    adjustLayout: true
                  },

                  scaleX: {
                    label: {  /*Add a scale title with a label object*/
                      text: "Month",
                    },
                    /*Add your scale labels with a labels array*/
                    labels: ["Jan", "Feb", "March", "April", "May", "June", "July", "Aug", "Sept", "Oct", "Nov", "Dec"]
                  },
                  scaleY: {
                    "progression": "log",
                    "log-base": 10,
                    "thousands-separator": ",",
                    label: {
                      text: "Total Estimated revenue"
                    }
                  },
                  guide: {
                    lineStyle: 'dotted'
                  },
                  "scale": {
                    "size-factor": 1
                  },
                  series: [
                    {
                      values: response.total_client,
                      text: 'Associated Clients',
                      "line-color": "#a5a5a5",
                      "background-color": "#fffffff",
                      "marker": {
                        "background-color": "#a5a5a5",
                        "size": 6,
                        "borderColor": "black",
                        "borderWidth": 1
                      },
                      "hover-marker": {
                        "background-color": "#a5a5a5",
                        "size": 8,
                        "borderColor": "black",
                        "borderWidth": 1
                      }
                    },
                    {
                      "values": response.total_target,
                      text: 'Associated Targets',
                      "line-color": "#50a069",
                      "background-color": "#50a069",
                      "marker": {
                        "background-color": "#50a069",
                        "size": 6,
                        "borderColor": "black",
                        "borderWidth": 1
                      },
                      "hover-marker": {
                        "background-color": "#50a069",
                        "size": 8,
                        "borderColor": "black",
                        "borderWidth": 1
                      }
                    },
                    {
                      values: response.total_estimated_revuenue,
                      "tooltip": {
                        "text": "$ %vt"
                      },
                      text: 'Total Estimated Revenue ($)',
                      "line-color": "#ffa500",
                      "background-color": "#ff881f",
                      "marker": {
                        "background-color": "#ffa500",
                        "size": 6,
                        "borderColor": "black",
                        "borderWidth": 1
                      },
                      "hover-marker": {
                        "background-color": "#ffa500",
                        "size": 8,
                        "borderColor": "black",
                        "borderWidth": 1
                      }
                    }
                  ]
                };

                zingchart.render({
                  id: 'myChart2',
                  data: myConfig,
                  height: 250,
                  width: '100%'
                });
              },
              error: function (xhr) {

              }
            });
            
          });

          $(document).ready(function () {
              // page is now ready, initialize the calendar...
            var randomColor = '#' + ('000000' + Math.floor(Math.random() * 16777215).toString(16)).slice(-6);

              $('#calendar').fullCalendar({
                // put your options and callbacks here
                header: {
                  left: 'prev,next today',
                  center: 'title',
                  right: 'month,basicWeek,basicDay'
                },
                eventMouseover: function (data, event, view) {
                  tooltip = '<div class="tooltiptopicevent" style="width:auto;height:auto;background:#454545;position:absolute;z-index:10001;padding:10px 10px 10px 10px ;  line-height: 200%; color:#fff;">' + 'Total Budget Hours: ' + ': ' + data.hour + '</br>' + 'Total Budget Cost($): ' + ': $ ' + data.amount + '</div>';
                  $("body").append(tooltip);
                  $(this).mouseover(function (e) {
                    $(this).css('z-index', 10000);
                    $('.tooltiptopicevent').fadeIn('500');
                    $('.tooltiptopicevent').fadeTo('10', 1.9);
                  }).mousemove(function (e) {
                    $('.tooltiptopicevent').css('top', e.pageY + 10);
                    $('.tooltiptopicevent').css('left', e.pageX + 20);
                  });


                },
                eventMouseout: function (data, event, view) {
                  $(this).css('z-index', 8);

                  $('.tooltiptopicevent').remove();

                },
                dayClick: function () {
                  tooltip.hide()
                },
                eventResizeStart: function () {
                  tooltip.hide()
                },
                eventDragStart: function () {
                  tooltip.hide()
                },
                viewDisplay: function () {
                  tooltip.hide()
                },
                events: [
                {{#each activity}}
                  {
                    title: '{{this.activity_name}}',
                    hour:'{{this.total_budget_hour}}', 
                    amount: '{{this.total_budget_amount}}',
                    start :'{{this.activity_from_date}}',
                    end: new Date('{{this.activity_to_date}}').setDate(new Date('{{this.activity_to_date}}').getDate() + 1),
                    color: '#ff881f',
                    allDay: 'false',
                    url : '/activity/view/{{this.id}}'
                  },
                {{/each}}
              ]
            })
          });

          $(document).on("click", ".chartYearActivityBtn", function(){
            $("#monthlyChartDiv").hide();
            $("#yearlyChartDiv").show();
          });
          $(document).on("click", ".chartMonthActivityBtn", function(){
            $("#monthlyChartDiv").show();
            $("#yearlyChartDiv").hide();
          });

          
      

</script> {{/content}}
