{{#content "style" mode="prepend"}}
    <link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-datetimepicker.min.css">
{{/content}}

<div class="page-wrapper">
   <div class="content container-fluid">
      <div class="row">
         <div class="col-sm-8">
            <h4 class="page-title">Edit Profile</h4>
         </div>
      </div>
      {{#if success_message}}
        <div class="alert alert-success">
            <strong>Success! </strong>{{success_message}}
        </div>
      {{/if}}
      {{#if error_message}}
        <div class="alert alert-danger">
            <strong>Error! </strong>{{error_message}}
        </div>
      {{/if}}
      <form id="frmEditProfile" method="POST" action="/edit-profile" enctype="multipart/form-data">
         <input type="hidden" name="_csrf" value="{{csrfToken}}">   
         <div class="card-box">
            <h3 class="card-title">Basic Informations</h3>
            <div class="row">
               <div class="col-md-12">
                  <div class="profile-img-wrap">
                     <img class="inline-block" src="{{user.avatar}}" alt="user">
                     <div class="fileupload btn btn-default">
                        <span class="btn-text">edit</span>
                        <input class="upload" type="file" name="avatar" id="avatar">
                     </div>
                  </div>
                  <div class="profile-basic">
                     <div class="row">
                        <div class="col-md-6">
                           <div class="form-group form-focus">
                              <label class="control-label">First Name</label>
                              <input type="text" class="form-control floating" 
                                     id="first_name" name="first_name" 
                                     value="{{user.first_name}}"
                              />
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="form-group form-focus">
                              <label class="control-label">Last Name</label>
                              <input type="text" class="form-control floating" 
                              id="last_name" name="last_name" value="{{user.last_name}}"
                              />
                           </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                <label class="control-label">Birth Date</label>
                                <div class="cal-icon">
                                    <input class="form-control floating datetimepicker"
                                        type="text" id="dob" name="dob" value="{{dateFormat user.dob "DD-MM-YYYY"}}"
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus select-focus">
                                <label class="control-label">Gender</label>
                                <select class="select form-control floating" id="gender" name="gender">
                                    <option value="">Select Gender</option>
                                    <option value="M" {{#if_eq user.gender "M"}} selected="selected" {{/if_eq}}>Male</option>
                                    <option value="F" {{#if_eq user.gender "F"}} selected="selected" {{/if_eq}}>Female</option>
                                </select>
                            </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="card-box">
            <h3 class="card-title">Contact Informations</h3>
            <div class="row">
               <div class="col-md-12">
                  <div class="form-group form-focus">
                     <label class="control-label">Address</label>
                     <input type="text" class="form-control floating" 
                     id="address" name="address" value="{{user.address}}"
                     />
                  </div>
               </div>
               <div class="col-md-12">
                  <div class="form-group form-focus">
                     <label class="control-label">Mobile No</label>
                     <input type="text" class="form-control floating" 
                     id="mobile_no" name="mobile_no" value="{{user.mobile_no}}"
                     maxlength="10" minlength="10"
                     />
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group form-focus">
                     <label class="control-label">Country</label>
                     <select class="select form-control floating" id="country" name="country">
                        {{#each country}}
                        <option value="{{this.id}}" {{#if_eq this.id 233}} selected="selected" {{/if_eq}}>{{this.name}}</option>
                        {{/each}}
                    </select>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group form-focus">
                     <label class="control-label">State</label>
                     <select class="select form-control floating" id="state" name="state">
                        <option value="">Select State</option>
                        {{#each state}}
                        <option value="{{this.id}}" {{#if_eq this.id ../user.state}} selected="selected" {{/if_eq}}>{{this.name}}</option>
                        {{/each}}
                    </select>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group form-focus">
                     <label class="control-label">City</label>
                     <select class="select form-control floating" id="city" name="city">
                          <option value="">Select City</option>
                         {{#each city}}
                            <option value="{{this.id}}" {{#if_eq this.id ../user.city}} selected="selected" {{/if_eq}}>{{this.name}}</option>
                         {{/each}}
                    </select>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group form-focus">
                       <label class="control-label">Zipcode</label>
                        <select class="select form-control floating" id="zipcode" name="zipcode">
                        <option value="">Select Zipcode</option>
                        {{#each zipcode}}
                            <option value="{{this.id}}" {{#if_eq this.id ../user.zipcode}} selected="selected" {{/if_eq}}>{{this.zip}}</option>
                        {{/each}}
                    </select>
                  </div>
               </div>
            </div>
         </div>
         
         <div class="text-center m-t-20">
            <button class="btn btn-primary btn-lg" type="submit">Save &amp; update</button>
         </div>
      </form>
   </div>
   
</div>
{{#content "script" mode="append"}}
    <script type="text/javascript" src="/assets/js/moment.min.js"></script>
    <script type="text/javascript" src="/assets/js/select2.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $("#frmEditProfile").validate({
                rules: {
                    first_name: {
                        required: true
                    },
                    last_name: {
                        required: true
                    },
                    mobile_no: {
                        required: true,
                        number: true,
                        maxlength: 10,
                        minlength: 10
                    },
                    address: {
                        required: true
                    },
                    country: {
                        required: true
                    },
                    state: {
                        required: true
                    },
                    city: {
                        required: true
                    },
                    zipcode: {
                        required: true
                    }
                },
                messages: {
                    first_name: {
                        required: "First name can't be blank"
                    },
                    last_name: {
                        required: "Last name can't be blank"
                    },
                    mobile_no: {
                        required: "Mobile no can't be blank",
                        number: "Must be number",
                        maxlength: "Must have 10 digits",
                        minlength: "Must have 10 digits"
                    },
                    address: {
                        required:  "Address can't be blank"
                    },
                    country: {
                        required:  "country can't be blank"
                    },
                    state: {
                        required: "state can't be blank"
                    },
                    city: {
                        required: "city can't be blank"
                    },
                    zipcode: {
                        required: "zipcode can't be blank"
                    }
                }
            });

            $("#avatar").change(function(){
                var input = this;
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function(e) {
                        $(".inline-block").attr("src", e.target.result);
                        $(".img-circle").attr("src", e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            });

            

            
          });
    </script>
{{/content}}