<div class="page-wrapper">
   <div class="content container-fluid">
      <div class="row">
         <div class="col-sm-8">
            <h4 class="page-title">My Profile</h4>
         </div>
         <div class="col-sm-4 text-right m-b-30">
             <a href="/dashboard" class="btn btn-primary rounded"><i class="fa fa-arrow-left"></i> Back</a>
            {{#if_eq user.role_id "3"}}
                {{#if_eq user.actual_role_id "0"}}
                    <a href="/edit-attorney-profile" class="btn btn-primary rounded"><i class="fa fa-pencil"></i> Edit Profile</a>
                {{else}}
                    <a href="/edit-profile" class="btn btn-primary rounded"><i class="fa fa-pencil"></i> Edit Profile</a>
                {{/if_eq}}
            {{else}}
                <a href="/edit-profile" class="btn btn-primary rounded"><i class="fa fa-pencil"></i> Edit Profile</a>
            {{/if_eq}}
         </div>
      </div>
      <div class="card-box">
         <div class="row">
            <div class="col-md-12">
               <div class="profile-view">
                  <div class="profile-img-wrap">
                     <div class="profile-img">
                        <a href="#"><img class="avatar" src="{{user.avatar}}" alt=""></a>
                     </div>
                  </div>
                  <div class="profile-basic">
                     <div class="row">
                        <div class="col-md-5">
                           <div class="profile-info-left">
                              <h3 class="user-name m-t-0 m-b-0">{{user.first_name}}&nbsp;{{user.last_name}}</h3>
                              <small class="text-muted">{{user.role.title}}</small>
                           </div>
                        </div>
                        <div class="col-md-7">
                           <ul class="personal-info">
                              <li>
                                 <span class="title">Email Id:</span>
                                 <span class="text">{{user.email}}</span>
                              </li>
                              <li>
                                 <span class="title">Mobile:</span>
                                 <span class="text number_validator">{{user.mobile_no}}</span>
                              </li>

                              <li>
                                 <span class="title">Address:</span>
                                 <span class="text">{{user.address}}</span>
                              </li>

                              <li>
                                 <span class="title">City:</span>
                                 <span class="text">{{city.name}}</span>
                              </li>

                              <li>
                                 <span class="title">State:</span>
                                 <span class="text">{{state.name}}</span>
                              </li>

                              <li>
                                 <span class="title">Country:</span>
                                 <span class="text">{{country.name}}</span>
                              </li>

                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

   </div>

</div>
