{{#content "style" mode="prepend"}}
<link rel="stylesheet" type="text/css" href="/assets/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-datetimepicker.min.css"> {{/content}}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="pg-header">
            <div class="row">
                {{#if success_message}}
                <div class="alert alert-success">
                    <strong>Success! </strong>{{success_message}}
                </div>
                {{/if}} {{#if success_finan_edit_message}}
                <div class="alert alert-success">
                    <strong>Success! </strong>{{success_finan_edit_message}}
                </div>
                {{/if}} {{#if success_finan_del_message}}
                <div class="alert alert-danger">
                    <strong>Success! </strong>{{success_finan_del_message}}
                </div>
                {{/if}}
                <div class="col-xs-4">
                    <h4 class="page-title">Financial Goal</h4>
                </div>
                <div class="col-xs-8 text-right">
                    <a href="/financial-goal/add" class="btn btn-primary pull-right rounded">
                        <i class="fa fa-plus"></i> Add Financial Goal</a>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table datatable">
                        <thead>
                            <tr>
                                <th style="width:20%;">Attorney</th>
                                <th>Current Year</th>
                                <th>Current Year Goal</th>
                                <th>Current Year Goal Percentage</th>
                                <th>Remarks</th>
                                <th class="text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each financialGoal}}
                            <tr>
                                <td>{{this.user.first_name}} {{this.user.last_name}}</td>
                                <td>{{this.year}}</td>
                                <td>{{this.year_goal}}</td>
                                <td>{{this.year_goal_percentage}}</td>
                                <td>{{this.remarks}}</td>
                                <td class="text-right">
                                    <a href="/financial-goal/edit/{{this.id}}" class="btn btn-info btn-sm">
                                                    <i class="fa fa-pencil m-r-5"></i></a>
                                     <a href="javascript:void(0);" data-toggle="modal" data-target="#{{this.id}}" class="btn btn-danger btn-sm">
                                                    <i class="fa fa-trash-o m-r-5"></i></a>
                                </td>
                            </tr>
                            <div class="modal fade" id="{{this.id}}" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <p>Are you sure to delete ?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="/financial-goal/delete/{{this.id}}" class="btn btn-danger">Delete</a>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
{{#content "script" mode="append"}}
<script type="text/javascript" src="/assets/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/assets/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/select2.min.js"></script>
<script type="text/javascript" src="/assets/js/moment.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.min.js"></script> {{/content}}