{{#content "style" mode="prepend"}}
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-multiselect.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-datetimepicker.min.css">
{{/content}}

<div class="page-wrapper">
   <div class="content container-fluid">
      <div class="row">
         <div class="col-sm-8">
            <h4 class="page-title">View FinancialGoal</h4>
         </div>

        <div class="col-sm-4">
          <div class="text-right">
            <a href="/financial-goal/edit/{{finan_goal.id}}" class="btn btn-primary pull-right rounded">
              <i class="fa fa-pencil"></i> Edit FinancialGoal</a>

              <a href="/financial-goal" class="btn btn-primary pull-right rounded m-r-5">Cancel</a>
          </div>
        </div>
      </div>
      {{#if error_message1}}
        <div class="alert alert-danger">
            <strong>Error! </strong>{{error_message1}}
        </div>
      {{/if}}
      {{#if error_message}}
        <div class="alert alert-danger">
            <strong>Error! </strong>{{error_message}}
        </div>
      {{/if}}
      <form >
         <input type="hidden" name="_csrf" value="{{csrfToken}}">
         <div class="card-box">
            <div class="row">
               <div class="col-md-12">
                     <div class="row">
                        <div class="col-md-6">
                          <div class="form-group form-focus">
                             <label class="control-label">Select Attorney
                               <span class="req-lbl">*</span>

                             </label>
                             <select disabled class="form-control floating" id="attr_id" name="attr_id">
                                <option value=""></option>
                                {{#each attorney}}
                                <option value="{{this.id}}" {{#if_eq this.id ../finan_goal.attorney_id}} selected="selected" {{/if_eq}}>{{this.first_name}} {{this.last_name}}</option>
                                {{/each}}
                            </select>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group form-focus">
                             <label class="control-label">Select Current Year
                               <span class="req-lbl">*</span>

                             </label>
                             <select disabled class="form-control floating" id="year" name="year">
                                <option value=""></option>
                                {{#each year}}
                                <option value="{{this}}"{{#if_eq this ../finan_goal.year}} selected="selected" {{/if_eq}}>{{this}}</option>
                                {{/each}}
                            </select>
                          </div>
                        </div>
                        <div class="col-md-6">
                           <div class="form-group form-focus">
                              <label class="control-label">Current Year Goal
                                <span class="req-lbl">*</span>

                              </label>
                              <input type="text" disabled class="form-control floating"
                              id="year_goal" name="year_goal" value="{{finan_goal.year_goal}}"
                              />
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="form-group form-focus">
                              <label class="control-label">Current Year Goal %
                                <span class="req-lbl">*</span>

                              </label>
                              <input type="text" disabled class="form-control floating"
                              id="year_goal_precentage" name="year_goal_precentage" value="{{finan_goal.year_goal_percentage}}"
                              />
                           </div>
                        </div>
                        <div class="col-md-12">
                           <div class="form-group form-focus">
                              <label class="control-label">Summary Info
                                <span class="req-lbl">*</span>

                              </label>
                              <textarea name="summary_info" id="summary_info" disabled class="form-control floating">{{finan_goal.summary}}</textarea>
                           </div>
                        </div>
                        <div class="col-md-12">
                           <div class="form-group form-focus">
                              <label class="control-label">Remark/Comments
                                <span class="req-lbl">*</span>

                              </label>
                              <textarea name="remarks" id="remarks" disabled class="form-control floating">{{finan_goal.remarks}}</textarea>
                           </div>
                        </div>
                     </div>
               </div>
            </div>
         </div>

      </form>
   </div>

</div>
{{#content "script" mode="append"}}
    <script type="text/javascript" src="/assets/js/moment.min.js"></script>
    <script type="text/javascript" src="/assets/js/select2.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap-multiselect.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>

{{/content}}
