{{#content "style" mode="prepend"}}
<link rel="stylesheet" type="text/css" href="/assets/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-datetimepicker.min.css"> {{/content}}
<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="pg-header">
      <div class="row">
        {{#if success_message}}
        <div class="alert alert-danger">
          <strong>Error! </strong>{{success_message}}
        </div>
        {{/if}}
        <div class="col-xs-4">
          <h4 class="page-title">ACTIVITY</h4>
        </div>
        <div class="col-xs-8 text-right">
          <a href="/activityseen" class="btn btn-primary rounded">
            <i class="fa fa-plus"></i> Add Activity</a>
        </div>
      </div>
    </div>
    </form>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-striped custom-table datatable" id="searchData">
            <thead>
              <tr>
                <th>Activity Name</th>
                <th>From Date</th>
                <th>To Date</th>
                <th>Total Budget Costs</th>
                <th>Remarks</th>
                <th class="text-right">Action</th>
              </tr>
            </thead>
            <tbody id="mainTable">
              {{#each row}}
              <tr>

                <td>{{this.activity_name}}</td>
                <td>{{dateFormat this.activity_from_date "DD-MM-YYYY"}}</td>
                <td>{{dateFormat this.activity_to_date "DD-MM-YYYY"}}</td>
                <td>$ {{this.total_budget_amount}}</td>
                <td>{{this.remarks}}</td>


                <td class="text-right">
                  <a href="/activity/view/{{this.id}}"  class="btn btn-success btn-sm">
                          <i class="fa fa-eye m-r-5"></i></a>
                   <a href="/activity/edit/{{this.id}}"  class="btn btn-info btn-sm">
                          <i class="fa fa-pencil m-r-5"></i></a>
                  <a href="/activity/deletedata/{{this.id}}"  class="btn btn-danger btn-sm">
                          <i class="fa fa-trash-o m-r-5"></i></a>

                  {{!-- <div class="dropdown">
                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      <i class="fa fa-ellipsis-v"></i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                      <li>
                        <a href="/activity/view/{{this.id}}">
                          <i class="fa fa-eye m-r-5"></i> View</a>
                      </li>
                      <li>
                        <a href="/activity/edit/{{this.id}}">
                          <i class="fa fa-pencil m-r-5"></i> Edit</a>
                      </li>

                      <li>
                        <a href="/activity/deletedata/{{this.id}}">
                          <i class="fa fa-trash-o m-r-5"></i> Delete</a>
                      </li>
                    </ul>
                  </div> --}}
                </td>
              </tr>
              {{/each}}

            </tbody>
          </table>



        </div>
      </div>
    </div>
  </div>

</div>
{{#content "script" mode="append"}}
<script type="text/javascript" src="/assets/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/assets/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
<script type="text/javascript" src="/assets/js/select2.min.js"></script>
<script type="text/javascript" src="/assets/js/moment.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>ACTIVITY {{/content}}
