{{#content "style" mode="prepend"}}
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-multiselect.css">
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
<link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap-sweetalert/sweet-alert.css">
<link rel="stylesheet" type="text/css" href="/assets/css/dataTables.bootstrap.min.css">

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />


{{/content}}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h4 class="page-title">Add Activity</h4>
            </div>
        </div>
        <form name="frmAddFirm" id="frmAddFirm" action="/activity/add" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <input type="hidden" name="activity_id" id="activity_id">
            <input type="hidden" name="total_hour" id="total_hour">
            <input type="hidden" name="total_amount" id="total_amount">
            <input type="hidden" name="status_bud" id="status_bud" value="0">
            <div class="card-box">
                <h3 class="card-title">Client / Target Information</h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="radioError form-inline m-b-15 col-md-6">
                                <div class="form-group">
                                    <label class="input-group">
                                        <span class="input-group-addon">
                                            <input type="radio" id="target_type" name="ref_type" value="T"  />
                                        </span>
                                        <div class="form-control form-control-static">Target</div>
                                        <span class="glyphicon form-control-feedback"></span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="input-group">
                                        <span class="input-group-addon">
                                            <input type="radio" id="organization_type" name="ref_type" value="C" />
                                        </span>
                                        <div class="form-control form-control-static">Client</div>
                                        <span class="glyphicon form-control-feedback"></span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="input-group">
                                        <span class="input-group-addon">
                                            <input type="radio" id="referral_type" name="ref_type" value="R" />
                                        </span>
                                        <div class="form-control form-control-static">Referral Sources</div>
                                        <span class="glyphicon form-control-feedback"></span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="input-group">
                                        <span class="input-group-addon">
                                            <input type="radio" id="general_type" name="ref_type" value="G" />
                                        </span>
                                        <div class="form-control form-control-static">General</div>
                                        <span class="glyphicon form-control-feedback"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6" id="target_list" style="display: none;">
                                <div class="form-group select-focus">
                                    <select id="target_id" name="target_user[]" class="form-control floating onchangeBudget" multiple="multiple">
                                        {{#each target}}
                                            {{#if_eq target_type "I"}}
                                                <option value="{{this.id}}">{{this.first_name}} {{this.last_name}}</option>
                                            {{/if_eq}}
                                            {{#if_eq target_type "O"}}
                                                <option value="{{this.id}}">{{this.organization_name}}</option>
                                            {{/if_eq}}
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6" style="display: none;" id="client_list">
                                <div class="form-group select-focus">
                                    <select id="client_id" name="client_user[]" class="form-control floating onchangeBudget" multiple="multiple">
                                        {{#each client}}
                                            {{#if_eq client_type "I"}}
                                                <option value="{{this.id}}">{{this.first_name}} {{this.last_name}}</option>
                                            {{/if_eq}}
                                            {{#if_eq client_type "O"}}
                                                <option value="{{this.id}}">{{this.organization_name}}</option>
                                            {{/if_eq}}
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6" style="display: none;" id="referral_list">
                                <div class="form-group select-focus">
                                    <select id="referral_id" name="referral_user[]" class="form-control floating onchangeBudget" multiple="multiple">
                                        {{#each referral}}
                                            <option value="{{this.id}}">{{this.first_name}} {{this.last_name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6" style="display: none;" id="general_list"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-box">
                <h3 class="card-title">Basic Information</h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-focus select-focus">
                                    <label class="control-label">Firm</label>
                                    <input class="form-control floating" type="text" id="firm" name="firm" value="{{this.firm}}" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus select-focus">
                                    <label class="control-label">Origin Attorney</label>
                                    <input class="form-control floating" type="text" id="originAttorney" name="originAttorney" value="{{this.originAttorney}}" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus select-focus select-attorney">
                                    <label class="control-label">Activity Type <span class="req-lbl">*</span> </label>
                                    <select class="form-control floating" id="activity_type" name="activity_type">
                                        <option value="">Select One</option>
                                        <option value="individual">INDIVIDUAL LEVEL</option>
                                        <option value="strategic_group">STRATEGIC GROUP LEVEL</option>
                                        <option value="team">TEAM LEVEL</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 none">
                                <div class="form-group form-focus"></div>
                            </div>
                            <div class="col-md-6 section" style="display: none;">
                                <div class="form-group form-focus select-focus">
                                    <label class="control-label">Section <span class="req-lbl">*</span> </label>
                                    <select class="form-control floating" id="section" name="section">
                                        <option value="0">Select Section</option>
                                        {{#each section}}
                                            <option value="{{this.section.id}}">{{this.section.name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 strategyGroup" style="display: none;">
                                <div class="form-group form-focus select-focus">
                                    <label class="control-label">Strategy Group <span class="req-lbl">*</span> </label>
                                    <select class="form-control floating" id="strategyGroup" name="strategy_group">
                                        <option value="0">Select Strategy Group</option>
                                        <option value="1">NEED TO DISCUSS</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 attorney" style="display: none; margin-bottom: 23px; margin-top: 8px;">
                                <div class="form-group select-focus">
                                    {{!-- <label class="control-label">Attorney <span class="req-lbl">*</span> </label> --}}
                                    <select class="form-control floating" id="attorney_user" name="attorney_user[]" multiple="multiple">
                                        {{!-- <option value="0">Select Attorney</option> --}}
                                        {{#each attorney}}
                                            <option value="{{this.id}}">{{this.first_name}} {{this.last_name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus select-focus select-attorney">
                                    <label class="control-label">Tactical Marketing Goals <span class="req-lbl">*</span> </label>
                                    <select id="activity_goal" name="activity_goal" class="form-control floating " >
                                        <option value="">Select Tactical Marketing Goals</option>
                                        {{#each activity_goal}}
                                            <option value="{{this.id}}">{{this.activity_goal}}</option>
                                        {{/each}}
                                    </select>
                                    <strong style="background-color:#ff0000; color:#fff">Note! </strong> No Tactical Marketing Goals? Click Here
                                    <a href="/activity-goal/add">Tactical Marketing Goals</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus select-focus select-attorney">
                                    <label class="control-label">Practice Area Type <span class="req-lbl">*</span> </label>
                                    <select id="practice_area" name="practice_area" class="form-control floating" >
                                        <option value="">Select Practice Area</option>
                                        {{#if_eq user.actual_role_id "2"}}
                                            {{#each practice_area_firm}}
                                                <option value="{{this.practicearea.id}}">{{this.practicearea.name}}</option>
                                            {{/each}}
                                        {{else}}
                                            {{#each practice_area}}
                                                <option value="{{this.practicearea.id}}">{{this.practicearea.name}}</option>
                                            {{/each}}
                                        {{/if_eq}}
                                    </select>
                                </div>
                            </div>
                            {{!-- <div class="col-md-6">
                                <div class="form-group form-focus">
                                    <label class="control-label">Potential Revenue
                                        <span class="req-lbl">*</span>
                                    </label>
                                    <input class="form-control floating" type="text" id="potiential_revenue" name="potiential_revenue">
                                </div>
                            </div> --}}
                            <div class="col-md-6">
                                <div class="form-group form-focus">
                                    <label class="control-label">Activity Name <span class="req-lbl">*</span> </label>
                                    <input class="form-control floating" type="text" id="activity_name" name="activity_name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus select-focus select-attorney">
                                    <label class="control-label">Category</label>
                                    <select class="form-control floating " id="category" name="category">
                                        <option value="">Select Category</option>
                                        <option value="content development">Content Development</option>
                                        <option value="contact management">Contact Management</option>
                                        <option value="relationship building">Relationship Building</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus">
                                    <label class="control-label">Creation Date <span class="req-lbl">*</span> </label>
                                    <div class="cal-icon">
                                        <input class="form-control floating datetimepicker" type="text" id="activity_creation_date" name="activity_creation_date" data-date-format="MM-DD-YYYY">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus select-focus"></div>
                            </div>
                            <div class="col-md-2" id="oneDay_ActivityEvent">
                                <button class="btn btn-primary btn-lg" type="button" id="oneDayActivityEvent">One Day Event</button>
                            </div>
                            <div class="col-md-2" id="SomeDay_ActivityEvent" style="display:none">
                                <button class="btn btn-primary btn-lg" type="button" id="SomeDayActivityEvent">Some Day Event</button>
                            </div>
                            <div class="col-md-9" id="activity_dateO" style="display:none">
                                <div class="form-group form-focus">
                                    <label class="control-label"> Date <span class="req-lbl">*</span> </label>
                                    <div class="cal-icon">
                                        <input class="form-control floating datetimepicker" type="text" id="activity_date" name="activity_date" data-date-format="MM-DD-YYYY">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 fromDate">
                                <div class="form-group form-focus">
                                    <label class="control-label">From Date <span class="req-lbl">*</span> </label>
                                    <div class="cal-icon">
                                        <input class="form-control floating datetimepicker" type="text" id="activity_from_date" name="activity_from_date" data-date-format="MM-DD-YYYY">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 toDate">
                                <div class="form-group form-focus">
                                    <label class="control-label">To Date <span class="req-lbl">*</span> </label>
                                    <div class="cal-icon">
                                        <input class="form-control floating datetimepicker" type="text" id="activity_to_date" name="activity_to_date" data-date-format="MM-DD-YYYY">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus">
                                    <label class="control-label">Remarks</label>
                                    <textarea class="form-control floating" id="remarks" name="remarks" rows="5"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus select-focus">
                                    <input class="form-control floating" type="file" id="activity_attachment" name="activity_attachment" style="height: auto;">
                                    <div class="btn btn-primary"><img src="/assets/img/choose-file.png" alt="">Choose File for Attachment</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus select-focus select-attorney">
                                    <label class="control-label">Activity Details Status</label>
                                    <select class="form-control floatingb " id="budget_status" name="budget_status">
                                        <option value="">Select One</option>
                                        <option value="delete_team">DELETED ITEM - TO BE SKIPPED</option>
                                        <option value="planned">PLANNED</option>
                                        <option value="unplanned">UNPLANNED</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus select-focus select-attorney">
                                    <label class="control-label">Activity Budget Details Status</label>
                                    <select class="form-control floating " id="budget_details_status" name="budget_details_status" >
                                        <option value="">Select One</option>
                                        <option value="guestimate">GUESTIMATE</option>
                                        <option value="planned">PLANNED BUDGET</option>
                                        <option value="unplanned">UNPLANNED BUDGET</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12 budgetAdd" style="display: none;">
                                <a href="#" class="btn btn-primary btn-lg" id="budgetAdd" data-toggle="modal" data-target="#add_budget" style="margin: 0 auto; display: table;"><i class="fa fa-plus"></i> Add Budget</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="text-center m-t-20">
                <button class="btn btn-primary btn-lg" type="submit" id="btnAdd" >Add Activity</button>
                <a href="/activitypage" class="btn btn-primary btn-lg m-l-10">Cancel</a>
            </div>
        </form>
    </div>
</div>

{{!-- Starts add budget modal --}}

<div id="add_budget" class="modal custom-modal fade budget-modal" role="dialog">
    <div class="modal-dialog">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="modal-content modal-lg">
            <div class="modal-header">
                <h4 class="modal-title">Marketing Budget Details</h4>
            </div>
            <form class="m-b-10" name="addActivityBudgetFrm" id="addActivityBudgetFrm">
                <div class="card-box">
                    <div class="modal-body">
                        <div class="modal-scroll">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-inline m-b-15">
                                        <div class="form-group m-r-5">
                                            <label class="input-group">
                                                <span class="input-group-addon">
                                                    <input type="radio" id="evenly_equated" name="activity_level_type" value="Evenly Equated" />
                                                </span>
                                                <div class="form-control form-control-static">Evenly Equated</div>
                                                <span class="glyphicon form-control-feedback"></span>
                                            </label>
                                        </div>
                                        <div class="form-group ">
                                            <label class="input-group">
                                                <span class="input-group-addon">
                                                    <input type="radio" id="individual" name="activity_level_type" value="Individual" checked />
                                                </span>
                                                <div class="form-control form-control-static">Individual</div>
                                                <span class="glyphicon form-control-feedback"></span>
                                            </label>
                                        </div>
                                    </div>
                                    {{#each budgetArr}}
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">{{this.parent_name}}</h3>
                                        </div>
                                        <div class="panel-body">
                                            {{#each this.child_budget}}
                                            <div class="list">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <h5>{{this.name}}</h5>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <input class="form-control budget_hour number_budget" type="text" data-budget-id="{{this.id}}" id="budget_hour" name="budget_hour" placeholder="Hours">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <input class="form-control budget_amount number_budget" type="text" id="budget_amount" name="budget_amount" placeholder="Dollars($)">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {{/each}}
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="modal-footer">
                        <div class="panel panel-primary modal-footer-panel">
                            <div class="panel-body">
                                <div class="list">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5>Total</h5>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <span class="form-control" id="hourDetails"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <span class="form-control" id="amountDetails"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary btn-lg" type="button" id="btnActivityBudget">Save</button>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

{{!-- Ends add budget modal --}} {{#content "script" mode="append"}}
<script type="text/javascript" src="/assets/js/moment.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-multiselect.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/assets/js/select2.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/assets/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/plugins/bootstrap-sweetalert/sweet-alert.min.js"></script>
<script type="text/javascript" src="/assets/js/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>


  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>


<script type="text/javascript">
    $(document).on("click","#oneDayActivityEvent", function(){
        $("#activity_dateO").show();
        $("#SomeDay_ActivityEvent").show();
        $("#activity_from_date").val('');
        $("#activity_to_date").val('');
        $(".fromDate").hide();
        $(".toDate").hide();
        $("#oneDay_ActivityEvent").hide();
    });
    $(document).on("click","#SomeDayActivityEvent", function(){
        $("#activity_dateO").hide();
        $("#SomeDay_ActivityEvent").hide();
        $("#activity_date").val('');
        $(".fromDate").show();
        $(".toDate").show();
        $("#oneDay_ActivityEvent").show();
    });

    $(document).on('keyup', '.budget_hour', function () {
        var sumHour = 0;
        $('.budget_hour').each(function (index) {
            if ($(this).val() !== "") {
                sumHour += Number($(this).val());
            }
        });
        $('#hourDetails').html(sumHour);
    });

    $(document).on('keyup', '.budget_amount', function () {
        var sumAmount = 0;
        $('.budget_amount').each(function (index) {
            if ($(this).val() !== "") {
                sumAmount += Number($(this).val());
            }
        });
        $('#amountDetails').html(sumAmount);
    });

    $(document).on('click', '#target_type', function () {
        $('#referral_list').hide();
        $('#client_list').hide();
        $('#target_list').show();
        $('#general_list').hide();
        $(".budgetAdd").hide();
    });

    $(document).on('click', '#organization_type', function () {
        $('#referral_list').hide();
        $('#target_list').hide();
        $('#client_list').show();
        $('#general_list').hide();
        $(".budgetAdd").hide();
    });

    $(document).on('click', '#general_type', function () {
        $('#referral_list').hide();
        $('#target_list').hide();
        $('#client_list').hide();
        $('#general_list').show();
        $(".budgetAdd").show();
    });

    $(document).on('click', '#referral_type', function () {
        $('#target_list').hide();
        $('#client_list').hide();
        $('#referral_list').show();
        $('#general_list').hide();
        $(".budgetAdd").hide();
    });

    $('#target_id').multiselect({
        nonSelectedText: 'Select Targets',
        enableFiltering: true,
        includeSelectAllOption: true,
        buttonWidth: '100%',
        maxHeight: 400,
        dropDown: true
    });

    $('#client_id').multiselect({
        nonSelectedText: 'Select Clients',
        enableFiltering: true,
        includeSelectAllOption: true,
        buttonWidth: '100%',
        maxHeight: 400,
        dropDown: true
    });

    $('#referral_id').multiselect({
        nonSelectedText: 'Select Referral',
        enableFiltering: true,
        includeSelectAllOption: true,
        buttonWidth: '100%',
        maxHeight: 400,
        dropDown: true
    });

    $('#attorney_user').multiselect({
        nonSelectedText: 'Select Attorney',
        enableFiltering: true,
        includeSelectAllOption: true,
        buttonWidth: '100%',
        maxHeight: 400,
        dropDown: true
    });

    var count = 0;
    $(document).on('click', '#budgetAdd', function (e) {
        count++;
        if (count === 1) {
            var activityName = $('#activity_name').val();
            $.ajax({
                type: "POST",
                url: '/insertActivity',
                data: {
                    activityName: activityName
                },
                success: function (response) {
                    if (response.success == true) {
                        localStorage.setItem('activity_id', response.activityId);
                    }
                },
                error: function (xhr) {

                }
            });
        }
    });

    $(document).on('click', '#btnActivityBudget', function (e) {
        var budgetArray = [];
        var totalAmount = 0;
        var totalHour = 0;
        $('.budget_hour').each(function (index) {
            if ($(this).val() !== "") {
                var budgetId = $(this).data("budget-id");
                var amount = $(".budget_amount")[index].value;
                totalAmount += parseInt(amount);
                totalHour += parseInt($(this).val());
                budgetArray.push({
                    budget_id: budgetId,
                    budget_hour: $(this).val(),
                    budget_amount: amount
                });
            }
        });
        $("#activity_id").val(localStorage.getItem("activity_id"));
        $("#total_hour").val(totalHour);
        $("#total_amount").val(totalAmount);
        $.ajax({
            type: "POST",
            url: "/activity/add-budget",
            data: {
                activity_id: localStorage.getItem("activity_id"),
                activity_goal: $("#activity_goal").val(),
                activity_level_type: $('input[name=activity_level_type]:checked').val(),
                budget: JSON.stringify(budgetArray)
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader('X-CSRF-Token', "{{csrfToken}}");

                $("#btnActivityBudget").prop('disabled', true);
                $("#btnActivityBudget").html("Loading...");
            },
            success: function (response) {
                if (response.success == true) {
                    $(`<div class="alert alert-success"><strong>Success! </strong>Budget Added Successfully</div>`).insertBefore("#btnActivityBudget");
                    setTimeout(function () {
                        $("#add_budget").modal('hide');
                    }, 2000);
                    $("#btnActivityBudget").html("Budget Added");
                    $("#btnAdd").prop('disabled', false);
                    $("#status_bud").val("1");
                }
            }
        });
    });

    // add designation ajax and form validation starts
    $(document).ready(function (e) {
        $(".number_budget").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||
                // Allow: Ctrl+A, Command+A
                (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right, down, up
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });

        $("#frmAddFirm").validate({
            rules: {
                activity_type: {
                    required: true
                },
                ref_type: {
                    required: true
                },
                activity_goal: {
                    required: true
                },
                practice_area: {
                    required: true
                },
                /* potiential_revenue: {
                    required: true
                }, */
                activity_creation_date: {
                    required: true
                },
                activity_from_date: {
                    required: true
                },
                activity_date: {
                    required: true
                },
                activity_to_date: {
                    required: true
                },
                activity_name: {
                    required: true
                },
                category: {
                    required: true
                }
            },
            messages: {
                activity_type: {
                    required: "Activity type can't be blank"
                },
                ref_type: {
                    required: "Please select one"
                },
                activity_goal: {
                    required: "Tactical Marketing Goals can't be blank"
                },
                practice_area: {
                    required: "Practice area can't be blank"
                },
                /* potiential_revenue: {
                    required: "Potiential revenue can't be blank"
                }, */
                activity_creation_date: {
                    required: "Creation date can't be blank"
                },
                activity_from_date: {
                    required: "From date can't be blank"
                },
                activity_date: {
                    required: "Date can't be blank"
                },
                activity_to_date: {
                    required: "To date can't be blank"
                },
                activity_name: {
                    required: "Activity name can't be blank"
                },
                category: {
                    required: "Activity reason can't be blank"
                }
            }
        });
    });

    $(document).ready(function () {
        /* $("#potiential_revenue").inputmask("numeric", {
            radixPoint: ".",
            groupSeparator: ",",
            digits: 2,
            autoGroup: true,
            prefix: '$ ',
            rightAlign: false
        }); */

        $("#activity_type").change(function () {
            if ($(this).val() == 'team') {
                //$('#potiential_revenue').val('0.00');
                //$('#potiential_revenue').prop('readonly', true);
                $(".none").hide();
                $(".section").hide();
                $(".strategyGroup").hide();
                $(".attorney").show();
                
            } else if ($(this).val() == 'section') {
                //$('#potiential_revenue').val('0.00');
                $(".none").hide();
                $(".section").show();
                $(".strategyGroup").hide();
                $(".attorney").hide();
                //$('#potiential_revenue').prop('readonly', false);
            } else if ($(this).val() == 'strategic_group') {
                //$('#potiential_revenue').val('0.00');
                $(".none").hide();
                $(".strategyGroup").show();
                $(".section").hide();
                $(".attorney").hide();
                //$('#potiential_revenue').prop('readonly', false);
            } else {
                //$('#potiential_revenue').val('0.00');
                $(".none").show();
                $(".section").hide();
                $(".strategyGroup").hide();
                $(".attorney").hide();
                //$('#potiential_revenue').prop('readonly', false);
            }
        });

        $(".onchangeBudget").change(function () {
            if ($(this).val() != '') {
                $(".budgetAdd").show();
            } else {
                $(".budgetAdd").hide();
            }
        });

        // Slim Scrollbar for Activity Budget Modal

        $('#add_budget .modal-scroll').slimScroll({
            color: '#455A64',
            size: '10px',
            alwaysVisible: false,
            height: '350px'
        });
    });
</script>
{{/content}}