{{#content "style" mode="prepend"}}
    <link rel="stylesheet" type="text/css" href="/assets/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-multiselect.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-datetimepicker.min.css">
{{/content}}
<div class="page-wrapper">
                <div class="content container-fluid">
					<div class="row">
						<div class="col-sm-8">
							<h4 class="page-title">Update budget</h4>
						</div>
					</div>
					<form  name="" id="updateActivityForm" action="/activity/update/{{editdata.id}}" method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <div class="card-box">
              <!-- <h3 class="card-title">Contact Informations</h3> -->
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Firm :<span class="text-danger">*</span></label>
                    <select id="firm" name="firm" class="select form-control floating">
                      <option value="">Select Firm</option>
                      {{#each firm}}
                      <option value="{{this.id}}" {{#if_eq this.id ../editdata.firm}} selected="selected" {{/if_eq}}>{{this.title}}</option>
                      {{/each}}
                    </select>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Activity Type :<span class="text-danger">*</span></label>
                    <select id="activity_type" name="activity_type" class="select form-control floating" >
                      <option value="">Select Activity Type</option>

                      <option value="section" {{#if_eq editdata.activity_type "section"}} selected="selected" {{/if_eq}}>SECTION LEAVEL</option>
                      <option value="team" {{#if_eq editdata.activity_type "team"}} selected="selected" {{/if_eq}}>TEAM LEAVEL</option>
                      <option value="individual" {{#if_eq editdata.activity_type "individual"}} selected="selected" {{/if_eq}}>INDIVIDUAL LEAVEL</option>
                      <option value="strategic_group" {{#if_eq editdata.activity_type "strategic_group"}} selected="selected" {{/if_eq}}>STRATEGIC GROUP LEAVEL</option>

                    </select>
                  </div>
                </div>
                </div>




                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">Activiy Goal: <span class="text-danger">*</span></label>
                      <select id="activity_goal" name="activity_goal" class="select form-control floating">
                        <option value="">Select Activity Goal</option>

                        {{#each activity_goal}}
                        <option value="{{this.id}}" {{#if_eq this.id ../editdata.activity_goal}} selected="selected" {{/if_eq}}>{{this.activity_goal}}</option>

                        {{/each}}
                      </select>

                      <div class="danger">
                        <div>
                        <strong>Note: </strong><a href="/activity-goal/add">add activity_goals</a>
                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">Potiential Revenue :<span class="text-danger">*</span></label>
                      <input class="form-control" type="text" id="potiential_revenue" name="potiential_revenue" value="{{editdata.potiential_revenue}}">
                    </div>
                  </div>
                  </div>




                <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Remarks : <span class="text-danger">*</span></label>
                    <textarea class="form-control" rows="12" id="remarks" name="remarks">{{editdata.remarks}}</textarea>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Practice Area:<span class="text-danger">*</span></label>
                    <select id="practice_area" name="practice_area" class="select form-control floating">
                      <option value="">Select Practice Area</option>

                      {{#each practice_area}}
                      <option value="{{this.id}}" {{#if_eq this.id ../editdata.practice_area}} selected="selected" {{/if_eq}}>{{this.name}}</option>

                      {{/each}}
                    </select>                  </div>
                </div>
              </div>




<div class="row">
  <div class="form-group col-sm-6">
      <label class="control-label">Activity Creation Date</label>
      <div class="cal-icon">
        <input class="form-control floating datetimepicker"
      type="text" id="activity_creation_date" name="activity_creation_date" value="{{dateFormat editdata.activity_creation_date "DD-MM-YYYY"}}">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="">
      <h4 class="page-title">Duration</h4>
    </div>

    <div class="form-group col-sm-6">
        <label class="control-label">FROM DATE</label>
        <div class="cal-icon">
          <input class="form-control floating datetimepicker"
        type="text" id="activity_from_date" name="activity_from_date" value="{{dateFormat editdata.activity_from_date "DD-MM-YYYY"}}">
        </div>
      </div>
      <div class="form-group col-sm-6">
          <label class="control-label">TO DATE</label>
          <div class="cal-icon">
            <input class="form-control floating datetimepicker"
          type="text" id="activity_to_date" name="activity_to_date" value="{{dateFormat editdata.activity_to_date "DD-MM-YYYY"}}">
          </div>
        </div>
    </div>


                <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Activity Name:<span class="text-danger">*</span></label>
                    <input class="form-control" type="text" id="activity_name" name="activity_name" value="{{editdata.activity_name}}">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Activity Reason: <span class="text-danger">*</span></label>
                    <input class="form-control" type="text" id="activity_reason" name="activity_reason" value="{{editdata.activity_reason}}">
                  </div>
                </div>
                </div>



                <div class="row">
                  <div class="">
                    <h4 class="page-title">Client/Target Information</h4>
                  </div>

                <div class="form-group col-sm-6">
                <label class="control-label"> Budget Details Status:</label>
                <select id="budget_details_status" name="budget_details_status" class="select form-control floating" >
                  <option value=""> Select Activity budget details status</option>
                  <option value="section_one" {{#if_eq editdata.budget_details_status "section_one"}} selected="selected" {{/if_eq}}>SECTION ONE</option>
                  <option value="planned" {{#if_eq editdata.budget_details_status "planned"}} selected="selected" {{/if_eq}}>PLANNED BUDGET</option>
                  <option value="unplanned" {{#if_eq editdata.budget_details_status "unplanned"}} selected="selected" {{/if_eq}}>UNPLANNED BUDGET</option>
                  <option value="delete_team" {{#if_eq editdata.budget_details_status "delete_team"}} selected="selected" {{/if_eq}}>GUESTIMATE</option>
                </select>
              </div>





              <div class="form-group col-sm-6">
              <label class="control-label">Activity Details Status:</label>
              <select id="budget_status" name="budget_status" class="select form-control floating" >

                <option value=""> Select Activity status</option>
                <option value="section_one" {{#if_eq editdata.budget_status "section_one"}} selected="selected" {{/if_eq}}>SECTION ONE</option>
                <option value="planned" {{#if_eq editdata.budget_status "planned"}} selected="selected" {{/if_eq}}>PLANNED </option>
                <option value="unplanned" {{#if_eq editdata.budget_status "unplanned"}} selected="selected" {{/if_eq}}>UNPLANNED</option>
                <option value="delete_team" {{#if_eq editdata.budget_status "delete_team"}} selected="selected" {{/if_eq}}>DELETE ITEM</option>
              </select>
            </div>
       </div>

       <div class="row">
       <div class="col-md-6">
         <div class="form-group">
           <label class="control-label">Refferred By: </label>
           <input type="radio" id="referral_type" name="ref_type" value="T" {{#if_eq editdata.target "T"}} checked {{/if_eq}} />Target
           <input type="radio" id="organization_type" name="ref_type" value="C" {{#if_eq editdata.target "C"}} checked {{/if_eq}}/>Client
         </div>
       </div>



       <div class="col-md-6" id="target_list" {{#if_eq editdata.target "C"}} style="display:none;" {{/if_eq}}>
         <div class="form-group form-focus select-focus">
           <select id="target_id" name="target_user" class=" form-control floating" multiple="multiple">
               <option value="">Select Target</option>
               {{#each target}}
                 <option value="{{this.id}}" {{#inArray ../arr this.id}} selected="selected" {{/inArray}}>{{this.first_name}} {{this.last_name}}</option>
               {{/each}}
             </select>
           </div>
         </div>
         <div class="col-md-6" id="client_list" {{#if_eq editdata.target "T"}} style="display:none;" {{/if_eq}}>
           <div class="form-group form-focus select-focus">
             <select id="client_id" name="client_user" class=" form-control floating" multiple="multiple">
               <option value="">Select Client</option>
               {{#each client}}
               <option value="{{this.id}}" {{#inArray ../arr this.id}} selected="selected" {{/inArray}}>{{this.first_name}} {{this.last_name}}</option>
               {{/each}}
             </select>
           </div>
       </div>
              </div>
              <div class="text-center m-t-20">
  							<button class="btn btn-primary btn-lg" type="submit" id="btnAdd">Update Activity</button>
  						</div>
  					</form>

            </div>
            </div>




            {{#content "script" mode="append"}}
                <script type="text/javascript" src="/assets/js/jquery.dataTables.min.js"></script>
                <script type="text/javascript" src="/assets/js/dataTables.bootstrap.min.js"></script>
                <script type="text/javascript" src="/assets/js/select2.min.js"></script>
                <script type="text/javascript" src="/assets/js/moment.min.js"></script>
                <script type="text/javascript" src="/assets/js/bootstrap-multiselect.js"></script>
                <script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>

          <script>
          $(document).on('click', '#referral_type', function(){
            $('#target_list').show();
            $('#client_list').hide();
          });

          $(document).on('click', '#organization_type', function(){
            $('#target_list').hide();
            $('#client_list').show();
          });

          $('#target_id').multiselect({
              nonSelectedText: 'Select Targets',
              includeSelectAllOption: true,
              buttonWidth: '100%'
          });

          $('#client_id').multiselect({
              nonSelectedText: 'Select Clients',
              includeSelectAllOption: true,
              buttonWidth: '100%'
          });
          </script>



          <script type="text/javascript">
          // add designation ajax and form validation starts
          $(document).ready(function(e) {

          $("#updateActivityForm").validate({
            rules: {
                firm: {
                    required: true
                },
                activity_type: {
                    required: true
                },
                activity_goal: {
                    required: true
                },
                practice_area: {
                    required: true
                },
                potiential_revenue: {
                    required: true
                },
                remarks: {
                    required: true
                },
                activity_creation_date: {
                    required: true
                },
                activity_from_date: {
                    required: true
                },
                activity_to_date: {
                    required: true
                },
                activity_name: {
                    required: true
                },
                activity_reason: {
                    required: true
                },
                budget_status: {
                    required: true
                },
                budget_details_status: {
                    required: true
                }

            },
            messages: {
                firm: {
                    required: "firm can't be blank"
                },
                activity_type: {
                    required: "activity type title can't be blank"
                },
                activity_goal: {
                    required: "activity goal title can't be blank"
                },
                practice_area: {
                    required: "practice area title can't be blank"
                },
                potiential_revenue: {
                    required: "potiential revenue title can't be blank"
                },
                remarks: {
                    required: "remarks title can't be blank"
                },
                activity_creation_date: {
                    required: "creation date title can't be blank"
                },
                activity_from_date: {
                    required: "from date title can't be blank"
                },
                activity_to_date: {
                    required: "to date title can't be blank"
                },
                activity_name: {
                    required: "activity name title can't be blank"
                },
                activity_reason: {
                    required: "activity reason title can't be blank"
                },
                budget_status: {
                    required: "budget status title can't be blank"
                },
                budget_details_status: {
                    required: "budget_details_status title can't be blank"
                }
            }
          });
          });
          </script>



                {{/content}}
