{{#content "style" mode="prepend"}}
<link rel="stylesheet" type="text/css" href="/assets/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-multiselect.css">
<link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap-sweetalert/sweet-alert.css">
<link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-datetimepicker.min.css">
{{/content}}
<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <h4 class="page-title">Edit Activity</h4>
      </div>
    </div>
    <form name="updateActivityForm" id="updateActivityForm" action="/activity/update/{{editdata.id}}" method="POST" enctype="multipart/form-data">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <input type="hidden" name="activity_id" id="activity_id" value="{{editdata.id}}">
      <input type="hidden" name="total_hour" id="total_hour">
      <input type="hidden" name="total_amount" id="total_amount">
      <input type="hidden" id="activityTypeDetails" value="{{editdata.target}}">
      <div class="card-box">
        <h3 class="card-title">Client / Target Information</h3>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="form-inline m-b-15 col-md-6">
                <div class="form-group">
                  <label class="input-group">
                    <span class="input-group-addon">
                      <input type="radio" id="target_type" name="ref_type" value="T" {{#if_eq editdata.target "T"}} checked {{/if_eq}} />
                    </span>
                    <div class="form-control form-control-static">Target</div>
                    <span class="glyphicon form-control-feedback"></span>
                  </label>
                </div>
                <div class="form-group">
                  <label class="input-group">
                    <span class="input-group-addon">
                      <input type="radio" id="client_type" name="ref_type" value="C" {{#if_eq editdata.target "C"}} checked {{/if_eq}} />
                    </span>
                    <div class="form-control form-control-static">Client</div>
                    <span class="glyphicon form-control-feedback"></span>
                  </label>
                </div>
                <div class="form-group">
                  <label class="input-group">
                    <span class="input-group-addon">
                      <input type="radio" id="referral_type" name="ref_type" value="R" {{#if_eq editdata.target "R"}} checked {{/if_eq}} />
                    </span>
                    <div class="form-control form-control-static">Referral</div>
                    <span class="glyphicon form-control-feedback"></span>
                  </label>
                </div>
                <div class="form-group">
                  <label class="input-group">
                    <span class="input-group-addon">
                      <input type="radio" id="general_type" name="ref_type" value="G" {{#if_eq editdata.target "G"}} checked {{/if_eq}} />
                    </span>
                    <div class="form-control form-control-static">General</div>
                    <span class="glyphicon form-control-feedback"></span>
                  </label>
                </div>
              </div>
              <!-------------------------------------------------------->
              <div class="col-md-6" id="target_list" {{#if_eq editdata.target "T"}} style="display: block;" {{else}} style="display: none;" {{/if_eq}}>
                <select id="target-example-dropUp" name="target_user[]" class=" form-control floating" multiple="multiple">
                  {{#each target}}
                    <option value="{{this.id}}" {{#inArray ../arr this.id}} selected="selected" {{/inArray}}>{{this.first_name}} {{this.last_name}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="col-md-6" id="client_list" {{#if_eq editdata.target "C"}} style="display: block;" {{else}} style="display: none;" {{/if_eq}}>
                <select id="client-example-dropUp" name="client_user[]" class=" form-control floating" multiple="multiple">
                  {{#each client}}
                    <option value="{{this.id}}" {{#inArray ../arr this.id}} selected="selected" {{/inArray}}>{{this.first_name}} {{this.last_name}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="col-md-6" id="referral_list" {{#if_eq editdata.target "R"}} style="display: block;" {{else}} style="display: none;" {{/if_eq}}>
                <select id="referral-example-dropUp" name="referral_user[]" class=" form-control floating" multiple="multiple">
                  {{#each referral}}
                    <option value="{{this.id}}" {{#inArray ../arr this.id}} selected="selected" {{/inArray}}>{{this.first_name}} {{this.last_name}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="col-md-6" id="general_list" {{#if_eq editdata.target "G"}} style="display: block;" {{else}} style="display: none;" {{/if_eq}}></div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-box">
        <h3 class="card-title">Basic Information</h3>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group form-focus select-focus">
                  <label class="control-label">Firm</label>
                  <input class="form-control floating" type="text" id="firm" name="firm" value="{{this.firm}}" disabled>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-focus select-focus">
                  <label class="control-label">Origin Attorney</label>
                  <input class="form-control floating" type="text" id="firm" name="firm" value="{{this.originAttorney}}" disabled>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-focus">
                  <label class="control-label">Activity Name <span class="req-lbl">*</span> </label>
                  <input class="form-control floating" type="text" id="activity_name" name="activity_name" value="{{editdata.activity_name}}">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-focus">
                  <label class="control-label">Activity Reason <span class="req-lbl">*</span> </label>
                  <input class="form-control floating" type="text" id="activity_reason" name="activity_reason" value="{{editdata.activity_reason}}">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-focus select-focus">
                  <label class="control-label">Activity Type <span class="req-lbl">*</span> </label>
                  <select class="form-control floating" id="activity_type" name="activity_type">
                    <option value="">Select Activity Type</option>
                    <option value="individual" {{#if_eq editdata.activity_type "individual"}} selected="selected" {{/if_eq}}>INDIVIDUAL LEVEL</option>
                    <option value="section" {{#if_eq editdata.activity_type "section"}} selected="selected" {{/if_eq}}>SECTION LEVEL</option>
                    <option value="strategic_group" {{#if_eq editdata.activity_type "strategic_group"}} selected="selected" {{/if_eq}}>STRATEGIC GROUP LEVEL</option>
                    <option value="team" {{#if_eq editdata.activity_type "team"}} selected="selected" {{/if_eq}}>TEAM LEVEL</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6 none">
                <div class="form-group form-focus select-focus"></div>
              </div>
              <div class="col-md-6 section" style="display: none;">
                <div class="form-group form-focus select-focus">
                  <label class="control-label">Section <span class="req-lbl">*</span> </label>
                  <select class="form-control floating" id="section" name="section">
                    {{#each section}}
                      <option value="{{this.section.id}}" {{#if_eq this.id ../editdata.section_id}} selected="selected" {{/if_eq}}>{{this.section.name}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
              <div class="col-md-6 strategyGroup" style="display: none;">
                <div class="form-group form-focus select-focus">
                  <label class="control-label">Strategy Group <span class="req-lbl">*</span> </label>
                  <select class="form-control floating" id="strategyGroup" name="strategy_group">
                    <option value="0">Select Strategy Group</option>
                    <option value="1" {{#if_eq editdata.s_group_id 1}} selected="selected" {{/if_eq}}>NEED TO DISCUSS</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-focus select-focus">
                  <label class="control-label">Activity Goal <span class="req-lbl">*</span> </label>
                  <select id="activity_goal" name="activity_goal" class="form-control floating">
                    <option value="">Select Activity Goal</option>
                    {{#each activity_goal}}
                      <option value="{{this.id}}" {{#if_eq this.id ../editdata.activity_goal_id}} selected="selected" {{/if_eq}}>{{this.activity_goal}}</option>
                    {{/each}}
                  </select>
                  <strong style="background-color:#ff0000; color:#fff">Note! </strong> No Activity Goal? Click Here
                  <a href="/activity-goal/add">Add activity goals</a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-focus select-focus">
                  <label class="control-label">Practice Area Type <span class="req-lbl">*</span> </label>
                  <select id="practice_area" name="practice_area" class="form-control floating">
                    <option value="">Select Practice Area</option>
                    {{#each practice_area}}
                      <option value="{{this.id}}" {{#if_eq this.id ../editdata.practice_area}} selected="selected" {{/if_eq}}>{{this.name}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-focus">
                  <label class="control-label">Creation Date <span class="req-lbl">*</span> </label>
                  <div class="cal-icon">
                    <input class="form-control floating datetimepicker" type="text" id="activity_creation_date" name="activity_creation_date"
                      value="{{dateFormat editdata.activity_creation_date "DD-MM-YYYY"}}">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-focus select-focus"></div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-focus">
                  <label class="control-label">From Date <span class="req-lbl">*</span> </label>
                  <div class="cal-icon">
                    <input class="form-control floating datetimepicker" type="text" id="activity_from_date" name="activity_from_date" value="{{dateFormat editdata.activity_from_date "DD-MM-YYYY"}}">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-focus">
                  <label class="control-label">To Date <span class="req-lbl">*</span> </label>
                  <div class="cal-icon">
                    <input class="form-control floating datetimepicker" type="text" id="activity_to_date" name="activity_to_date" value="{{dateFormat editdata.activity_to_date "DD-MM-YYYY"}}">
                  </div>
                </div>
              </div>

              {{!-- <div class="col-md-4">
                <div class="form-group form-focus select-focus">
                  <input class="form-control floating" type="file" id="activity_attachment" name="activity_attachment" multiple>
                  <div class="btn btn-primary"><img src="/assets/img/choose-file.png" alt="">Choose File</div>
                </div>
              </div> --}}

              
               {{!-- <div class="col-md-2">
                 <div class="download-btn">
                   <div class="form-group form-focus">
                    <a href="/activity/{{editdata.attachment_field}}" download  class="btn btn-primary btn-lg"> 
                      <i class="fa fa-download" aria-hidden="true"></i>
                    </a>
                  </div>
                 </div>
              </div> --}}


              <div class="col-md-6">
                <div class="form-group form-focus">
                  <label class="control-label">Remarks</label>
                  <textarea class="form-control floating" id="remarks" name="remarks" rows="5">{{editdata.remarks}}</textarea>
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group form-focus select-focus">
                  <label class="control-label">Attachment</label>
                  <input class="form-control floating" type="file" id="activity_attachment" name="activity_attachment" style="height: auto;">
                </div>
              </div>
              <div class="col-md-1">
                {{#if editdata.attachment_field}}
                <div class="download-btn">
                  <div class="form-group form-focus">
                    <a href="/activity/{{editdata.attachment_field}}" download class="btn btn-primary btn-lg">
                      <i class="fa fa-download" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center m-t-20">
        <button class="btn btn-primary btn-lg" type="submit" id="btnAdd">Save &amp; Update Activity</button>
        <a href="/activitypage" class="btn btn-primary btn-lg m-l-10">Cancel</a>
      </div>
    </form>
  </div>
  <div class="content container-fluid">
    <div class="card-box">
      <h3 class="card-title">Client / Target Information</h3>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table table-striped custom-table datatable edit-activity" id="searchData">
                    <thead>
                      <tr>
                        <th> Attorney Name </th>
                        <th> Relation </th>
                        <th> Name </th>
                        <th> Budget Code Cost $</th>
                      </tr>
                    </thead>
                    <tbody id="mainTable">
                      {{#each alltarget_client}}
                      <tr>
                        <td>{{this.attorney_name}}</td>
                        <td> {{#if_eq this.relation 'C'}} Client {{/if_eq}} {{#if_eq this.relation 'T'}} Target {{/if_eq}}
                          {{#if_eq this.relation 'R'}} Referral {{/if_eq}}</td>
                        <td>{{ this.company_name }}</td>
                        <td>
                          <a href="#" id="budgetUpdate" data-toggle="modal" data-target="#update_budget">$ {{this.total_cost}}</a>
                        </td>
                      </tr>
                      {{/each}}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{!-- Starts add budget modal --}}
<div id="update_budget" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <div class="modal-content modal-lg">
      <div class="modal-header">
        <h4 class="modal-title">Marketing Budget Details</h4>
      </div>
      <div class="modal-body">
        <div class="card-box">
          <form class="m-b-10" name="editActivityBudgetFrm" id="editActivityBudgetFrm">
            <div class="row">
              <div class="col-md-12">
                <div class="form-inline m-b-15">
                  <div class="form-group m-r-5">
                    <label class="input-group">
                      <span class="input-group-addon">
                        <input type="radio" id="evenly_equated" name="activity_level_type_edit" value="Evenly Equated" {{#if_eq level_type
                          "Evenly Equated"}} checked {{/if_eq}} disabled/>
                      </span>
                      <div class="form-control form-control-static">
                        Evenly Equated
                      </div>
                      <span class="glyphicon form-control-feedback "></span>
                    </label>
                  </div>
                  <div class="form-group ">
                    <label class="input-group">
                      <span class="input-group-addon">
                        <input type="radio" id="individual" name="activity_level_type_edit" value="Individual" {{#if_eq level_type "Individual"}}
                          checked {{/if_eq}} disabled/>
                      </span>
                      <div class="form-control form-control-static">
                        Individual
                      </div>
                      <span class="glyphicon form-control-feedback "></span>
                    </label>
                  </div>
                </div>
                {{#each budgetArr}}
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">{{this.parent_name}}</h3>
                  </div>
                  <div class="panel-body">
                    {{#each this.child_budget}}
                    <div class="list">
                      <div class="row">
                        <div class="col-md-6">
                          <h5>
                            {{this.name}}
                          </h5>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group">
                            <input class="form-control edit_budget_hour number_budget" type="text" data-budgets-id="{{this.id}}" id="edit_budget_hour"
                              name="edit_budget_hour" placeholder="Hours" value="{{this.hour}}">
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group">
                            <input class="form-control edit_budget_amount number_budget" type="text" id="edit_budget_amount" name="edit_budget_amount"
                              placeholder="Dollars($)" value="{{this.amount}}">
                            <input type="hidden" name="edit_budget_remarks" id="edit_budget_remarks" class="edit_budget_remarks" value="{{this.remarks}}">
                          </div>
                        </div>
                        {{#if_con this.remarks}}
                        <div class="col-md-2">
                          <div class="form-group">
                            <button type="button" class="btn btn-info" data-toggle="tooltip" title="{{this.remarks}}">Remarks</button>
                          </div>
                        </div>
                        {{/if_con}}
                      </div>
                    </div>
                    {{/each}}
                  </div>
                </div>
                {{/each}}
              </div>
            </div>
            <div class="m-t-15 text-center">
              <button class="btn btn-primary btn-lg" type="button" id="btnEditActivityBudget">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="add_user" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <div class="modal-content modal-lg">
      <div class="modal-header">
        <h4 class="modal-title">Add Attorney Budget Per Client/Target</h4>
      </div>
      <div class="modal-body">
        <form class="m-b-30" name="addSection" id="addSection" method="POST">
          <input type="hidden" name="_csrf" value="{{csrfToken}}">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">Firm:
                  <span class="text-danger">*</span>
                </label>
                <input class="form-control" type="text" id="name" name="name">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">Relation:
                  <span class="text-danger">*</span>
                </label>
                <textarea class="form-control" id="description" name="description" rows="5"></textarea>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">Target/Client Name:
                  <span class="text-danger">*</span>
                </label>
                <textarea class="form-control" id="description" name="description" rows="5"></textarea>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">Contact Name:
                  <span class="text-danger">*</span>
                </label>
                <textarea class="form-control" id="description" name="description" rows="5"></textarea>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">Potential Revenue:
                  <span class="text-danger">*</span>
                </label>
                <textarea class="form-control" id="description" name="description" rows="5"></textarea>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">Remarks
                  <span class="text-danger">*</span>
                </label>
                <textarea class="form-control" id="remarks" name="remarks" rows="5"></textarea>
              </div>
            </div>
          </div>
          <div class="m-t-20 text-center">
            <button class="btn btn-primary" type="button" id="btnAddSection">Create Section</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{!-- Ends add budget modal --}} {{#content "script" mode="append"}}
<script type="text/javascript" src="/assets/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/assets/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/select2.min.js"></script>
<script type="text/javascript" src="/assets/js/moment.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-multiselect.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/assets/plugins/bootstrap-sweetalert/sweet-alert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $('#target-example-dropUp').multiselect({
      enableFiltering: true,
      includeSelectAllOption: true,
      buttonWidth: '100%',
      maxHeight: 400,
      dropUp: true
    });
    $('#client-example-dropUp').multiselect({
      enableFiltering: true,
      includeSelectAllOption: true,
      maxHeight: 400,
      buttonWidth: '100%',
      dropUp: true
    });
    $('#referral-example-dropUp').multiselect({
      enableFiltering: true,
      includeSelectAllOption: true,
      maxHeight: 400,
      buttonWidth: '100%',
      dropUp: true
    });
  });
  $(document).on('click', '#target_type', function () {
    $('#target_list').show();
    $('#client_list').hide();
    $('#referral_list').hide();
    $('#general_list').hide();
  });
  $(document).on('click', '#client_type', function () {
    $('#target_list').hide();
    $('#referral_list').hide();
    $('#client_list').show();
    $('#general_list').hide();
  });
  $(document).on('click', '#referral_type', function () {
    $('#target_list').hide();
    $('#referral_list').show();
    $('#client_list').hide();
    $('#general_list').hide();
  });
  $(document).on('click', '#general_type', function () {
    $('#target_list').hide();
    $('#referral_list').hide();
    $('#client_list').hide();
    $('#general_list').show();
  });
  var typeDetails = $('#activityTypeDetails').val();
  if (typeDetails == 'T') {
    $('#client_list').hide();
    $('#referral_list').hide();
    $('#target_list').show();
    $('#general_list').hide();
  } else if (typeDetails == 'C') {
    $('#client_list').show();
    $('#target_list').hide();
    $('#referral_list').hide();
    $('#general_list').hide();
  } else if (typeDetails == 'R') {
    $('#referral_list').show();
    $('#client_list').hide();
    $('#target_list').hide();
    $('#general_list').hide();
  } else if (typeDetails == 'G') {
    $('#referral_list').hide();
    $('#client_list').hide();
    $('#target_list').hide();
    $('#general_list').show();
  }
  $('#target_id').multiselect({
    nonSelectedText: 'Select Targets',
    includeSelectAllOption: true,
    buttonWidth: '100%'
  });
  $('#client_id').multiselect({
    nonSelectedText: 'Select Clients',
    includeSelectAllOption: true,
    buttonWidth: '100%'
  });
  $('#referral_id').multiselect({
    nonSelectedText: 'Select Referral',
    includeSelectAllOption: true,
    buttonWidth: '100%'
  });
  $(document).on('click', "#btnEditActivityBudget", function (e) {
    var EditBudgetArr = [];
    var totalAmount = 0;
    var totalHour = 0;
    $('.edit_budget_hour').each(function (index) {
      if ($(this).val() !== "") {
        var budgetId = $(this).data("budgets-id");
        var amount = $(".edit_budget_amount")[index].value;
        var reamrk_budget = $('.edit_budget_remarks')[index].value;
        totalAmount += parseInt(amount);
        totalHour += parseInt($(this).val());
        EditBudgetArr.push({
          budget_id: budgetId,
          budget_hour: $(this).val(),
          budget_amount: amount,
          remarks_budgets: reamrk_budget
        });
      }
    });
    var activity_id = $("#activity_id").val();
    $("#total_hour").val(totalHour);
    $("#total_amount").val(totalAmount);
    $.ajax({
      type: "POST",
      url: "/activity/edit-budget",
      data: {
        activity_id: activity_id,
        activity_goal_id: $("#activity_goal").val(),
        activity_level_type: $('input[name=activity_level_type_edit]:checked').val(),
        total_amount: totalAmount,
        total_Hour: totalHour,
        budget: JSON.stringify(EditBudgetArr)
      },
      beforeSend: function (xhr) {
        xhr.setRequestHeader('X-CSRF-Token', "{{csrfToken}}");
        $("#btnEditActivityBudget").prop('disabled', true);
        $("#btnEditActivityBudget").html("Loading...");
      },
      success: function (response) {
        if (response.success == true) {
          $(`<div class="alert alert-success" id="budger_update_success"><strong>Success! </strong>Budget Updated Successfully</div>`).insertBefore("#btnEditActivityBudget");
          // $("#budger_update_success").attr('disabled', true);
          window.location.reload();
          setTimeout(function () {
            $('#budger_update_success').hide();
            $("#update_budget").modal('hide');
            $("#btnEditActivityBudget").html("Update");
            $("#btnEditActivityBudget").prop('disabled', false);
          }, 2000);
        }
      }
    });
  });
  $("#activity_type").change(function () {
    if ($(this).val() == 'team') {
      $(".none").show();
      $(".section").hide();
      $(".strategyGroup").hide();
    } else if ($(this).val() == 'section') {
      $(".none").hide();
      $(".section").show();
      $(".strategyGroup").hide();
    } else if ($(this).val() == 'strategic_group') {
      $(".none").hide();
      $(".strategyGroup").show();
      $(".section").hide();
    } else {
      $(".none").show();
      $(".section").hide();
      $(".strategyGroup").hide();
    }
  })
  if ($('#activity_type').val() == 'team') {
    $(".none").show();
    $(".section").hide();
    $(".strategyGroup").hide();
  } else if ($('#activity_type').val() == 'section') {
    $(".none").hide();
    $(".section").show();
    $(".strategyGroup").hide();
  } else if ($('#activity_type').val() == 'strategic_group') {
    $(".none").hide();
    $(".strategyGroup").show();
    $(".section").hide();
  } else {
    $(".none").show();
    $(".section").hide();
    $(".strategyGroup").hide();
  }
</script>

<script type="text/javascript">
  // add designation ajax and form validation starts
  $(document).ready(function (e) {
    $(".number_budget").keydown(function (e) {
      // Allow: backspace, delete, tab, escape, enter and .
      if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||
        // Allow: Ctrl+A, Command+A
        (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
        // Allow: home, end, left, right, down, up
        (e.keyCode >= 35 && e.keyCode <= 40)) {
        // let it happen, don't do anything
        return;
      }
      // Ensure that it is a number and stop the keypress
      if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
        e.preventDefault();
      }
    });
    $("#updateActivityForm").validate({
      rules: {
        firm: {
          required: true
        },
        activity_type: {
          required: true
        },
        activity_goal: {
          required: true
        },
        practice_area: {
          required: true
        },
        remarks: {
          required: true
        },
        activity_creation_date: {
          required: true
        },
        activity_from_date: {
          required: true
        },
        activity_to_date: {
          required: true
        },
        activity_name: {
          required: true
        },
        activity_reason: {
          required: true
        },
        budget_status: {
          required: true
        },
        budget_details_status: {
          required: true
        }
      },
      messages: {
        firm: {
          required: "firm can't be blank"
        },
        activity_type: {
          required: "activity type title can't be blank"
        },
        activity_goal: {
          required: "activity goal title can't be blank"
        },
        practice_area: {
          required: "practice area title can't be blank"
        },
        remarks: {
          required: "remarks title can't be blank"
        },
        activity_creation_date: {
          required: "creation date title can't be blank"
        },
        activity_from_date: {
          required: "from date title can't be blank"
        },
        activity_to_date: {
          required: "to date title can't be blank"
        },
        activity_name: {
          required: "activity name title can't be blank"
        },
        activity_reason: {
          required: "activity reason title can't be blank"
        },
        budget_status: {
          required: "budget status title can't be blank"
        },
        budget_details_status: {
          required: "budget_details_status title can't be blank"
        }
      }
    });
  }); 
</script> {{/content}}