{{#content "style" mode="prepend"}}
<link rel="stylesheet" type="text/css" href="/assets/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-multiselect.css">
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-datetimepicker.min.css"> {{/content}}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h4 class="page-title">View Activity</h4>
            </div>
        </div>
        <form>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <input type="hidden" name="activity_id" id="activity_id" value="{{editdata.id}}">
            <input type="hidden" name="total_hour" id="total_hour">
            <input type="hidden" name="total_amount" id="total_amount">
            <div class="card-box">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-focus select-focus">
                                    <label class="control-label">Firm </label>
                                    <select id="firm" name="firm" class="select form-control floating" disabled>
                                        <option value="">Select Firm</option>
                                        {{#each firm}}
                                        <option value="{{this.id}}" {{#if_eq this.id ../editdata.firm}} selected="selected" {{/if_eq}}>{{this.title}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus select-focus">
                                    <label class="control-label">Activity Type </label>
                                    <select class="select floating" id="activity_type" name="activity_type" disabled>
                                        <option value="">Select Activity Type</option>
                                        <option value="section" {{#if_eq editdata.activity_type "section"}} selected="selected" {{/if_eq}}>SECTION LEAVEL</option>
                                        <option value="team" {{#if_eq editdata.activity_type "team"}} selected="selected" {{/if_eq}}>TEAM LEAVEL</option>
                                        <option value="individual" {{#if_eq editdata.activity_type "individual"}} selected="selected" {{/if_eq}}>INDIVIDUAL LEAVEL</option>
                                        <option value="strategic_group" {{#if_eq editdata.activity_type "strategic_group"}} selected="selected" {{/if_eq}}>STRATEGIC GROUP LEAVEL</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus select-focus">
                                    <label class="control-label">Activity Goal </label>
                                    <select id="activity_goal" name="activity_goal" class="select form-control floating" disabled>
                                        <option value="">Select Activity Goal</option>
                                        {{#each activity_goal}}
                                        <option value="{{this.id}}" {{#if_eq this.id ../editdata.activity_goal_id}} selected="selected" {{/if_eq}}>{{this.activity_goal}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus select-focus">
                                    <label class="control-label">Practice Area Type</label>
                                    <select id="practice_area" name="practice_area" class="select form-control floating" disabled>
                                        <option value="">Select Practice Area</option>
                                        {{#each practice_area}}
                                        <option value="{{this.id}}" {{#if_eq this.id ../editdata.practice_area}} selected="selected" {{/if_eq}}>{{this.name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus">
                                    <label class="control-label">Potential Revenue</label>
                                    <input class="form-control floating" type="text" disabled id="potiential_revenue" name="potiential_revenue" value="{{editdata.potiential_revenue}}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus">
                                    <label class="control-label">Creation Date</label>
                                    <div class="cal-icon">
                                        <input class="form-control floating datetimepicker" disabled type="text" id="activity_creation_date" name="activity_creation_date"
                                            value="{{dateFormat editdata.activity_creation_date " DD-MM-YYYY "}}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus">
                                    <label class="control-label">From Date</label>
                                    <div class="cal-icon">
                                        <input class="form-control floating datetimepicker" disabled type="text" id="activity_from_date" name="activity_from_date" value="{{dateFormat editdata.activity_from_date "
                                            DD-MM-YYYY "}}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus">
                                    <label class="control-label">To Date</label>
                                    <div class="cal-icon">
                                        <input class="form-control floating datetimepicker" type="text" disabled id="activity_to_date" name="activity_to_date" value="{{dateFormat editdata.activity_to_date "
                                            DD-MM-YYYY "}}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus">
                                    <label class="control-label">Activity Name</label>
                                    <input class="form-control floating" type="text" id="activity_name" disabled name="activity_name" value="{{editdata.activity_name}}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus">
                                    <label class="control-label">Activity Reason</label>
                                    <input class="form-control floating" type="text" id="activity_reason" disabled name="activity_reason" value="{{editdata.activity_reason}}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus select-focus">
                                    <label class="control-label">Activity Details Status </label>
                                    <select class="select" id="budget_status" name="budget_status" disabled>
                                        <option value=""> Select Activity status</option>
                                        <option value="section_one" {{#if_eq editdata.budget_status "section_one"}} selected="selected" {{/if_eq}}>SECTION ONE</option>
                                        <option value="planned" {{#if_eq editdata.budget_status "planned"}} selected="selected" {{/if_eq}}>PLANNED </option>
                                        <option value="unplanned" {{#if_eq editdata.budget_status "unplanned"}} selected="selected" {{/if_eq}}>UNPLANNED</option>
                                        <option value="delete_team" {{#if_eq editdata.budget_status "delete_team"}} selected="selected" {{/if_eq}}>DELETE ITEM</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus select-focus">
                                    <label class="control-label">Activity Budget Details Status</label>
                                    <select class="select" id="budget_details_status" name="budget_details_status" disabled>
                                        <option value=""> Select Activity budget details status</option>
                                        <option value="section_one" {{#if_eq editdata.budget_details_status "section_one"}} selected="selected" {{/if_eq}}>SECTION ONE</option>
                                        <option value="planned" {{#if_eq editdata.budget_details_status "planned"}} selected="selected" {{/if_eq}}>PLANNED BUDGET</option>
                                        <option value="unplanned" {{#if_eq editdata.budget_details_status "unplanned"}} selected="selected" {{/if_eq}}>UNPLANNED BUDGET</option>
                                        <option value="delete_team" {{#if_eq editdata.budget_details_status "delete_team"}} selected="selected" {{/if_eq}}>GUESTIMATE</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Refferred By: </label>
                                    <input type="radio" id="referral_type" name="ref_type" disabled value="T" {{#if_eq editdata.target "T"}} checked {{/if_eq}} />Target
                                    <input type="radio" id="organization_type" name="ref_type" disabled value="C" {{#if_eq editdata.target "C"}} checked {{/if_eq}} />Client
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus select-focus" id="target_list" {{#if_eq editdata.target "C"}} style="display:none;" {{/if_eq}}>
                                    <select id="target_id" name="target_user" class=" form-control floating" multiple="multiple">
                                        {{#each target}}
                                        <option value="{{this.id}}" {{#inArray ../arr this.id}} selected="selected" {{/inArray}} disabled>{{this.first_name}} {{this.last_name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6" id="client_list" {{#if_eq editdata.target "T"}} style="display:none;" {{/if_eq}}>
                                <div class="form-group form-focus select-focus">
                                    <select id="client_id" name="client_user" class=" form-control floating" multiple="multiple">
                                        {{#each client}}
                                        <option value="{{this.id}}" {{#inArray ../arr this.id}} selected="selected" {{/inArray}} disabled>{{this.first_name}} {{this.last_name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus">
                                    <label class="control-label">Remarks </label>
                                    <textarea class="form-control floating" id="remarks" name="remarks" rows="5" disabled>{{editdata.remarks}}</textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus">
                                    <label class="control-label">Total Budget Cost ($) </label>
                                    <input class="form-control floating" type="text" id="total_budget_cost" name="total_budget_cost" disabled value="{{editdata.total_budget_amount}}">
                                    <span>
                                        <a href="#" id="budgetUpdate" data-toggle="modal" data-target="#update_budget">Click to see budget details</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center m-t-20">
                <a href="/activitypage" class="btn btn-primary btn-lg">Back</a>
            </div>
        </form>
    </div>
</div>

{{!-- Starts add budget modal --}}

<div id="update_budget" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="modal-content modal-lg">
            <div class="modal-header">
                <h4 class="modal-title">Marketing Budget Details</h4>
            </div>
            <div class="modal-body">
                <div class="card-box">
                    <form class="m-b-10" name="editActivityBudgetFrm" id="editActivityBudgetFrm">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-inline m-b-15">
                                    <div class="form-group m-r-5">
                                        <label class="input-group">
                                            <span class="input-group-addon">
                                                <input type="radio" id="evenly_equated" name="activity_level_type_edit" value="Evenly Equated" {{#if_eq level_type
                                                    "Evenly Equated"}} checked {{/if_eq}} disabled />
                                            </span>
                                            <div class="form-control form-control-static">
                                                Evenly Equated
                                            </div>
                                            <span class="glyphicon form-control-feedback "></span>
                                        </label>
                                    </div>
                                    <div class="form-group ">
                                        <label class="input-group">
                                            <span class="input-group-addon">
                                                <input type="radio" id="individual" name="activity_level_type_edit" value="Individual" {{#if_eq level_type "Individual"}}
                                                    checked {{/if_eq}}  disabled />
                                            </span>
                                            <div class="form-control form-control-static">
                                                Individual
                                            </div>
                                            <span class="glyphicon form-control-feedback "></span>
                                        </label>
                                    </div>
                                </div>

                                {{#each budgetArr}}
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">{{this.parent_name}}</h3>
                                    </div>
                                    <div class="panel-body">
                                        {{#each this.child_budget}}
                                        <div class="list">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h5>
                                                        {{this.name}}
                                                    </h5>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">

                                                        <input class="form-control edit_budget_hour number_budget" type="text" data-budgets-id="{{this.id}}" id="edit_budget_hour"
                                                            name="edit_budget_hour" placeholder="Hours" value="{{this.hour}}" disabled>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <input class="form-control edit_budget_amount number_budget" type="text" id="edit_budget_amount" name="edit_budget_amount"
                                                            placeholder="Dollars($)" value="{{this.amount}}" disabled>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {{/each}}

                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- Ends add budget modal --}} {{#content "script" mode="append"}}
<script type="text/javascript" src="/assets/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/assets/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/select2.min.js"></script>
<script type="text/javascript" src="/assets/js/moment.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-multiselect.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>
<script>
    $('#target_id').multiselect({
            nonSelectedText: 'Select Targets',
            includeSelectAllOption: true,
            buttonWidth: '100%'
        });

        $('#client_id').multiselect({
            nonSelectedText: 'Select Clients',
            includeSelectAllOption: true,
            buttonWidth: '100%'
        });
</script>
 {{/content}}