{{#content "style" mode="prepend"}}
<link rel="stylesheet" type="text/css" href="/assets/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-multiselect.css">
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-datetimepicker.min.css">
{{/content}}
<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <h4 class="page-title">View Activity</h4>
      </div>
      <div class="right">
        {{#if (or (eq editdata.activity_status "0")(eq editdata.activity_status "3"))}}
        <a href="/activity/edit/{{editdata.id}}" class="btn btn-primary pull-right rounded"><i class="fa fa-edit"></i> Edit Activity</a>
        {{/if}}
        <button class="btn btn-primary pull-right rounded m-r-5" id="backActivityByn"><i class="fa fa-arrow-left"></i> Back</button>
      </div>
    </div>
    <form name="updateActivityForm" id="updateActivityForm" action="/activity/update/{{editdata.id}}" method="POST">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <input type="hidden" name="activity_id" id="activity_id" value="{{editdata.id}}">
      <input type="hidden" name="total_hour" id="total_hour">
      <input type="hidden" name="total_amount" id="total_amount">
      <input type="hidden" id="activityTypeDetails" value={{editdata.target}}>
      <div class="card-box">
        <h3 class="card-title">Client / Target Information</h3>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="form-inline m-b-15 col-md-6">
                <div class="form-group">
                  <label class="input-group">
                    <span class="input-group-addon">
                      <input type="radio" id="target_type" name="ref_type" value="T" {{#if_eq editdata.target "T"}} checked {{/if_eq}} disabled />
                    </span>
                    <div class="form-control form-control-static">Target</div>
                    <span class="glyphicon form-control-feedback"></span>
                  </label>
                </div>
                <div class="form-group">
                  <label class="input-group">
                    <span class="input-group-addon">
                      <input type="radio" id="organization_type" name="ref_type" value="C" {{#if_eq editdata.target "C"}} checked {{/if_eq}} disabled />
                    </span>
                    <div class="form-control form-control-static">Client</div>
                    <span class="glyphicon form-control-feedback"></span>
                  </label>
                </div>
                <div class="form-group">
                  <label class="input-group">
                    <span class="input-group-addon">
                      <input type="radio" id="referral_type" name="ref_type" value="R" {{#if_eq editdata.target "R"}} checked {{/if_eq}} disabled />
                    </span>
                    <div class="form-control form-control-static">Referral</div>
                    <span class="glyphicon form-control-feedback"></span>
                  </label>
                </div>
                <div class="form-group">
                  <label class="input-group">
                    <span class="input-group-addon">
                      <input type="radio" id="general_type" name="ref_type" value="G" {{#if_eq editdata.target "G"}} checked {{/if_eq}} disabled />
                    </span>
                    <div class="form-control form-control-static">General</div>
                    <span class="glyphicon form-control-feedback"></span>
                  </label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-focus select-focus" id="target_list" {{#if_eq editdata.target "T"}} style="display: block;" {{else}} style="display: none;" {{/if_eq}}>
                  <select id="target_id" name="target_user[]" class="form-control floating" multiple="multiple" disabled>
                    {{#each target}}
                    <option value="{{this.id}}" {{#inArray ../arr this.id}} selected="selected" {{/inArray}}>{{this.first_name}}
                      {{this.last_name}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
              <div class="col-md-6" id="client_list" {{#if_eq editdata.target "C"}} style="display: block;" {{else}} style="display: none;" {{/if_eq}}>
                <div class="form-group form-focus select-focus">
                  <select id="client_id" name="client_user[]" class="form-control floating" multiple="multiple" disabled>
                    {{#each client}}
                    <option value="{{this.id}}" {{#inArray ../arr this.id}} selected="selected" {{/inArray}}>{{this.first_name}}
                      {{this.last_name}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
              <div class="col-md-6" id="referral_list" {{#if_eq editdata.target "R"}} style="display: block;" {{else}} style="display: none;" {{/if_eq}}>
                <div class="form-group form-focus select-focus">
                  <select id="referral_id" name="referral_user[]" class="form-control floating" multiple="multiple" disabled>
                    {{#each referral}}
                    <option value="{{this.id}}" {{#inArray ../arr this.id}} selected="selected" {{/inArray}}>{{this.first_name}}
                      {{this.last_name}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
              <div class="col-md-6" id="general_list" {{#if_eq editdata.target "G"}} style="display: block;" {{else}} style="display: none;" {{/if_eq}}></div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-box">
        <h3 class="card-title">Basic Information</h3>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group form-focus select-focus">
                  <label class="control-label">Activity Name</label>
                  <input class="form-control floating" type="text" id="activity_name" name="activity_name" value="{{editdata.activity_name}}" disabled>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-focus select-focus">
                  <label class="control-label">Activity Reason</label>
                  <input class="form-control floating" type="text" id="activity_reason" name="activity_reason" value="{{editdata.activity_reason}}" disabled>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-focus select-focus">
                  <label class="control-label">Activity Type </label>
                  <select class="form-control floating" id="activity_type" name="activity_type" disabled>
                    <option value="">Select Activity Type</option>
                    <option value="individual" {{#if_eq editdata.activity_type "individual"}} selected="selected" {{/if_eq}}>INDIVIDUAL LEVEL</option>
                    <option value="section" {{#if_eq editdata.activity_type "section"}} selected="selected" {{/if_eq}}>SECTION LEVEL</option>
                    <option value="strategic_group" {{#if_eq editdata.activity_type "strategic_group"}} selected="selected" {{/if_eq}}>STRATEGIC GROUP LEVEL</option>
                    <option value="team" {{#if_eq editdata.activity_type "team"}} selected="selected" {{/if_eq}}>TEAM LEVEL</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6 none">
                <div class="form-group form-focus select-focus"></div>
              </div>
              <div class="col-md-6 section" style="display: none;">
                <div class="form-group form-focus select-focus">
                  <label class="control-label">Section <span class="req-lbl">*</span> </label>
                  <select class="form-control floating" id="section" name="section" disabled>
                    {{#each section}}
                      <option value="{{this.section.id}}" {{#if_eq this.id ../editdata.section_id}} selected="selected" {{/if_eq}}>{{this.section.name}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
              <div class="col-md-6 strategyGroup" style="display: none;">
                <div class="form-group form-focus select-focus">
                  <label class="control-label">Strategy Group <span class="req-lbl">*</span> </label>
                  <select class="form-control floating" id="strategyGroup" name="strategy_group" disabled>
                    <option value="0">Select Strategy Group</option>
                    <option value="1" {{#if_eq editdata.s_group_id 1}} selected="selected" {{/if_eq}}>NEED TO DISCUSS</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-focus select-focus">
                  <label class="control-label">Activity Goal</label>
                  <select id="activity_goal" name="activity_goal" class="form-control floating" disabled>
                    <option value="">Select Activity Goal</option>
                    {{#each activity_goal}}
                      <option value="{{this.id}}" {{#if_eq this.id ../editdata.activity_goal_id}} selected="selected" {{/if_eq}}>{{this.activity_goal}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-focus select-focus">
                  <label class="control-label">Practice Area Type</label>
                  <select id="practice_area" name="practice_area" class="form-control floating" disabled>
                    <option value="">Select Practice Area</option>
                    {{#each practice_area}}
                      <option value="{{this.id}}" {{#if_eq this.id ../editdata.practice_area}} selected="selected" {{/if_eq}}>{{this.name}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-focus select-focus">
                  <label class="control-label">Creation Date</label>
                  <div class="cal-icon">
                    <input class="form-control floating datetimepicker" type="text" id="activity_creation_date" name="activity_creation_date"
                      value="{{dateFormat editdata.activity_creation_date "DD-MM-YYYY"}}" disabled>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-focus select-focus"></div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-focus select-focus">
                  <label class="control-label">From Date</label>
                  <div class="cal-icon">
                    <input class="form-control floating datetimepicker" type="text" id="activity_from_date" name="activity_from_date" value="{{dateFormat editdata.activity_from_date "DD-MM-YYYY"}}" disabled>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-focus select-focus">
                  <label class="control-label">To Date</label>
                  <div class="cal-icon">
                    <input class="form-control floating datetimepicker" type="text" id="activity_to_date" name="activity_to_date" value="{{dateFormat editdata.activity_to_date "DD-MM-YYYY"}}" disabled>
                  </div>
                </div>
              </div>


              <div class="col-md-4">
                <div class="form-group form-focus select-focus" >
                  <input class="form-control floating" type="file" id="activity_attachment" name="activity_attachment" multiple disabled>
                  <div class="btn btn-primary"><img src="/assets/img/choose-file.png" alt="">Choose File</div>
                </div>
              </div>

              
               <div class="col-md-2">
                 <div class="download-btn">
                   <div class="form-group form-focus">
                    <a href="/activity/{{editdata.attachment_field}}" download  class="btn btn-primary btn-lg"> 
                      <i class="fa fa-download" aria-hidden="true"></i>
                    </a>
                  </div>
                 </div>
              </div>


              <div class="col-md-6">
                <div class="form-group form-focus select-focus">
                  <label class="control-label">Remarks</label>
                  <textarea class="form-control floating" id="remarks" name="remarks" rows="5" disabled>{{editdata.remarks}}</textarea>
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group form-focus select-focus">
                  <label class="control-label">Attachment</label>
                  <input class="form-control floating" type="file" id="activity_attachment" name="activity_attachment" style="height: auto;" disabled>
                </div>
              </div>
              <div class="col-md-1">
                {{#if editdata.attachment_field}}
                <div class="download-btn">
                  <div class="form-group form-focus">
                    <a href="/activity/{{editdata.attachment_field}}" download class="btn btn-primary btn-lg">
                      <i class="fa fa-download" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="content container-fluid">
    <div class="card-box">
      <h3 class="card-title">Client / Target Information</h3>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table table-striped custom-table datatable view-activity" id="searchData">
                    <thead>
                      <tr>
                        <th>Attorney Name</th>
                        <th>Relation</th>
                        <th>Company Name</th>
                        <th>Budget Code Cost $</th>
                      </tr>
                    </thead>
                    <tbody id="mainTable">
                      {{#each alltarget_client}}
                      <tr>
                        <td>{{this.attorney_name}}</td>
                        <td> {{this.relation}} </td>
                        <td>{{ this.company_name }}</td>
                        <td>
                          <a href="#" id="budgetUpdate" data-toggle="modal" data-target="#update_budget">$ {{this.total_cost}}</a>
                        </td>
                      </tr>
                      {{/each}}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- Starts add budget modal --}}

<div id="update_budget" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <div class="modal-content modal-lg">
      <div class="modal-header">
        <h4 class="modal-title">Marketing Budget Details</h4>
      </div>
      <div class="modal-body">
        <div class="card-box">
          <form class="m-b-10" name="editActivityBudgetFrm" id="editActivityBudgetFrm">
            <div class="row">
              <div class="col-md-12">
                <div class="form-inline m-b-15">
                  <div class="form-group m-r-5">
                    <label class="input-group">
                      <span class="input-group-addon">
                        <input type="radio" id="evenly_equated" name="activity_level_type_edit" value="Evenly Equated" {{#if_eq level_type
                          "Evenly Equated"}} checked {{/if_eq}} disabled />
                      </span>
                      <div class="form-control form-control-static">Evenly Equated</div>
                      <span class="glyphicon form-control-feedback"></span>
                    </label>
                  </div>
                  <div class="form-group">
                    <label class="input-group">
                      <span class="input-group-addon">
                        <input type="radio" id="individual" name="activity_level_type_edit" value="Individual" {{#if_eq level_type "Individual"}}
                          checked {{/if_eq}} disabled />
                      </span>
                      <div class="form-control form-control-static">Individual</div>
                      <span class="glyphicon form-control-feedback"></span>
                    </label>
                  </div>
                </div>
                {{#each budgetArr}}
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">{{this.parent_name}}</h3>
                  </div>
                  <div class="panel-body">
                    {{#each this.child_budget}}
                    <div class="list">
                      <div class="row">
                        <div class="col-md-6">
                          <h5>
                            {{this.name}}
                          </h5>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group">
                            <input class="form-control edit_budget_hour number_budget" type="text" data-budgets-id="{{this.id}}" id="edit_budget_hour"
                              name="edit_budget_hour" placeholder="Hours" value="{{this.hour}}" readonly>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group">
                            <input class="form-control edit_budget_amount number_budget" type="text" id="edit_budget_amount" name="edit_budget_amount"
                              placeholder="Dollars($)" value="{{this.amount}}" readonly>
                          </div>
                        </div>
                        {{#if_con this.remarks}}
                        <div class="col-md-2">
                          <div class="form-group">
                            <button type="button" class="btn btn-info" data-toggle="tooltip" title="{{this.remarks}}">Remarks</button>
                          </div>
                        </div>
                        {{/if_con}}
                      </div>
                    </div>
                    {{/each}}
                  </div>
                </div>
                {{/each}}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{{#content "script" mode="append"}}
<script type="text/javascript" src="/assets/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/assets/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/select2.min.js"></script>
<script type="text/javascript" src="/assets/js/moment.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-multiselect.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
  $('#target_id').multiselect({
    nonSelectedText: 'Select Targets',
    includeSelectAllOption: true,
    buttonWidth: '100%'
  });

  $('#client_id').multiselect({
    nonSelectedText: 'Select Clients',
    includeSelectAllOption: true,
    buttonWidth: '100%'
  });

  $('#referral_id').multiselect({
    nonSelectedText: 'Select referral',
    includeSelectAllOption: true,
    buttonWidth: '100%'
  });

  $("#potiential_revenue").inputmask("numeric", {
    radixPoint: ".",
    groupSeparator: ",",
    digits: 2,
    autoGroup: true,
    prefix: '$ ',
    rightAlign: false
  });

  var typeDetails = $('#activityTypeDetails').val();
  if (typeDetails == 'T') {
    $('#client_list').hide();
    $('#referral_list').hide();
    $('#general_list').hide();
    $('#target_list').show();
  } else if (typeDetails == 'C') {
    $('#client_list').show();
    $('#target_list').hide();
    $('#referral_list').hide();
    $('#general_list').hide();
  } else if (typeDetails == 'R') {
    $('#referral_list').show();
    $('#general_list').hide();
    $('#client_list').hide();
    $('#target_list').hide();
  } else if (typeDetails == 'G') {
    $('#referral_list').hide();
    $('#general_list').show();
    $('#client_list').hide();
    $('#target_list').hide();
  }

  $(document).on('click', "#backActivityByn", function () {
    window.location.href = localStorage.getItem('url');
    localStorage.removeItem('url');
  });
</script>
{{/content}}