{{#content "style" mode="prepend"}}
<link rel="stylesheet" type="text/css" href="/assets/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-datetimepicker.min.css"> {{/content}}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row">
            <div class="col-xs-4">
                <h4 class="page-title">Activity Budget Report</h4>
            </div>
            <div class="col-xs-8 text-right">
                <a href="/activity-budget-report" class="btn btn-primary rounded">Back</a>
            </div>
            <div style="display: inline-block; padding: 10px 10px 10px 30px;">
                <span style="font-weight: bold; font-size: 12px; text-transform: uppercase;" class="font-dark">
                    Activity Goal: {{activity_goal.activity_goal}}
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="div_left table-responsive">
                <table width="100%" class="table table-bordered">
                    <thead class="persist-header" style="border-top: 1px solid #ddd;">
                        <tr>
                            <td width="45%" style="height: 91px; vertical-align: middle">
                                <strong>Marketing Budget Summary</strong>
                            </td>
                            <td width="35%" style="text-align: center; height: 91px; vertical-align: middle">
                                <strong>Page Total</strong>
                            </td>
                        </tr>
                        <tr>
                            <td width="45%" style="height: 35px"></td>
                            <td width="35%" style="text-align: center; height: 35px; vertical-align: middle">
                                <strong>Budget</strong>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each budgetArr}}
                        <tr>
                            <td colspan="3" style="padding: 0;">
                                <table width="100%" class="table">
                                    <tbody>
                                        <tr>
                                            <td width="45%" style="border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; height: 40px; vertical-align: middle; text-align: center;"
                                                title="{{this.parent_name}}">
                                                <strong>{{this.parent_name}}</strong>
                                            </td>
                                            <td width="35%" style="padding: 0; text-align: center; height: 40px;">
                                                <table width="100%" height="40px">
                                                    <tbody>
                                                        <tr>
                                                            <td width="50%" style="border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; vertical-align: middle; text-align: center;">
                                                                <strong>Hours</strong>
                                                            </td>
                                                            <td width="50%" style="border-bottom: 1px solid #ddd; vertical-align: middle; text-align: center;">
                                                                <strong>US $</strong>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        {{#each this.child_budget}}
                                        <tr>
                                            <td width="45%" style="border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; height: 40px; vertical-align: middle;"
                                                title="{{this.name}}">
                                                {{this.name}}
                                            </td>
                                            <td width="35%" style="padding: 0; text-align: center; height: 40px;">
                                                <table width="100%" height="40px">
                                                    <tbody>
                                                        <tr>
                                                            <td width="50%" style="border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; vertical-align: middle; text-align: center;">
                                                                {{this.hour}}
                                                            </td>
                                                            <td width="50%" style="border-bottom: 1px solid #ddd; vertical-align: middle; text-align: center;">
                                                                {{this.amount}}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        {{/each}}
                                        <tr>
                                            <td width="45%" style="border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; height: 40px; vertical-align: middle; text-align: center;">
                                                <strong>Sub-total</strong>
                                            </td>
                                            <td width="35%" style="padding: 0; text-align: center; height: 40px;">
                                                <table width="100%" style=" height: 40px">
                                                    <tbody>
                                                        <tr>
                                                            <td width="50%" style="border-right: 1px solid #e7ecf1; border-bottom: 1px solid #ddd; background: #ddd; color: #000; font-weight: 800; vertical-align: middle; text-align: center;">
                                                                <strong>{{get_hour_by_goal this.child_budget this.parent_id}}</strong>
                                                            </td>
                                                            <td width="50%" style="border-bottom: 1px solid #ddd; height: 35px; background: #ddd; color: #000; font-weight: 800; vertical-align: middle; text-align: center;">
                                                                <strong>{{get_amount_by_goal this.child_budget this.parent_id}}</strong>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td width="45%" style="text-align: right; height: 40px; vertical-align: middle; text-align: center;">
                                <strong>Grand Total</strong>
                            </td>
                            <td width="35%" style="padding: 0; text-align: center; height: 40px;">
                                <table width="100%" height="40px">
                                    <tbody>
                                        <tr>
                                            <td width="50%" style="border-right: 1px solid #e7ecf1; border-bottom: 1px solid #ddd; background: #ddd; color: #000; font-weight: 800; vertical-align: middle; text-align: center;">
                                                <strong>{{activity_budget_grand.0.hour}}</strong>
                                            </td>
                                            <td width="50%" style="background: #ddd; color: #000; border-bottom: 1px solid #ddd; font-weight: 800; vertical-align: middle; text-align: center;">
                                                <strong>{{activity_budget_grand.0.amount}}</strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="col-md-8">
            <div class="div_right table-responsive">
                <table class="table" style="margin-top: 9px;">
                    <tbody>
                        <tr>
                            <td>
                                <table class="table" style="background-color: transparent;">
                                    <tbody>
                                        <tr>
                                            {{#each activityArr}}
                                            <td width="150px">
                                                <table class="table table-bordered" width="100%">
                                                    <thead class="persist-header">
                                                        <tr>
                                                            <td style="height: 91px; text-align: center; vertical-align: middle; border-top: 1px solid #ddd;">
                                                                <p style="color:#337ab7;">
                                                                    <a href="#" id="activityBudgetUpdate" data-toggle="modal" data-target="#update_budget_by_activity" title="{{this.activity_name}}" data-activiy-name="{{this.activity_name}}">
                                                                    <strong>{{this.activity_name}}</strong>
                                                                    </a>
                                                                </p>
                                                                <p title="{{this.activity_name}}" data-activiy-name="{{this.activity_name}}" >Origin Attorney - {{this.originAttorney}}</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="height: 35px; text-align: center; vertical-align: middle;">
                                                                <strong>Budget</strong>
                                                            </td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{#each this.budget_list}}
                                                        <tr>
                                                            <td style="padding: 0; text-align: center;">
                                                                <table class="table">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td width="100%" style="padding: 0; text-align: center; height: 40px;">
                                                                                <table width="100%" height="40px">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td width="50%" style="border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; text-align: center; vertical-align: middle;">
                                                                                                <strong>Hours</strong>
                                                                                            </td>
                                                                                            <td width="50%" style="border-bottom: 1px solid #ddd; text-align: center; vertical-align: middle;">
                                                                                                <strong>US $</strong>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        {{#each this.child_budget}}
                                                                        <tr class="total_parent">
                                                                            <td width="100%" style="padding: 0; text-align: center; height: 40px;">
                                                                                <table width="100%" height="40px">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td width="50%" style="border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; text-align: center; vertical-align: middle;">
                                                                                                <a href="#" id="activityBudgetUpdate" data-toggle="modal"
                                                                                                    data-target="#update_budget_by_activity">
                                                                                                    {{get_activity_budget_hour ../../this.activity_id this.budget_display}}
                                                                                                </a>
                                                                                            </td>
                                                                                            <td width="50%" style="border-bottom: 1px solid #ddd; text-align: center; vertical-align: middle;">
                                                                                                <a href="#" id="activityBudgetUpdate" data-toggle="modal"
                                                                                                    data-target="#update_budget_by_activity">{{get_activity_budget_amount
                                                                                                    ../../this.activity_id
                                                                                                    this.budget_display}}
                                                                                                </a>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        {{/each}}
                                                                        <tr>
                                                                            <td width="100%" style="padding: 0; text-align: center; height: 40px;">
                                                                                <table width="100%" height="40px">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td width="50%" style="height: 40px; border-right: 1px solid #e7ecf1; border-bottom: 1px solid #ddd; background: #ddd; color: #000; font-weight: 800; text-align: center; vertical-align: middle;">
                                                                                                {{get_sub_total_hour this.child_budget this.parent_id ../this.activity_id}}
                                                                                            </td>
                                                                                            <td width="50%" style="height: 40px; border-bottom: 1px solid #ddd; background: #ddd; color: #000; font-weight: 800; text-align: center; vertical-align: middle;">
                                                                                                {{get_sub_total_amount this.child_budget this.parent_id ../this.activity_id}}
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        {{/each}}
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td style="padding: 0; text-align: center; height: 40px;">
                                                                <table width="100%" height="40px">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td width="50%" style="border-right: 1px solid #e7ecf1; border-bottom: 1px solid #ddd; background: #ddd; color: #000; vertical-align: middle; text-align: center;">
                                                                                <strong>{{get_all_total_hour this.activity_grand
                                                                                    this.activity_id}}
                                                                                </strong>
                                                                            </td>
                                                                            <td width="50%" style="background: #ddd; color: #000; border-bottom: 1px solid #ddd; vertical-align: middle; text-align: center;">
                                                                                <strong>{{get_all_total_amount this.activity_grand
                                                                                    this.activity_id}}
                                                                                </strong>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tfoot>
                                                </table>


                                                <div id="update_budget_by_activity" style="left: 0;" class="modal custom-modal fade" role="dialog">
                                                    <div class="modal-dialog">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <div class="modal-content modal-lg">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title">Marketing Budget Summary</h4>
                                                                <p class="total-title"> </p>
                                                            </div>


                                                            {{!-- Start new budget report show --}}
                                                            <div class="modal-body">
                                                                <div class="card-box">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="modal-body">
                                                                                <div class="col-md-6">
                                                                                    <table class="table">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td style="width: 100%; padding: 0;">
                                                                                                    <table style="margin-bottom: 0;" class="table table-bordered">
                                                                                                        <thead>
                                                                                                            <tr>
                                                                                                                <th colspan="2" style="width: 80%; height: 50px; vertical-align: middle;">
                                                                                                                    Marketing Budget Codes
                                                                                                                </th>
                                                                                                            </tr>
                                                                                                        </thead>
                                                                                                    </table>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td colspan="2" style="height: 25px; border-bottom: 1px solid #e7ecf1;border-left: 1px solid #e7ecf1;border-right: 1px solid #e7ecf1;">&nbsp;</td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td width="100%" style="padding: 0;">
                                                                                                    <table class="table table-bordered">
                                                                                                        <tbody>
                                                                                                            {{#each this.budget_list}}
                                                                                                            <tr>
                                                                                                                <td style="height: 25px; width: 100%; padding: 0">
                                                                                                                    <table style="margin-bottom: 0;" class="table">
                                                                                                                        <tbody>
                                                                                                                            <tr>
                                                                                                                                <td style="height: 25px; vertical-align: middle;width: 80%; border-right: 1px solid #e7ecf1;" title="{{this.parent_name}}">
                                                                                                                                    <strong>{{this.parent_name}}</strong>
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                            {{#each this.child_budget}}
                                                                                                                            <tr>
                                                                                                                                <td style=" height: 25px;width: 80%; vertical-align: middle;border-top: 1px solid #e7ecf1; border-right: 1px solid #e7ecf1;"
                                                                                                                                    title="{{this.name}}">{{this.name}}
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                            {{/each}}
                                                                                                                        </tbody>
                                                                                                                    </table>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                            {{/each}}
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                                <div class="col-md-6">
                                                                                    <div class="table-responsive">
                                                                                        <table class="table table-bordered">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td style=" padding: 0; border-bottom: none">
                                                                                                        <table class="table" style="border-right: 1px solid #e7ecf1;">
                                                                                                            <tbody>
                                                                                                                <tr>
                                                                                                                    <td style=" padding: 0; width: 130px;">
                                                                                                                        <table style="margin-bottom: 0;" class="table">
                                                                                                                            <thead>
                                                                                                                                <tr>
                                                                                                                                    <th colspan="2" style=" height: 50px; vertical-align: middle;">Partho
                                                                                                                                        Sen
                                                                                                                                    </th>
                                                                                                                                </tr>
                                                                                                                            </thead>
                                                                                                                        </table>
                                                                                                                    </td>
                                                                                                                </tr>

                                                                                                                <tr>
                                                                                                                    <td style="padding: 0; height: 25px;  border-top: 1px solid #e7ecf1;  border-bottom: 1px solid #e7ecf1;">
                                                                                                                        <table style="margin-bottom: 0;" class="table">
                                                                                                                            <thead>
                                                                                                                                <tr>
                                                                                                                                    <th style="height: 25px; width: 65px; vertical-align: middle;  border-right: 1px solid #e7ecf1; border-bottom: none">Hours</th>
                                                                                                                                    <th style="height: 25px; width: 65px; vertical-align: middle; border-right: none; border-bottom: none;">US
                                                                                                                                        $
                                                                                                                                    </th>
                                                                                                                                </tr>
                                                                                                                            </thead>
                                                                                                                        </table>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                                {{#each this.budget_list}}
                                                                                                                <tr>
                                                                                                                    <td colspan="2" style="height: 25px; border-bottom: 1px solid #e7ecf1;">&nbsp;</td>
                                                                                                                </tr>
                                                                                                                <tr>
                                                                                                                    <td style="padding: 0; border-bottom: none">
                                                                                                                        <table class="table" style="margin-bottom: 0">
                                                                                                                            <tbody>
                                                                                                                                {{#each this.child_budget}}
                                                                                                                                <tr>
                                                                                                                                    <td colspan="2" style="width: 100%; padding: 0">
                                                                                                                                        <table style="margin-bottom: 0;" class="table">
                                                                                                                                            <tbody>
                                                                                                                                                <tr style="border-bottom: 1px solid #e7ecf1;">
                                                                                                                                                    <td style="height: 25px; width: 65px; vertical-align: middle; border-right: 1px solid #e7ecf1;">
                                                                                                                                                        {{get_activity_budget_hour ../../this.activity_id this.budget_display}}</td>
                                                                                                                                                    <td style="text-align: center; width: 65px; height: 25px; vertical-align: middle" class="total_cost_original">
                                                                                                                                                        {{get_activity_budget_amount ../../this.activity_id this.budget_display}}</td>
                                                                                                                                                </tr>
                                                                                                                                            </tbody>
                                                                                                                                        </table>
                                                                                                                                    </td>
                                                                                                                                </tr>
                                                                                                                                {{/each}}
                                                                                                                            </tbody>
                                                                                                                        </table>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                                {{/each}}
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            {{!-- End new budget report show --}}


                                                            <!---<div class="modal-body">
                                                                <div class="card-box">
                                                                    <div class="row">
                                                                        <div class="col-md-12">

                                                                            {{#each this.budget_list}}
                                                                            <div class="panel panel-primary">
                                                                                <div class="panel-heading">
                                                                                    <h3 class="panel-title">{{this.parent_name}}</h3>
                                                                                </div>
                                                                                <div class="panel-body">
                                                                                    {{#each this.child_budget}}
                                                                                    <div class="list">
                                                                                        <div class="row">
                                                                                            <div class="col-md-6">
                                                                                                <h5>
                                                                                                    {{this.name}}
                                                                                                </h5>
                                                                                            </div>
                                                                                            <div class="col-md-3">
                                                                                                <div class="form-group">
                                                                                                    <input class="form-control edit_budget_hour number_budget" type="text" data-budgets-id="{{this.id}}" id="edit_budget_hour"
                                                                                                        name="edit_budget_hour"
                                                                                                        placeholder="Hours" value="{{get_activity_budget_hour ../../this.activity_id this.budget_display}}"
                                                                                                        disabled>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-md-3">
                                                                                                <div class="form-group">
                                                                                                    <input class="form-control edit_budget_amount number_budget" type="text" id="edit_budget_amount" name="edit_budget_amount"
                                                                                                        placeholder="Dollars($)"
                                                                                                        value="{{get_activity_budget_amount ../../this.activity_id this.budget_display}}"
                                                                                                        disabled>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    {{/each}}
                                                                                </div>
                                                                            </div>
                                                                            {{/each}}

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>-->



                                                        </div>
                                                    </div>
                                                </div>

                                            </td>
                                            {{/each}}
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{#content "script" mode="append"}}
<script type="text/javascript" src="/assets/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/assets/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/select2.min.js"></script>
<script type="text/javascript" src="/assets/js/moment.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        if (window.location.pathname.split("/")[1] === "budget-report") {
            $(".sidebar").addClass("sidebar-hide");
            $(".page-wrapper").addClass("page-wrapper-full");
        }
        else {
            $(".page-wrapper").removeClass("page-wrapper-full");
            $(".sidebar").removeClass("sidebar-hide");
        }
    });


    $(document).on('click', "#activityBudgetUpdate", function (e) {
        var budgetName = $(this).data("activiy-name");
        // alert(budgetName);
        $('p.total-title').html('Activity- ' + budgetName);

    });


        /* $.ajax({
            type: "GET",
            url: "/activity/update_approval_request/" + activity_id,
            success: function (response) {
                if (response.success == true) {
                    swal({
                        title: "Nice!",
                        text: "Approval sent successfully",
                        type: "success"
                    }, function () {
                        window.location.reload();
                    });
                }
            }
        }); */




</script> {{/content}}