{{#content "style" mode="prepend"}}
<link rel="stylesheet" type="text/css" href="/assets/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-datetimepicker.min.css">
{{/content}}

<div class="page-wrapper act-budgreport">
    <div class="content container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h4 class="page-title">Activity Budget Report</h4>
            </div>
            <div class="col-md-4" style="padding-left: 0;">
                <div class="div_left table-responsive">
                    <table width="100%" class="table table-bordered">
                        <thead class="persist-header">
                            <tr>
                                <td width="45%" style="height: 91px; vertical-align: middle">
                                    <strong>Marketing Budget Summary</strong>
                                </td>
                                <td width="35%" style="height: 91px; text-align: center; vertical-align: middle">
                                    <strong>Page Total</strong>
                                </td>
                            </tr>
                            <tr>
                                <td width="45%" style="height: 35px"></td>
                                <td width="35%" style="text-align: center; height: 35px; vertical-align: middle">
                                    <strong>Budget</strong>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each budgetArr}}
                                <tr>
                                    <td colspan="3" style="padding: 0;">
                                        <table width="100%" class="table innertest">
                                            <tbody>
                                                <tr>
                                                    <td width="45%" style="border-right: 1px solid #e7ecf1; border-bottom: 1px solid #e7ecf1; border-top: none; height: 40px; vertical-align: middle; text-align: center;" title="{{this.parent_name}}">
                                                        <strong>{{this.parent_name}}</strong>
                                                    </td>
                                                    <td width="35%" style="padding:0; text-align:center; height: 40px">
                                                        <table width="100%" height="40px">
                                                            <tbody>
                                                                <tr>
                                                                    <td width="50%" style=" border-right: 1px solid #e7ecf1;border-bottom: 1px solid #e7ecf1; vertical-align: middle; text-align: center;">
                                                                        <strong>Hours</strong>
                                                                    </td>
                                                                    <td width="50%" style="border-bottom: 1px solid #e7ecf1;vertical-align: middle; text-align: center;">
                                                                        <strong>US $</strong>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                {{#each this.child_budget}}
                                                    <tr>
                                                        <td width="45%" style="border-right: 1px solid #e7ecf1; border-bottom: 1px solid #e7ecf1;height: 40px; vertical-align: middle;" title="{{this.name}}">{{this.name}}</td>
                                                        <td width="35%" style=" padding:0; text-align:center; height: 40px">
                                                            <table width="100%" style="height: 40px">
                                                                <tbody>
                                                                    <tr>
                                                                        <td width="50%" style="border-right: 1px solid #e7ecf1;border-bottom: 1px solid #e7ecf1; height: 40px; vertical-align: middle; text-align: center;">
                                                                            {{hour}}
                                                                        </td>
                                                                        <td width="50%" style="border-bottom: 1px solid #e7ecf1;height: 40px; vertical-align: middle; text-align: center;">
                                                                            {{amount}}
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                {{/each}}
                                                <tr>
                                                    <td width="45%" style="border-right: 1px solid #e7ecf1;border-bottom: 1px solid #e7ecf1; text-align:right; height: 35px; vertical-align: middle; text-align: center;">
                                                        <strong>Sub-total</strong>
                                                    </td>
                                                    <td width="35%" style=" padding:0; text-align:center" height="35px;">
                                                        <table width="100%" style=" height: 35px">
                                                            <tbody>
                                                                <tr>
                                                                    <td width="50%" style=" height: 35px; border-right: 1px solid #e7ecf1; border-bottom: 1px solid #e7ecf1;background:#ddd; color:#000; font-weight:800; vertical-align: middle; text-align: center;">
                                                                        <strong>{{get_hour_by_goal this.child_budget this.parent_id}}</strong>
                                                                    </td>
                                                                    <td width="50%" style=" border-bottom: 1px solid #e7ecf1;height: 35px; background:#ddd; color:#000; font-weight:800; vertical-align: middle; text-align: center;">
                                                                        <strong>{{get_amount_by_goal this.child_budget this.parent_id}}</strong>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td width="45%" style=" text-align:right; height: 35px; vertical-align: middle; text-align: center;">
                                    <strong>Grand Total</strong>
                                </td>
                                <td width="35%" style=" padding:0; text-align:center; height: 35px">
                                    <table width="100%" height="35px">
                                        <tbody>
                                            <tr>
                                                <td width="50%" style=" height: 35px; border-right: 1px solid #e7ecf1; background:#ddd; color:#000; font-weight: 800; vertical-align: middle; text-align: center;">
                                                    <strong>{{activity_goal_grand_total.hour}}</strong>
                                                </td>
                                                <td width="50%" style=" height: 35px; background:#ddd; color:#000; font-weight:800; vertical-align: middle; text-align: center;">
                                                    <strong>{{activity_goal_grand_total.amount}}</strong>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="col-md-8">
                <div class="div_right table-responsive">
                    {{#each activityArr}}
                        <table class="table table-bordered m-t-10" style="width: 33%; display: inline-block;">
                            <thead class="persist-header">
                                <tr>
                                    <td height="91px" style=" width: 820px; text-align:center; vertical-align: middle">
                                        <a href="/budget-report/activity-goal/{{this.activity_goal_id}}" title="{{this.activity_name}}">
                                            <strong>{{this.activity_name}}</strong>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="35px" width="100%" style="text-align:center; vertical-align: middle">
                                        <strong>Budget</strong>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each this.budget_list}}
                                <tr>
                                    <td width="100px" style=" padding:0; text-align:center">
                                        <div style=" width: 100%; display: block; margin-bottom: 20px">
                                            <table width="100%" class="table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <td width="50px" height="40px" style="border-left: none; border-right: 1px solid #e7ecf1; text-align: center">
                                                            <strong>Hours</strong>
                                                        </td>
                                                        <td width="50px" style="text-align: center;">
                                                            <strong>US $</strong>
                                                        </td>
                                                    </tr>
                                                    {{#each this.child_budget}}
                                                    <tr>
                                                        <td width="50%" height="40px" style="border-left: none; border-right: 1px solid #e7ecf1; text-align: center;">
                                                            {{get_budget_hour ../../this.activity_goal_id this.budget_display}}
                                                        </td>
                                                        <td width="50%" style="text-align: center" class="total_cost">
                                                            {{get_budget_amount ../../this.activity_goal_id this.budget_display}}
                                                        </td>
                                                    </tr>
                                                    {{/each}}
                                                    <tr>
                                                        <td width="50%" height="40px" style="border-left: none; border-right: 1px solid #e7ecf1; background:#ddd; color: #000; font-weight: 800; text-align: center">
                                                            {{get_sub_total_hour_activity_goal this.child_budget this.parent_id ../this.activity_goal_id}}
                                                        </td>
                                                        <td width="50%" style="background: #ddd; color: #000; font-weight: 800; text-align: center">
                                                            {{get_sub_total_amount_activity_goal this.child_budget this.parent_id ../this.activity_goal_id}}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td width="35%" style="padding: 0; text-align:center" height="35px;">
                                        <table width="100%" height="35px">
                                            <tbody>
                                                <tr>
                                                    <td width="50%" height="35px" style=" border-right: 1px solid #e7ecf1; background:#ddd; color:#000; font-weight:800; text-align: center">
                                                        <strong>{{get_all_total_hour_by_goal this.activity_goal_total this.activity_goal_id}}</strong>
                                                    </td>
                                                    <td width="50%" style=" background:#ddd; color:#000; font-weight:800; text-align: center">
                                                        <strong>{{get_all_total_amount_by_goal this.activity_goal_total this.activity_goal_id}} </strong>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>

{{#content "script" mode="append"}}
<script type="text/javascript" src="/assets/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/assets/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/select2.min.js"></script>
<script type="text/javascript" src="/assets/js/moment.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.min.js"></script>
<script>
    $(document).ready(function() {
        if(window.location.pathname.split("/")[1] === "activity-budget-report") {
            $(".sidebar").addClass("sidebar-hide");
            $(".page-wrapper").addClass("page-wrapper-full");
        }
        else {
            $(".page-wrapper").removeClass("page-wrapper-full");
            $(".sidebar").removeClass("sidebar-hide");
        }
    });
</script>
{{/content}}