{{#content "style" mode="prepend"}}
<link rel="stylesheet" type="text/css" href="/assets/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-datetimepicker.min.css"> {{/content}}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="pg-header">
            <div class="row">
                {{#if success_message}}
                    <div class="alert alert-success">
                        <strong>Success! </strong>{{success_message}}
                    </div>
                {{/if}}
                <div class="col-xs-4">
                    <h4 class="page-title">Budget</h4>
                </div>
                <div class="col-xs-8 text-right">
                    <a href="#" class="btn btn-primary rounded" data-toggle="modal" data-target="#add_user">
                        <i class="fa fa-plus"></i> Add Budget</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table datatable">
                        <thead>
                            <tr>
                                <th>SL#</th>
                                <th>Budget sub head</th>
                                <th style="width:150px;">Budget main head </th>
                                <th>Created Date &amp; Time</th>
                                <th class="text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each budget}}
                            <tr>
                                <td>{{math @index "+" 1}}</td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target="#view_users" data-budget-id="{{this.id}}" data-parent-id="{{this.parent_id}}"
                                        data-name="{{this.name}}" data-remarks="{{this.remarks}}" id="view-budget">{{this.name}}</a>
                                </td>
                                <td>{{get_parent_head this.id ../budget}}</td>
                                <td>{{dateFormat this.createdAt "DD-MM-YYYY, hh:mm a"}}</td>
                                <td class="text-right">
                                    <a href="#" data-toggle="modal" data-target="#view_users" data-budget-id="{{this.id}}" data-parent-id="{{this.parent_id}}"
                                        data-name="{{this.name}}" data-remarks="{{this.remarks}}" id="view-budget" class="btn btn-success btn-sm">
                                        <i class="fa fa-eye m-r-5"></i>
                                    </a>
                                    <a href="#" data-toggle="modal" data-target="#edit_users" data-budget-id="{{this.id}}" data-parent-id="{{this.parent_id}}"
                                        data-name="{{this.name}}" data-remarks="{{this.remarks}}" id="edit-budget" class="btn btn-info btn-sm">
                                        <i class="fa fa-pencil m-r-5"></i>
                                    </a>
                                    <a href="#" data-toggle="modal" data-target="#delete_users" data-budget-id="{{this.id}}" id="delete-budget" class="btn btn-danger btn-sm">
                                        <i class="fa fa-trash-o m-r-5"></i>
                                    </a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="add_user" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="modal-content modal-lg">
            <div class="modal-header">
                <h4 class="modal-title">Add Budget</h4>
            </div>
            <div class="modal-body">
                <form class="m-b-30" name="addBudget" id="addBudget" method="POST">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Budget Head</label>
                                <select class="select form-control" id="parent_id" name="parent_id">
                                    <option value="0">Select Budget Head</option>
                                    {{#each budget}} {{#if_eq this.parent_id "0"}}
                                    <option value="{{this.id}}">{{this.name}}</option>
                                    {{/if_eq}} {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Budget Name
                                    <span class="text-danger">*</span>
                                </label>
                                <input class="form-control" type="text" id="name" name="name">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Remarks
                                    <span class="text-danger">*</span>
                                </label>
                                <textarea class="form-control" id="remarks" name="remarks" rows="5"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="m-t-20 text-center">
                        <button class="btn btn-primary" type="button" id="btnAddBudget">Create Budget</button>
                        <a href="/budget" class="btn btn-primary m-l-10">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div id="view_user" class="modal custom-modal fade budget-modal1" role="dialog">
    <div class="modal-dialog">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="modal-content modal-lg">
            <div class="modal-header">
                <h4 class="modal-title">View Budget</h4>
            </div>
            <div class="modal-body">
                <form class="m-b-30">
                    <div class="row">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Budget Head</label>
                                <select disabled class="form-control floating" id="view_parent_id" name="view_parent_id">
                                    <option value="0">Select Budget Head</option>
                                    {{#each budget}} {{#if_eq this.parent_id "0"}}
                                    <option value="{{this.id}}">{{this.name}}</option>
                                    {{/if_eq}} {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Budget Name
                                    <span class="text-danger">*</span>
                                </label>
                                <input disabled class="form-control floating" type="text" id="view_name" name="view_name">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Remarks
                                    <span class="text-danger">*</span>
                                </label>
                                <textarea disabled class="form-control floating" id="view_remarks" name="view_remarks" rows="5"></textarea>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>







<div id="edit_user" class="modal custom-modal fade budget-modal" role="dialog">
    <div class="modal-dialog">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="modal-content modal-lg">
            <div class="modal-header">
                <h4 class="modal-title">Edit Budget</h4>
            </div>
            <div class="modal-body">
                <form class="m-b-30" name="edit_budget" id="edit_budget" method="post">
                    <div class="row">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Budget Head</label>
                                <select class="select form-control" id="edit_parent_id" name="edit_parent_id">
                                    <option value="0">Select Budget Head</option>
                                    {{#each budget}} {{#if_eq this.parent_id "0"}}
                                    <option value="{{this.id}}">{{this.name}}</option>
                                    {{/if_eq}} {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Budget Name
                                    <span class="text-danger">*</span>
                                </label>
                                <input class="form-control" type="text" id="edit_name" name="edit_name">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Remarks
                                    <span class="text-danger">*</span>
                                </label>
                                <textarea class="form-control" id="edit_remarks" name="edit_remarks" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="m-t-20 text-center">
                        <button class="btn btn-primary" id="btnEditBudget">Edit Budget</button>
                        <a href="/budget" class="btn btn-primary m-l-10">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="delete_users" class="modal custom-modal fade del-budget" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content modal-md">
            <div class="modal-header">
                <h4 class="modal-title">Delete Budget</h4>
            </div>
            <form>
                <div class="modal-body card-box">
                    <p>are you sure you want to delete this budget?</p>
                    <div class="m-t-20">
                        <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                        <button type="submit" class="btn btn-danger delBudgetBtn">Delete</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{{#content "script" mode="append"}}
<script type="text/javascript" src="/assets/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/assets/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/select2.min.js"></script>
<script type="text/javascript" src="/assets/js/moment.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>
<script type="text/javascript">
    $(document).ready(function (e) {

        $("#btnAddBudget").click(function () {
            $("#addBudget").submit();
        });

        $("#addBudget").validate({
            rules: {
                name: {
                    required: true
                },
                remarks: {
                    required: true
                }
            },
            messages: {
                name: {
                    required: "Budget Name can't be blank"
                },
                remarks: {
                    required: "Remarks can't be blank"
                }
            },
            submitHandler: function (form) {
                var name = $("#name").val(),
                    parent_id = $("#parent_id").val(),
                    remarks = $("#remarks").val();
                $.ajax({
                    type: "POST",
                    url: "/budget/add",
                    data: {
                        name: name,
                        parent_id: parent_id,
                        remarks: remarks
                    },
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('X-CSRF-Token', "{{csrfToken}}");

                        $("#btnAddBudget").prop('disabled', true);
                        $("#btnAddBudget").html("Loading...");
                    },
                    success: function (response) {
                        if (response.add_budget == 1) {
                            $(`<div class="alert alert-success"><strong>Success! </strong>Budget Added Successfully</div>`).insertBefore("#addBudget");
                            setTimeout(function () {
                                window.location.href = "/budget";
                            }, 2000);
                        }
                        else if (response.add_budget == 2) {
                            $(`<div class="alert alert-danger"><strong>Error! </strong>Budget Code Already exist</div>`).insertBefore("#addBudget");
                            $(".alert").fadeTo(2000, 500).slideUp(500, function () {
                                $(".alert").remove();
                            });
                            $("#btnAddBudget").prop('disabled', false);
                            $("#btnAddBudget").html("Create Budget");
                        }
                    }
                });
            }
        });
    });
    $(document).on('click', '#view-budget', function (e) {
        var budget_id = $(this).data('budget-id');
        var parent_id = $(this).data('parent-id');
        var name = $(this).data('name');
        var remarks = $(this).data('remarks');

        $("#view_name").val(name);
        $('#view_parent_id').val(parent_id);
        $('#view_parent_id').trigger('change');
        $("#view_remarks").val(remarks);

        localStorage.setItem('budget_id', budget_id);

        $('.budget-modal1').modal("show");
    });
    /*=========================Starts Edit budget==========================*/

    $(document).on('click', '#edit-budget', function (e) {
        var budget_id = $(this).data('budget-id');
        var parent_id = $(this).data('parent-id');
        var name = $(this).data('name');
        var remarks = $(this).data('remarks');

        $("#edit_name").val(name);
        $('#edit_parent_id').val(parent_id);
        $('#edit_parent_id').trigger('change');
        $("#edit_remarks").val(remarks);

        localStorage.setItem('budget_id', budget_id);

        $('.budget-modal').modal("show");
    });

    $(document).ready(function (e) {

        $("#btnEditBudget").click(function () {
            $("#edit_budget").submit();
        });

        $("#edit_budget").validate({
            rules: {
                edit_name: {
                    required: true
                },
                edit_remarks: {
                    required: true
                }
            },
            messages: {
                edit_name: {
                    required: "Budget Name can't be blank"
                },
                edit_remarks: {
                    required: "Remarks can't be blank"
                }
            },
            submitHandler: function (form) {
                $.ajax({
                    type: "POST",
                    url: "/admin/edit-budget/" + localStorage.getItem("budget_id"),
                    data: $("#edit_budget").serialize() + "&budget_id=" + localStorage.getItem("budget_id"),
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('X-CSRF-Token', "{{csrfToken}}");

                        $("#btnEditBudget").prop('disabled', true);
                        $("#btnEditBudget").html("Loading...");
                    },
                    success: function (response) {
                        if (response.edit_budget == 1) {
                            $(`<div class="alert alert-success"><strong>Success! </strong>Budget Edited Successfully</div>`).insertBefore("#edit_budget");
                            setTimeout(function () {
                                window.location.href = "/budget";
                            }, 2000);
                        }
                        else if (response.edit_budget == 2) {
                            $(`<div class="alert alert-danger"><strong>Error! </strong>Budget Code Already exist</div>`).insertBefore("#edit_budget");
                            $(".alert").fadeTo(2000, 500).slideUp(500, function () {
                                $(".alert").remove();
                            });
                            $("#btnEditBudget").prop('disabled', false);
                            $("#btnEditBudget").html("Edit Budget");
                        }
                    },
                    error: function (xhr) {

                    }
                });
            }
        });
    });



    /*=========================Ends Edit Budget==========================*/
    /*=========================starts delete Budget==========================*/

    $(document).on('click', '#delete-budget', function (e) {
        var budget_id = $(this).data('budget-id');

        localStorage.setItem('budget_id', budget_id);

        $('.del-budget').modal("show");
    });
    $(document).on('click', '.delBudgetBtn', function (e) {
        $.ajax({
            type: "POST",
            url: "/admin/delete-budget/" + localStorage.getItem("budget_id"),
            data: "&budget_id=" + localStorage.getItem("budget_id"),
            beforeSend: function (xhr) {
                xhr.setRequestHeader('X-CSRF-Token', "{{csrfToken}}");

            },
            success: function (response) {
                if (response.del_budget == 1) {
                    window.location.href = "/budget";
                }
            },
            error: function (xhr) {

            }
        });
        e.preventDefault();
    })

/*=========================Ends delete budget==========================*/
</script> {{/content}}