
            <div class="page-wrapper">


            {{#content "style" mode="prepend"}}
                <link rel="stylesheet" type="text/css" href="/assets/css/dataTables.bootstrap.min.css">
                <link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
                <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-datetimepicker.min.css">
            {{/content}}


                <div class="content container-fluid">
                    <div class="row">
                        <div class="col-sm-8">
                            <h4 class="page-title">Company Details</h4>
                        </div>
                    </div>

							<form name="addname" id="addname" >
                <input type="hidden" id="hidden_field" value={{data.id}}>
								<!-- <h3 class="page-title">Company Details</h3> -->
                <div class="card-box">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-focus select-focus">
                											<label>Company Name <span class="text-danger">*</span></label>
                											<input class="form-control" type="text" name="companyname"  id="companyname" value="{{data.company_name}}">
										              </div>
									             </div>
            									<div class="col-sm-6">
            										<div class="form-group form-focus select-focus">
            											<label>Contact Person</label>
            											<input class="form-control " type="text" name="contactperson" id="contactperson" value="{{data.contact_person}}">
            										</div>
            									</div>
            									<div class="col-sm-12">
            										<div class="form-group form-focus select-focus">
            											<label>Address</label>


            											<textarea class="form-control " type="text" name="address" id="address" rows="5">{{data.address}}</textarea>

            										</div>
                              </div>
                              <div class="col-md-6">
                                 <div class="form-group form-focus select-focus">
                                   <label>Country</label>
                                    <select class="select form-control floating" id="country" name="country">
                                       <option value="">Select Country</option>
                                       {{#each country}}
                                       <option value="{{this.id}}" {{#if_eq this.id 233}} selected="selected" {{/if_eq}}>{{this.name}}</option>
                                       {{/each}}
                                   </select>
                                 </div>
                              </div>



                            <div class="col-md-6">
                               <div class="form-group form-focus select-focus">
                                 <label>State</label>
                                  <select class="select form-control floating" id="state" name="state">
                                     {{#each state}}
                                     <option value="{{this.id}}" {{#if_eq this.id ../data.state}} selected="selected" {{/if_eq}}>{{this.name}}</option>
                                     {{/each}}
                                 </select>
                               </div>
                            </div>
                            <div class="col-md-6">
                               <div class="form-group form-focus select-focus">
                                 <label>City</label>
                                  <select class="select form-control floating" id="city" name="city">
          							<option value="">Select City</option>
          							 {{#each cities}}
                                       	<option value="{{this.id}}" {{#if_eq this.id ../data.city}} selected="selected" {{/if_eq}}>{{this.name}}</option>
          							 {{/each}}
                                 </select>
                               </div>
                            </div>
				  <!-- {{data.postal_code}} -->
                      <div class="col-md-6">
                         <div class="form-group form-focus select-focus">
                           <label>Zip Code</label>
                               <select class="select form-control floating" id="zipcode" name="zipcode">
    							   <option value="">Select Zipcode</option>
    							{{#each zipcodes}}

    								<option value="{{this.id}}" {{#if_eq this.id ../data.postal_code}} selected="selected" {{/if_eq}}>{{this.zip}}</option>
    							{{/each}}
                           </select>
                         </div>
                        </div>
									<div class="col-sm-6">
										<div class="form-group form-focus select-focus">
											<label>Email</label>
											<input class="form-control" type="email" name="email" id="email" value={{data.email}}>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group form-focus select-focus">
											<label>Phone Number</label>
											<input class="form-control" type="text" name="phnumber" id="phnumber" value={{data.phone_number}} onkeypress="return onlyNumbers();" >
										</div>
									</div>
                <div class="col-sm-6">
										<div class="form-group form-focus select-focus">
											<label>Mobile Number</label>
											<input class="form-control" type="text" name="mbnumber" id="mbnumber" value={{data.mobile_number}} onkeypress="return onlyNumbers();" >
										</div>
                  </div>
									<div class="col-sm-6">
										<div class="form-group form-focus select-focus">
											<label>Fax</label>
											<input class="form-control"  type="text" name="fax" id="fax" value= {{data.fax}} onkeypress="return onlyNumbers();" >
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group form-focus select-focus">
											<label>Website Url</label>
											<input class="form-control floating url_selector" type="text" name="weburl" id="weburl" value={{data.website_url}}>
										</div>
									</div>
                  <div class="col-md-12">
                  <div class="text-center m-t-20">
										<button type="button" class="btn btn-primary" id="insert" value = "Validate" onclick = "Validate()" >Save &amp; update</button>
									</div>
                 </div>
              </div>
            </div>
          </div>
        </div>

							</form>
        </div>
    </div>

    {{#content "script" mode="append"}}
        <script type="text/javascript" src="/assets/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="/assets/js/dataTables.bootstrap.min.js"></script>
        <script type="text/javascript" src="/assets/js/select2.min.js"></script>
        <script type="text/javascript" src="/assets/js/moment.min.js"></script>
        <script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>


        <script language="JavaScript">
            function onlyNumbers(evt) {
                var e = event || evt; // for trans-browser compatibility
                var charCode = e.which || e.keyCode;

                if (charCode > 31 && (charCode < 48 || charCode > 57))
                    return false;
                return true;
            }
        </script>




                <script type="text/javascript">
                // submitHandler:function(form) {
                  $("#insert").on("click",function(){
                    var companyname = $('#companyname').val();
                    var contactperson = $('#contactperson').val();
                    var address = $('#address').val();
                    var country = $('#country').val();
                    var state = $('#state').val();
                    var city = $('#city').val();
                    var email = $('#email').val();
                    var phnumber = $('#phnumber').val();
                    var mbnumber = $('#mbnumber').val();
                    var postalcode = $('#zipcode').val();
                    var fax = $('#fax').val();
                    var wburl = $('#weburl').val();
                    var hidden_field = $('#hidden_field').val();


                    $.ajax({
                        type: "POST",
                        url: "/settings/insert",
                        data: {
                          hidden_field: hidden_field,
                          companyname: companyname,
                          contactperson: contactperson,
                          address: address,
                          country: country,
                          email: email,
                          state: state,
                          city: city,
                          phnumber: phnumber,
                          mbnumber: mbnumber,
                          postalcode: postalcode,
                          fax: fax,
                          weburl: wburl
                        },
                        beforeSend: function(xhr) {
                            xhr.setRequestHeader('X-CSRF-Token', "{{csrfToken}}");
                        },
                        success: function(response) {

                            window.location.href = '/settings';
                        },
                        error: function(xhr){
                        }
                    });
                  });







          //   });
          // });
         </script>

        {{/content}}
