{{#content "style" mode="prepend"}}
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-multiselect.css">
<link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-datetimepicker.min.css"> {{/content}}

<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <h4 class="page-title">Edit Referral</h4>
      </div>
    </div>
    {{#if err_message}}
    <div class="alert alert-danger">
      <strong>Error! </strong>{{err_message}}
    </div>
    {{/if}} {{#if error_message}}
    <div class="alert alert-danger">
      <strong>Error! </strong>{{error_message}}
    </div>
    {{/if}}
    <form id="frmEditReferral" method="POST" action="/referral/edit/{{referral.id}}">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <div class="form-inline m-b-15">
        <div class="form-group m-r-5">
          <label class="input-group">
            <span class="input-group-addon">
              <input type="radio" id="individual_referral" name="referral_type" value="I" {{#if_eq referral.referral_type "I"}} checked
                {{/if_eq}} disabled />
            </span>
            <div class="form-control form-control-static">Individual</div>
            <span class="glyphicon form-control-feedback "></span>
          </label>
        </div>
        <div class="form-group ">
          <label class="input-group">
            <span class="input-group-addon">
              <input type="radio" id="organization_referral" name="referral_type" value="O" {{#if_eq referral.referral_type "O"}} checked
                {{/if_eq}} disabled />
            </span>
            <div class="form-control form-control-static">Organization</div>
            <span class="glyphicon form-control-feedback "></span>
          </label>
        </div>
      </div>

      <div class="card-box">
        <h3 class="card-title">Basic Information</h3>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div id="indi_referral" {{#if_eq referral.referral_type "O"}} style="display:none;" {{/if_eq}}>
                <div class="col-md-6">
                  <div class="form-group form-focus">
                    <label class="control-label">First Name
                      <span class="req-lbl">*</span>

                    </label>
                    <input type="text" class="form-control floating" id="first_name" name="first_name" value="{{referral.first_name}}" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group form-focus">
                    <label class="control-label">Last Name
                      <span class="req-lbl">*</span>
                    </label>
                    <input type="text" class="form-control floating" id="last_name" name="last_name" value="{{referral.last_name}}" />
                  </div>
                </div>
              </div>
              <div class="col-md-12" id="org_referral" {{#if_eq referral.referral_type "I"}} style="display:none;" {{/if_eq}}>
                <div class="form-group form-focus">
                  <label class="control-label">Organization Name</label>
                  <input type="text" class="form-control floating" id="org_name" name="org_name" value="{{referral.organization_name}}" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-focus">
                  <label class="control-label">Email Id
                    <span class="req-lbl">*</span>
                  </label>
                  <input type="text" class="form-control floating" id="email" name="email" value="{{referral.email}}" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-focus">
                  <label class="control-label">Mobile Number
                    <span class="req-lbl">*</span>

                  </label>
                  <input type="text" class="form-control floating number_validator" id="mobile_no" name="mobile_no" value="{{referral.mobile}}"
                  />
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Refferred By: </label>
                  <div class="form-inline m-b-15">
                    <div class="form-group m-r-5">
                      <label class="input-group">
                        <span class="input-group-addon">
                          <input type="radio" id="referral_type" name="ref_type" value="T" {{#if_eq referral.referred_type "T"}} checked {{/if_eq}}
                          />
                        </span>
                        <div class="form-control form-control-static">Target</div>
                        <span class="glyphicon form-control-feedback "></span>
                      </label>
                    </div>
                    <div class="form-group ">
                      <label class="input-group">
                        <span class="input-group-addon">
                          <input type="radio" id="organization_type" name="ref_type" value="C" {{#if_eq referral.referred_type "C"}} checked {{/if_eq}}/>
                        </span>
                        <div class="form-control form-control-static">Client</div>
                        <span class="glyphicon form-control-feedback "></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6" id="target_list" {{#if_eq referral.referred_type "C"}} style="display:none;" {{/if_eq}}>
                <div class="form-group form-focus">
                  <select id="target_id" name="referred_id_t" class="select form-control floating">
                    <option value="0" {{#if_eq referral.target_id "0"}} selected {{/if_eq}}>Select Target</option>
                    {{#each target}} {{#if_eq target_type "I"}}
                    <option value="{{this.id}}" {{#if_eq this.id ../referral.target_id}} selected {{/if_eq}}>{{this.first_name}} {{this.last_name}}</option>
                    {{/if_eq}} {{#if_eq target_type "O"}}
                    <option value="{{this.id}}" {{#if_eq this.id ../referral.target_id}} selected {{/if_eq}}>{{this.organization_name}}</option>
                    {{/if_eq}} {{/each}}
                  </select>
                </div>
              </div>
              <div class="col-md-6" id="client_list" {{#if_eq referral.referred_type "T"}} style="display:none;" {{/if_eq}}>
                <div class="form-group form-focus">
                  <select id="client_id" name="referred_id_c" class="select form-control floating">
                    <option value="0" {{#if_eq referral.client_id "0"}} selected {{/if_eq}}>Select Client</option>
                    {{#each client}} {{#if_eq client_type "I"}}
                    <option value="{{this.id}}" {{#if_eq this.id ../referral.client_id}} selected {{/if_eq}}>{{this.first_name}} {{this.last_name}}</option>
                    {{/if_eq}} {{#if_eq client_type "O"}}
                    <option value="{{this.id}}" {{#if_eq this.id ../referral.client_id}} selected {{/if_eq}}>{{this.organization_name}}</option>
                    {{/if_eq}} {{/each}}
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-focus select-focus">
                  <label class="control-label">Gender
                    <span class="req-lbl">*</span>
                  </label>
                  <select class="select form-control floating" id="gender" name="gender">
                    <option value="">Select Gender</option>
                    <option value="M" {{#if_eq referral.gender "M"}} selected {{/if_eq}}>Male</option>
                    <option value="F" {{#if_eq referral.gender "F"}} selected {{/if_eq}}>Female</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-focus">
                  <label class="control-label">Estimated revenue
                    <span class="req-lbl">*</span>
                  </label>
                  <input class="form-control floating" type="text" id="estimated_revenue" name="estimated_revenue" value="{{referral.estimated_revenue}}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-box">
        <h3 class="card-title">Contact Information</h3>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group form-focus">
              <label class="control-label">Address Line 1
                <span class="req-lbl">*</span>
              </label>
              <input type="text" class="form-control floating" id="address1" name="address1" value="{{referral.address1}}"/>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group form-focus">
              <label class="control-label">Address Line 2</label>
              <input type="text" class="form-control floating" id="address2" name="address2" value="{{referral.address2}}"/>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group form-focus">
              <label class="control-label">Address Line 3</label>
              <input type="text" class="form-control floating" id="address3" name="address3" value="{{referral.address3}}"/>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group form-focus select-focus">
              <label class="control-label">Country
                <span class="req-lbl">*</span>
              </label>
              <select id="country" name="country" class="select form-control floating">
                <option value="">Select Country</option>
                {{#each country}}
                <option value="{{this.id}}" {{#if_eq this.id 233}} selected="selected" {{/if_eq}}>{{this.name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group form-focus select-focus">
              <label class="control-label">State
                <span class="req-lbl">*</span>
              </label>
              <select id="state" name="state" class="select form-control floating">
                <option value="">Select State</option>
                {{#each state}}
                <option value="{{this.id}}" {{#if_eq this.id ../referral.state}} selected="selected" {{/if_eq}}>{{this.name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group form-focus select-focus">
              <label class="control-label">City
                <span class="req-lbl">*</span>
              </label>
              <select id="city" name="city" class="select form-control floating">
                <option value="">Select City</option>
                {{#each city}}
                <option value="{{this.id}}" {{#if_eq this.id ../referral.city}} selected="selected" {{/if_eq}}>{{this.name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group form-focus select-focus">
              <label class="control-label">Zip Code
                <span class="req-lbl">*</span>
              </label>
              <select id="zipcode" name="zipcode" class="select form-control floating">
                <option value="">Select Zipcode</option>
                 {{#each zipcode}}
                <option value="{{this.id}}" {{#if_eq this.id ../referral.zipcode}} selected="selected" {{/if_eq}}>{{this.zip}}</option>
                {{/each}}
              </select>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group form-focus">
              <label class="control-label">Address Remarks </label>
              <textarea class="form-control floating" id="address_remarks" name="address_remarks" rows="5">{{referral.address_remarks}}</textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="card-box">
        <h3 class="card-title">Attorney Information</h3>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group form-focus select-focus">
              <label class="control-label">Attorney Name
                <span class="req-lbl">*</span>
              </label>
              <select id="attr_id" name="attr_id" class="select form-control floating">
                {{#if_eq user.role_id "2"}}
                  <option value="">Select Attorney</option>
                  {{#each attorney}}
                  <option value="{{this.id}}" {{#if_eq this.id ../referral.attorney_id }} selected="selected" {{/if_eq}}>{{this.first_name}} {{this.last_name}}</option>
                  {{/each}}
                {{else}}
                  <option value="{{user.id}}">{{user.first_name}} {{user.last_name}}</option>
                {{/if_eq}}
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="card-box">
        <h3 class="card-title">Other Information</h3>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group form-focus">
              <label class="control-label">Referral Company </label>
              <input type="text" class="form-control floating" id="company_name" name="company_name" value="{{referral.company_name}}"/>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group form-focus">
              <label class="control-label">Website URL </label>
              <input type="text" class="form-control floating url_selector" id="website_url" name="website_url" value="{{referral.website_url}}"/>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group form-focus">
              <label class="control-label">Fax</label>
              <input type="text" class="form-control floating number_validator" id="fax" name="fax" value="{{referral.fax}}"/>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group form-focus">
              <label class="control-label">Phone Number
              </label>
              <input type="text" class="form-control floating number_validator" id="phone_no" name="phone_no" value="{{referral.phone_no}}"/>
            </div>
          </div>
          {{!--
          <div class="col-md-6">
            <div class="form-group form-focus">
              <label class="control-label">Social URL </label>
              <input type="text" class="form-control floating url_selector" id="social_url" name="social_url" />
            </div>
          </div> --}}
          <div class="col-md-6">
            <div class="form-group form-focus">
              <label class="control-label">IM</label>
              <input type="text" class="form-control floating" id="im" name="im" value="{{referral.im}}"/>
            </div>
          </div>
          {{!--
          <div class="col-md-6">
            <div class="form-group form-focus">
              <label class="control-label">Social Security No</label>
              <input type="text" class="form-control floating number_validator" id="social_sec_no" name="social_sec_no" />
            </div>
          </div> --}}
          <div class="col-md-6">
            <div class="form-group form-focus">
              <label class="control-label">Twitter</label>
              <input type="text" class="form-control floating url_selector" id="twitter" name="twitter" value="{{referral.twitter}}"/>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group form-focus">
              <label class="control-label">Linkedin</label>
              <input type="text" class="form-control floating url_selector" id="linkedin" name="linkedin" value="{{referral.linkedin}}"/>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group form-focus">
              <label class="control-label">Facebook</label>
              <input type="text" class="form-control floating url_selector" id="social_url" name="social_url" value="{{referral.social_url}}"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group form-focus">
              <label class="control-label">Google </label>
              <input type="text" class="form-control floating url_selector" id="google" name="google" value="{{referral.google}}"/>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group form-focus">
              <label class="control-label">Youtube </label>
              <input type="text" class="form-control floating url_selector" id="youtube" name="youtube" value="{{referral.youtube}}"/>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group form-focus select-focus">
              <label class="control-label">Association Status
                <span class="req-lbl">*</span>
      
              </label>
              <select id="association" name="association" class="select form-control">
                <option value=""> Select Association</option>
                <option value="NEW TARGET"{{#if_eq referral.association "NEW TARGET"}} selected {{/if_eq}}>NEW TARGET</option>
                <option value="CONVERTED"{{#if_eq referral.association "CONVERTED"}} selected {{/if_eq}}>CONVERTED</option>
                <option value="TS-INTERIM"{{#if_eq referral.association "TS-INTERIM"}} selected {{/if_eq}}>TS-INTERIM</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group form-focus select-focus">
              <label class="control-label">Industry Type
                <span class="req-lbl">*</span>
              </label>
              <select id="industry_type" name="industry_type" class="select form-control">
                <option value=""> Select Industry Type</option>
                {{#each industry}}
                <option value="{{this.id}}" {{#if_eq this.id ../referral.industry_type}} selected="selected" {{/if_eq}}>{{this.industry_name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group form-focus">
              <label class="control-label">Remarks </label>
              <textarea class="form-control floating" id="remarks" name="remarks" rows="5">{{referral.remarks}}</textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center m-t-20">
        <button class="btn btn-primary btn-lg" type="submit">Save &amp; Update Referral</button>
        <a href="/referral" class="btn btn-primary btn-lg m-l-10">Cancel</a>
      </div>
    </form>
  </div>
</div>
{{#content "script" mode="append"}}
<script type="text/javascript" src="/assets/js/moment.min.js"></script>
<script type="text/javascript" src="/assets/js/select2.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-multiselect.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $("#estimated_revenue").inputmask("numeric", {
      radixPoint: ".",
      groupSeparator: ",",
      digits: 2,
      autoGroup: true,
      prefix: '$ ',
      rightAlign: false
    });
    $("#frmEditReferral").validate({
      rules: {
        attr_id: {
          required: true
        },
        first_name: {
          required: true
        },
        last_name: {
          required: true
        },
        org_name: {
          required: true
        },
        email: {
          required: true
        },
        mobile_no: {
          required: true
        },
        target_id: {
          required: true
        },
        client_id: {
          required: true
        },
        gender: {
          required: true
        },
        estimated_revenue: {
          required: true
        },
        address1: {
          required: true
        },
        country: {
          required: true
        },
        state: {
          required: true
        },
        city: {
          required: true
        },
        zipcode: {
          required: true
        },
        referred_id_t: {
          required: true
        },
        referred_id_c: {
          required: true
        },
        association: {
          required: true
        },
        industry_type: {
          required: true
        }
      },
      messages: {
        attr_id: {
          required: "Please select one attorney"
        },
        first_name: {
          required: "First name can't be blank"
        },
        last_name: {
          required: "Last name can't be blank"
        },
        org_name: {
          required: "Organization name can't be blank"
        },
        email: {
          required: "Email ID can't be blank"
        },
        mobile_no: {
          required: "Mobile number can't be blank"
        },
        target_id: {
          required: "Please select reffered name"
        },
        client_id: {
          required: "Please select reffered name"
        },
        gender: {
          required: "Please select gender"
        },
        estimated_revenue: {
          required: "Estimated revenue can't be blank"
        },
        address1: {
          required: "Address can't be blank"
        },
        country: {
          required: "Please Choose your country"
        },
        state: {
          required: "Please Choose your state"
        },
        city: {
          required: "Please Choose your city"
        },
        zipcode: {
          required: "Please Choose your zipcode"
        },
        referred_id_t: {
          required: "Please select target"
        },
        referred_id_c: {
          required: "Please select client"
        },
        association: {
          required: "association can't be blank"
        },
        industry_type: {
          required: "industry type can't be blank"
        }
      }
    });
  });

  $(document).on('click', '#individual_referral', function () {
    $('#indi_referral').show();
    $('#org_referral').hide();
  });

  $(document).on('click', '#organization_referral', function () {
    $('#indi_referral').hide();
    $('#org_referral').show();
  });


  $(document).on('click', '#referral_type', function () {
    $('#target_list').show();
    $('#client_list').hide();
  });

  $(document).on('click', '#organization_type', function () {
    $('#target_list').hide();
    $('#client_list').show();
  });
</script> {{/content}}