{{#content "style" mode="prepend"}}
<link rel="stylesheet" type="text/css" href="/assets/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-multiselect.css">
<link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-datetimepicker.min.css"> {{/content}}

<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="tcr-view">
      <div class="card-box">
        <div class="info">
          <div class="row">
            <div class="col-sm-8">
            </div>

            <div class="col-sm-4">
              <div class="text-right">
                <a href="/referral/edit/{{referral.id}}" class="btn btn-primary pull-right rounded">
                  <i class="fa fa-pencil"></i> Edit Referral Sources</a>

                  <a href="/referral" class="btn btn-primary pull-right rounded m-r-5"><i class="fa fa-arrow-left"></i>Back</a>
                </div>
              </div>


            </div>
            <div class="row">
              <div class="col-md-3 col-sm-3">
                <div class="text-center top-desc">
                  <img src="https://cdn1.iconfinder.com/data/icons/flat-business-icons/128/user-512.png" alt="" height="100" width="100">
                  <h4>
             <h4>{{referral.first_name}} {{referral.last_name}}</h4>
                  </h4>

              <h6>{{referral.email}}</h6>

                </div>
              </div>
              <div class="col-md-9">
                <div class="info-tile address-target">
                  <div class="col-md-12">

                    <div class="row">
                      <div class="col-md-4 col-sm-4 col-xs-4 border-divider address-panel">
                        <div class="row">
                          <div class="col-xs-3">
                            <img src="https://cdn3.iconfinder.com/data/icons/black-white-social-media/32/logo_social_media_location-512.png" alt="" height="48"
                            width="48">
                          </div>
                          <div class="col-xs-9">
                              <p>
                                {{referral.address1}}, {{#if referral.address2}}{{referral.address2}},{{/if}} {{#if referral.address3}}{{referral.address3}},{{/if}}
                                <br> {{city.name}}, {{state.name}},
                                <br> {{zipcode.zip}}, {{country.name}}
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-4 border-divider address-panel">
                        <div class="row">
                          <div class="col-xs-3">
                            <img src="https://cdn3.iconfinder.com/data/icons/black-white-social-media/32/logo_social_media_phone-2-512.png" alt="" height="48"
                            width="48">
                          </div>
                          <div class="col-xs-9">
                           <span>M:</span>
                            <p class="number_validator">
                                {{referral.mobile}}
                            </p>
                            <span>P:</span>
                            <p class="number_validator">
                                {{referral.phone_no}}
                            </p>
                            <span>F:</span>
                            <p class="number_validator">
                                {{referral.fax}}
                            </p>
                          </div>
                        </div>
                      </div>

                      
                    </div>

                    <div class="row">
                      
                      
                      <div class="col-md-4 col-sm-4 col-xs-4 border-divider address-panel">
                        <div class="row">
                          <div class="col-xs-3">
                            <img src="https://cdn4.iconfinder.com/data/icons/e-commerce-icon-set/48/Username_2-512.png" alt="" height="48" width="48">
                          </div>
                          <div class="col-xs-9">

                    {{#if_eq referral.target_type "O"}}
                                              <p>Organization</p>
                                              {{else}}
                                              <p>Individual</p>
                                              {{/if_eq}}


                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-4 address-panel">
                        <div class="row">
                          <div class="col-xs-3">
                            <img src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_group_work_48px-512.png" alt="" height="48"
                            width="48">
                          </div>
                          <div class="col-xs-9">
                            <p>
                              Total Activity: {{count_activity}}
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            
          </div>
        </div>
        {{!-- Starts Info Tabs --}}
        <div class="card-box tab-box">
          <div class="row user-tabs">
            <div class="col-lg-12 col-md-12 col-sm-12 line-tabs">
              <ul class="nav nav-tabs tabs nav-tabs-bottom">
                <li class="active col-sm-4"><a data-toggle="tab" href="#activities">Activities</a></li>
                <li class="col-sm-4"><a data-toggle="tab" href="#refferedinfo">Referred Targets & Clients Information</a></li>
                <li class="col-sm-4"><a data-toggle="tab" href="#otherinfo">Other Information</a></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="tab-content  profile-tab-content">
                <div id="activities" class="tab-pane fade in active">
                        <div class="card-box">
                                  <div class="row">
                                      <div class="col-md-12">
                                          <div class="table-responsive">
                                              <table class="table table-striped custom-table datatable">
                                                  <thead>
                                                      <tr>
                                                          <th>SL#</th>
                                                          <th>Activity Name</th>
                                                          <th>From Date</th>
                                                          <th>To Date</th>
                                                          <th>Remarks</th>
                                                          <th>Status</th>
                                                      </tr>
                                                  </thead>
                                                  <tbody>
                                                      {{#each activity_details}}
                                                      <tr>
                                                                    <td>{{math @index "+" 1}}</td>
                                                                    <td>
                                                                        <a href="/activity/view/{{this.activity.id}}" id="setUrlItem">{{this.activity.activity_name}}</a>
                                                                    </td>
                                                                    <td>{{dateFormat this.activity.activity_from_date "DD-MM-YYYY"}}</td>
                                                                    <td>{{dateFormat this.activity.activity_to_date "DD-MM-YYYY"}}</td>
                                                                    <td>{{this.activity.remarks}}</td>
                                                                    <td> {{#if_eq this.activity.activity_status '0'}} NEW ACTIVITY
                                                                        - CREATED {{/if_eq}} {{#if_eq this.activity.activity_status
                                                                        '1'}} PENDING APPROVAL - IN-PROGRESS {{/if_eq}} {{#if_eq
                                                                        this.activity.activity_status '2'}} APPROVED - PROCEED {{/if_eq}}
                                                                        {{#if_eq this.activity.activity_status '3'}} NOT APPROVED
                                                                        - DISCARD ACTIVITY {{/if_eq}}
                                                                    </td>
                                                                </tr>
                                                      {{/each}}
                                                  </tbody>
                                              </table>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                     </div>
                <div id="refferedinfo" class="tab-pane fade">
                            <div class="container">
                                             <div class="row">
                                                    <div class="col-md-12">
                                                      <div class="table-responsive">
                                                        <table class="table table-striped custom-table datatable">
                                                          <thead>
                                                            <tr>
                                                              <th>SL#</th>
                                                              <th>Target / Client</th>
                                                              <th>Type</th>
                                                              <th>Email</th>
                                                            </tr>
                                                          </thead>
                                                          <tbody>
                                                            {{#each referredListArr}}
                                                            <tr>
                                                              <td>{{math @index "+" 1}}</td>
                                                              <td>{{this.name}}</td>
                                                              <td>{{this.type}}</td>
                                                              <td>{{this.email}}</td>
                                                            </tr>
                                                            {{/each}}
                                                          </tbody>
                                                        </table>
                                                      </div>
                                                    </div>
                                                  </div>
                                        </div>     
                                        
                                        
                          </div>
                   <div class="container">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <ul class="personal-info other-info">
                                                        <li>
                                                            <span class="title">Gender:</span>
                                                            <span class="text">
                                                                {{#if_eq referral.gender "M"}} Male {{/if_eq}}
                                                                {{#if_eq referral.gender "F"}} Female {{/if_eq}}
                                                                {{#if_eq referral.gender "O"}} Other {{/if_eq}}
                                                            </span>
                                                        </li>
                                                        <li>
                                                            <span class="title">Company Name:</span>
                                                            <span class="text">{{referral.company_name}}</span>
                                                        </li>
                                                        <li>
                                                            <span class="title">IM:</span>
                                                            <span class="text">{{referral.im}}</span>
                                                        </li>
                                                        <li>
                                                            <span class="title">Website URL:</span>
                                                            <span class="text">{{referral.website_url}}</span>
                                                        </li>
                                                        <li>
                                                            <span class="title">Twitter:</span>
                                                            <span class="text">{{referral.twitter}}</span>
                                                        </li>
                                                        <li>
                                                            <span class="title">Linkedin:</span>
                                                            <span class="text">{{referral.linkedin}}</span>
                                                        </li>
                                                        <li>
                                                            <span class="title">Google:</span>
                                                            <span class="text">{{referral.google}}</span>
                                                        </li>
                                                        <li>
                                                            <span class="title">Facebook:</span>
                                                            <span class="text">{{referral.social_url}}</span>
                                                        </li>
                                                        <li>
                                                            <span class="title">Youtube:</span>
                                                            <span class="text">{{referral.youtube}}</span>
                                                        </li>
                                                        <li>
                                                            <span class="title">Association Status:</span>
                                                            <span class="text">{{referral.association}}</span>
                                                        </li>
                                                        <li>
                                                            <span class="title">Industry Type:</span>
                                                            <span class="text">{{referral.industry_type}}</span>
                                                        </li>
                                                        <li>
                                                            <span class="title">Remarks:</span>
                                                            <span class="text">{{referral.remarks}}</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        {{!-- Ends Info Tabs --}}
      </div>
    </div>

  </div>
  {{#content "script" mode="append"}}
  <script type="text/javascript" src="/assets/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="/assets/js/dataTables.bootstrap.min.js"></script>
  <script type="text/javascript" src="/assets/js/moment.min.js"></script>
  <script type="text/javascript" src="/assets/js/select2.min.js"></script>
  <script type="text/javascript" src="/assets/js/bootstrap-multiselect.js"></script>
  <script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>
  <script type="text/javascript">
    $(document).on('click', "#setUrlItem", function () {
      localStorage.removeItem('url');
      localStorage.setItem("url", window.location.pathname);
    });
    $(document).on('click', '#expandBtn', function () {
      $("#expandToggle").toggle();
      $("i", this).toggleClass("fa fa-arrow-up fa fa-arrow-down");
    });
    $(document).ready(function () {
      $("#frmEditReferral").validate({
        rules: {
          attr_id: {
            required: true
          },
          first_name: {
            required: true
          },
          last_name: {
            required: true
          },
          org_name: {
            required: true
          },
          email: {
            required: true
          },
          mobile_no: {
            required: true
          },
          target_id: {
            required: true
          },
          client_id: {
            required: true
          },
          remarks: {
            required: true
          }
        },
        messages: {
          attr_id: {
            required: "Please select one attorney"
          },
          first_name: {
            required: "First name can't be blank"
          },
          last_name: {
            required: "Last name can't be blank"
          },
          org_name: {
            required: "Organization name can't be blank"
          },
          email: {
            required: "Email ID can't be blank"
          },
          mobile_no: {
            required: "Mobile number can't be blank"
          },
          target_id: {
            required: "Please select reffered name"
          },
          client_id: {
            required: "Please select reffered name"
          },
          remarks: {
            required: "Remarsks can't be blank"
          }
        }
      });
    });

    $(document).on('click', '#individual_referral', function () {
      $('#indi_referral').show();
      $('#org_referral').hide();
    });

    $(document).on('click', '#organization_referral', function () {
      $('#indi_referral').hide();
      $('#org_referral').show();
    });


    $(document).on('click', '#referral_type', function () {
      $('#target_list').show();
      $('#client_list').hide();
    });

    $(document).on('click', '#organization_type', function () {
      $('#target_list').hide();
      $('#client_list').show();
    });

  //hide show type
  let _msType = $('#_contactInformation').val();
  if (_msType === 'O') {
    $('#org_type').show();
    $('#indivisual_type').hide();
    $('#m_s_contactInformation').show();
  } else {
    $('#org_type').hide();
    $('#indivisual_type').show();
    $('#m_s_contactInformation').hide();
  }


</script> {{/content}}