{{#content "style" mode="prepend"}}
<link rel="stylesheet" type="text/css" href="/assets/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-datetimepicker.min.css"> {{/content}}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="pg-header">
            <div class="row">
                {{#if success_message}}
                <div class="alert alert-danger">
                    <strong>Error! </strong>{{success_message}}
                </div>
                {{/if}}
                <div class="col-xs-4">
                    <h4 class="page-title">TEAM ACTIVITY APPROVALS LIST</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table datatable activity-approvals" id="searchData">
                        <thead>
                            <tr>
                                <th>SL#</th>
                                <th>Activity Name</th>
                                <th>Approval Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="mainTable">
                            {{#each teamActivityAttorney}}
                            <tr>
                                <td>{{math @index "+" 1}}</td>
                                <td>{{this.activity.activity_name}} </td>
                                <td>{{#if_eq this.status "0"}}<span class="label label-warning-border">Pending</span>{{/if_eq}} {{#if_eq this.status "1"}} <span class="label label-success-border">Approve</span> {{/if_eq}} {{#if_eq this.status "2"}} <span class="label label-danger-border">Reject</span> {{/if_eq}} </td>
                                <td><button type="button" class="btn btn-success btn-sm requestApproval" id="requestApproval" data-activity-request-id={{this.activity_id}} ><i class="fa fa-check-circle" aria-hidden="true"></i></button> 
                                <button type="button" class="btn btn-danger btn-sm requestReject" id="requestReject"  data-activity-request-id={{this.activity_id}} ><i class="fa fa-times-circle" aria-hidden="true"></i></button></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
{{#content "script" mode="append"}}
<script type="text/javascript" src="/assets/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/assets/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
<script type="text/javascript" src="/assets/js/select2.min.js"></script>
<script type="text/javascript" src="/assets/js/moment.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>ACTIVITY 

<script type="text/javascript">

// approve and reject
$(document).on('click', '.requestApproval', function (e) {
    var activity_id = $(this).data("activity-request-id");
    swal({
      title: "Are you sure?",
      text: "You want to approve?",
      type: "warning",
      showCancelButton: true,
      confirmButtonClass: "btn-danger",
      confirmButtonText: "Yes",
      closeOnConfirm: false
    }, function () {
      $.ajax({
        type: "GET",
        url: "/tempActivity/approvalRequest/",
        data: {
            approvalStatus: 'approva',
            activity_id: activity_id
        },
        success: function (response) {
          if (response.success == true) {
            swal({
              title: "Nice!",
              text: "Approval successfully",
              type: "success"
            }, function () {
              window.location.reload();
            });
          }
        }
      });
    });
  });

$(document).on('click', '.requestReject', function (e) {
    var activity_id = $(this).data("activity-request-id");
    swal({
      title: "Are you sure?",
      text: "You want to reject?",
      type: "warning",
      showCancelButton: true,
      confirmButtonClass: "btn-danger",
      confirmButtonText: "Yes",
      closeOnConfirm: false
    }, function () {
      $.ajax({
        type: "GET",
        url: "/tempActivity/approvalRequest/",
        data: {
            approvalStatus: 'reject',
            activity_id: activity_id
        },
        success: function (response) {
          if (response.success == true) {
            swal({
              title: "Nice!",
              text: "Reject sent successfully",
              type: "success"
            }, function () {
              window.location.reload();
            });
          }
        }
      });
    });
  });

</script>

{{/content}}